.main{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}
.create{
    display: flex;
    /* background-color: aqua; */
    justify-content: start;
    width: 100vw;
    height: 10vh;
    color: #FFFFFF;
    font-size: 32px;
    padding-left: 82px;
    font-weight: 600;
}
.create-class{
    display: flex;
    align-items: start;
    justify-content: start;
    width: 922px;
    height: 405px;
    background-color: #b9bdf543;
    margin-top: 43px;
    border-radius: 15px;
    flex-direction: column;

}
.text{
    margin-top: 21px;
    margin-left: 26px;
    font-size: 24px;
    color: #FFFFFF;
    font-weight: 600;
}
.inp1{
    width: 100%;
    /* background-color: aqua; */
    padding-left: 36px;
    gap: 208px;
    display: flex;
    align-items: center;
    justify-content: start;
}
.sel{
    width: 246;
    gap: 10px;
    display: flex;
    color: #FFFFFF;
    font-size: 20px;
    flex-direction: column;
}
.sels{
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    justify-content: center;
}
.inp2{
    width: 708px;
    height: 107px;
    border-radius: 9px;
    border: #000000 1px solid;
    background-color: #ffffffbc;
    display: flex;
    padding-left: 10px;
    
}
.inp{
    margin-top: 37px;
    margin-left: 36px;
}
.lstin{
    margin-top: 37px;
    margin-left: 36px;
    display: flex;
    gap: 66px;
}
.name{
    width: 393px;
    height: 41px;
    border-radius: 9px;
    color: #00000037;
    padding-left: 5px;
    border: 1px #000000 solid;
}
.sel1, .sel2{
    width: 100px;
    height: 41px;
    border-radius: 9px;
    background-color: #ffffffc7;
    color: #000000;
    border: transparent;
    cursor: pointer;
}
.obj{
    width: 487px;
    height: 41px;
    background-color: #ffffffc8;
    border: #000000 1px solid;
    border-radius: 9px;
    cursor: pointer;
}
.choo{
    width: 287px;
    height: 48px;
    background-color: #A675D0;
    border-radius: 9px;
    border: #000000 1px solid;
    cursor: pointer;
    color: #FFFFFF;
}
.bottom-div{
    width: 1000px;
    height: 169px;
    border: #C99208 3px solid;
    border-radius: 33px;
    margin-top: 97px;
}
.list{
    position: relative;
    display: flex;
    width: 100px;
    height: 230px;
    background-color: #ffffffc5;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    border: #000000 1px solid;
    border-radius: 9px;
    flex-direction: column;
}
.list2{
    position: relative;
    display: flex;
    width: 100px;
    /* height: 163px; */
    background-color: #ffffffc5;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    border: #000000 1px solid;
    border-radius: 9px;
    flex-direction: column;
}
.list3{
    position: relative;
    display: flex;
    width: 220px;
    background-color: #ffffffc5;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-left: 40px;
    border-radius: 9px;
    flex-direction: column;
}
.list4{
    position: relative;
    display: flex;
    width: 220px;
    background-color: #A675D0;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-left: 40px;
    border-radius: 9px;
    flex-direction: column;
    border: 1px solid #343434;
}
.box{
    width: 100px;
    height: 26px;
    border: #000000 1px solid;
}
.box2{
    width: 100%;
    height: 26px;
}
.box3{
    width: 100%;
    height: 26px;
    color: #FFFFFF;
    padding: 20px;

}
.box3:hover{
    background-color: #652999;
}
.box2:hover{
    background-color: #9a5bd0;
}
.box:hover{
    background-color: #9a5bd0;
}
.circle{
    width: 20px;
    height: 20px;
    background-color: #76489E;
    margin-top: -20px;
    margin-left: -10px;
    border-radius: 100px;
    border: 3px #343434 solid;
}