*{
    font-size: 2vh;
}

.main{
    width: 100vw;
    /* height: 90vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* напівпрозорий чорний */
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease;
    z-index: 1000; /* Менше ніж у .modal-image */
}

.modal-backdrop.active {
    opacity: 1;
    pointer-events: auto;
}

.modal-image {
    position: fixed;
    left: 50%;
    bottom: 0; /* Замість top */
    transform: translateX(-50%) translateY(100%); /* Початково сховане знизу */
    width: 40vw;
    height: 60vh;
    border-radius: 2vh;
    background-color: #343434;
    display: flex;
    flex-direction: column;
    border: 0.1vh #94C4FF solid;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    transition: transform 0.3s ease, opacity 0.3s ease;
    z-index: 1001;
}

.modal-image.active {
    transform: translateX(-50%) translateY(-25%); /* Підіймається вгору */
    opacity: 1;
    pointer-events: auto;
}

button, a, img{
    cursor: pointer;
}

.input_file{
    display: none;
}

.delete-answer, .load_image{
    display: flex;
    width: 3vh;     
    height: 3vh;
    background-color: #94C4FF; 
    position: absolute;
    top: 1vh;
    right: 1vh;
    border: 0.1vh solid #ffff;
    border-radius: 0.4vh; 
    cursor: pointer;  
}

.load_image{
    right: 5vh;
}

.load_button{
    background: none;
    border: none;
}

.show_image{
    width: 100%;
    height: 55%;
    /* background-color: gold; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttom-floor{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: start;
    /* background-color: #C48AF7; */
    padding-right: 1vw;
    gap: 1.5vw;
    padding-top: 2vh;
}

.back-button{
    background: none;
    border: none;
    background-color: none;
    font-size: 2.5vh;
    color: #ffffff;
    font-weight: 500;
}

.apply-image{
    border: none;
    color: #ffffff;
    font-size: 2.5vh;
    padding: 1vh;
    border-radius: 0.5vh;
    background-color: #C48AF7;
    transform: translateY(-0.8vh);
    font-weight: 500;
}

.delete-photo{
    margin-right: 20%;
}

/* .top-floor{
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding-left: 3vw;
} */

.example_image{
    width: 6vh;
    height: 6vh;
    transform: translateY(0.5vh);
    z-index: 1;
}

#show_image_test{
    object-fit: contain; 
    width: 100%;
    height: 100%; 
}

#show_image_test{
    font-size: 0;
}

label[for="image"] {
    /* display: inline-flex; */
    align-items: center;
    cursor: pointer;
    padding: 1vh 2vw;
    background-color: none;
    color: #C48AF7;
    border: none;
    background: none;
    border-radius: 0.8vh;
    font-weight: bold;
    font-size: 2.5vh;
    font-weight: 550;
    transition: 0.3s;
}

.information-test{
    width: 100vw;
    height: 40vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: space-between;
    gap: 12vw;
    margin-top: 5vh;
}

.change-information{
    height: 38vh;
    width: 40vw;
    background-color: rgb(148, 196, 255, 29%);
    display: flex;
    flex-direction: column;
    position: relative;
}

.text-information{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 2vw;
}

.text-information p{
    color: #ffffff;
    font-weight: 500;
    font-size: 3vh;
}

.category-test, .theme-test, .creator-test, .count-questions{
    width: 100%;
    height: 15%;
    /* background-color: green; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    padding: 0 2vw;
}

.theme-test{
    position: relative;
    justify-content: space-between;
}

#newTitle{
    position: absolute;
    margin-left: 3vw;
    border: 0.1vh solid #C48AF7;
    border-radius: 0.5vh;
    background-color: #343434;
    color: #fff;
}

.invisible{
    display: none;
}

#changeTitleBtn{
    width: 8vw;
    height: 3vh;
    border: 0.1vh solid #343434;
    border-radius: 0.5vh;
    background-color: #94C4FF;
    color: #fff;
}

.change-information div p span{
    color: #fff;
}

.settings-buttons{
    width: 100%;
    height: 35%;
    /* background-color: purple; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 2vw;
    padding-right: 2vw;
}

.save-changed, .delete-test{
    border-radius: 0.5vh;
    background-color: #827B88;
    padding: 0.5vw 0.8vw 0.5vw 0.8vw;
    color: #ffffff;
    font-size: 1vw;
    border: 0.12vw black solid;
}

.delete-test{
    background-color: #FF767C;
}

.change-image{
    height: 38vh;
    width: 17vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.outline-image{
    border: 0.17vw #ffffff solid;
    width: 98%;
    height: 80%;
    border-radius: 1vh;
}

.image{
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.change-image button{
    display: flex;
    justify-content: center;
    gap: 1vw;
    background-color: #C48AF7;
    width: 100%;
    height: 15%;
    border-radius: 0.5vh;
    border: none;
    color: #ffffff;
    font-size: 3vh;
    font-weight: 500;
}

.add-image{
    width: 5vh;
    height: 5vh;
}

.outline{
    width: 100vw;
    height: 5vh;
    background-color: #575B64;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding-left: 5vw;
}

.outline p{
    color: #ffffff;
    font-size: 3.5vh;
    font-weight: 500;
}

.list-questions{
    overflow-y: scroll;
    width: 80vw;
    background-color: #8abbf752;
    border-radius: 3.5vh;
    display: flex;
    align-items: center;
    gap: 5vh;
    flex-direction: column;
    padding: 5vw 0;
}

.back1{
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.back2{
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.space-div{
    background-color: #343434;
    width: 70vw;
    height: 27vh;
    border-radius: 2.5vh;
    border: 0.1vh solid #94C4FF;
    
}
.head{
    width: 100%;
    height: 10vh;
    position: relative;
}

.head-bg{
    width: 70vw;
}

.del{
    position: absolute;
    top: 1vh;
    right: 1vw;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3vh;
    cursor: pointer;
}
.head p{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #ffffff;
    top: 50%;
    left: 36%;
}

.btn{
    position: absolute;
    width: 10vw;
    height: 3.1vh;
    color: #ffffff;
    background-color: #94C4FF;
    border-radius: 0.7vh;
    border: solid 0.1vh #343434;
    top: 120%;
    left: 2%;
}


.answers{
    display: flex;
    justify-content: start;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 1vh;
    margin-top: 6vh;
    padding: 1vw;
    height: fit-content;
}

.variant{
    display: flex;
    justify-content: start;
    gap: 0.8vw;
    width: 45%;
    height: 50%;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.circle{
    width: 1.7vw;
    height: 1.7vw;
    border: 0.1vh solid #94C4FF;
    border-radius: 50%;
    flex-shrink: 0; /* не дозволяти зжиматись у flex-контейнері */
    flex-grow: 0;
}

.answer{
    white-space: normal;        
    word-break: break-word;     
    overflow-wrap: break-word;  
    overflow: hidden; 
    font-size: 1.7vh;
    color: #ffffff;
}

@media (max-width: 600px) {
    .del {
        width: 20px;
        height: 20px;
    }
}