.tick-circle{
    display: none;
}

.question-name{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 90vw;
    height: 40vh;
    border: 1px solid #C48AF7;
    border-radius: 10px;
    background: linear-gradient(210deg, #c48af76e, #ac90f325, #92bede2f, #96c4da65, #92bede1e, #ac90f33b, #c48af76b);
}

.question{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 70px;
    border-radius: 5px;
    border: none;
    background-color: #3C3C3C;
    border: 1px solid #C48AF7;
    font-size: 24px;
    text-align: center;
}

.image-container{
    height: fit-content;
    padding: 10px;
    gap: 30px;
}

.add-image{
    cursor: pointer;
    display: flex;
    width: 236px;
    height: 34px;
    gap: 10px;
    border-radius: 5px;   
    border: none;
    background-color: #C48AF7;
    font-size: 20px;
    text-align:center;
    justify-content: center;
    font-weight: 600;
}

.is-image button{
    padding-bottom: 10px;
}

.is-image{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    animation: appear-top 0.5s;
}

.img-success{
    width: fit-content;
    padding: 5px;
    border-radius: 5px;
    background-color: #343434;
    text-align: center;
}