*{
    color: white;
}

body header{
    display: none;
}

li, .timer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li img{
    width: 30px;
    height: 30px;
}

.timer-p img{
    width: 30px;
    height: 30px;
}

body .main{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.pseudo-header{
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    width: 100%;
    height: 50px;
}

.pseudo-header div{
    display: flex;
    gap: 10px;
} 

.pseudo-header .category-questions{
    display: none;
}

.back-button .back-button{
    background-color: green;
}

.back-button img{
    width: 30px;
    height: 30px;
    /* background: none; */
}

.timer{
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.timer-p{
    width: 190px;
    align-items: center;
    cursor: pointer;
    background: #7291B8;
    padding: 6px 14px;
    border-radius: 5px;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin-right: 44px;
}

.hidden-list{
    display: none;
}

#timeList{
    position: absolute;
    top: 50px;
    right: 45px;
    width: 190px;
    border-radius: 5px;
    cursor: pointer;
    background: #7291B8;
    list-style-type: none;
    animation: appear 0.5s;
}

#timeList li{
    padding: 6px 14px;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
}

.add-question {
    display: flex;
    width: 232px;
    height: 35px;
    background-color: #c591f6;
    border-radius: 5px;
    border: 0px;
    color: #ffff;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
}

.grey{
    background-color: #636262;
    color: #343434;
}

.question-name{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 90vw;
    height: 40vh;
    border: 1px solid #C48AF7;
    border-radius: 10px;
    background: linear-gradient(210deg, #c48af76e, #ac90f325, #92bede2f, #96c4da65, #92bede1e, #ac90f33b, #c48af76b);
}

.question{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 70px;
    border-radius: 5px;
    border: none;
    background-color: #3C3C3C;
    border: 1px solid #C48AF7;
    font-size: 24px;
    text-align: center;
}

.confirm-question{
    display: none;
}

.image-container{
    height: fit-content;
    padding: 10px;
    gap: 30px;
}


.add-image{
    cursor: pointer;
    display: flex;
    width: 236px;
    height: 34px;
    gap: 10px;
    border-radius: 5px;   
    border: none;
    background-color: #C48AF7;
    font-size: 20px;
    text-align:center;
    justify-content: center;
    font-weight: 600;
}

.is-image button{
    padding-bottom: 10px;
}

.is-image{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    animation: appear-top 0.5s;
}

.img-success{
    width: fit-content;
    padding: 5px;
    border-radius: 5px;
    background-color: #343434;
    text-align: center;
}

h3{
    font-size: 24px;
}

.answers-container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    width: 100%;
}

.for-image{
    position: relative;
    width: 100%;
    min-height: 70%;
    max-height: 70%;
    /* padding: 5px 0px 5px 0px; */
    border-radius: 5px;
    border: #dad3d3 2px solid;
}

.for-image img{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.answer-block{
    position: relative;
    width: 250px;
    height: 280px;
    border-radius: 15px;
    background-color: #6D94C4;
    animation: appear-card 0.5s;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    padding-top: 40px;
}

.inside-data{
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: 10px;
    align-items: center;
    justify-content: center;
    /* background-color: green; */
}



textarea.answer {
    position: relative;
    width: 90%;
    /* min-height: 40px; */
    /* max-height: 300px; */
    height: 80%;
    resize: none;
    /* overflow-y: hidden; */
    text-align: center;
    /* font-size: 3vh; */
    box-sizing: border-box;
    /* background-color: green; */
}

.invisible{
    display: none;
}



textarea.answer::placeholder {
    text-align: center;
}

.image1, .image2, .image3, .image4{
    display: none;
}


.hidden{
    display: none;
}

.hidden-button{
    display: none;
}

.tick-circle{
    display: none;
}

.answer{
    position: absolute;
    border: none;
    background-color: #6D94C4;
    width: 80%;
    height: 50%;
    font-size: 24px;
}

ul{
    cursor: pointer;
}

.answer::placeholder{
    color: white;
}
.answer:focus{
    outline: none;
}

.button img{
    width: 60px;
    height: 60px;
}

.detector{
    width: 30px;
    height: 30px;
    border: 3px solid #ffff;
    border-radius: 50%;
    background-color: #94C4FF;
    background-size: 8px 8px;
    position: absolute;
    top: -5px;
    left: -5px;
}

.delete-answer{
    display: flex;
    width: 30px;     
    height: 30px;
    background-color: #94C4FF; 
    position: absolute;
    top: 10px;
    right: 10px;
    border: 1px solid #ffff;
    border-radius: 4px; 
    cursor: pointer;  
}

.load_image{
    display: flex;
    width: 30px;     
    height: 30px;
    background-color: #94C4FF; 
    position: absolute;
    top: 10px;
    right: 50px;
    border: 1px solid #ffff;
    border-radius: 4px; 
    cursor: pointer;  
}



.small-img{
    width: 25px;
    height: 25px;
}

.left-part{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.type-question{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #7291B8;
    width: 18vw;
    height: 35px;
    
    /* padding-top: 10px; */
    /* padding-bottom: 10px; */
    margin-left: 30px;
    position: relative;
}

.type-question p{
    font-size: 18px;
    font-weight: 500;
}

.category-questions{
    position: absolute;
    top: 0;
    width: 18vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: #7291B8;
    padding-left: 10px;
    padding-right: 5px;
    border-radius: 5px;
    margin-top: 55px;
    padding-top: 15px;
    padding-bottom: 15px;
    white-space: nowrap;
    display: none;
}

.category-questions li{
    font-size: 14px;
    font-weight: 600;
}

.category-questions input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    width: 24px;
    height: 24px;
    border: 3px solid #2C2C2C;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    background-color: transparent;
    margin-right: 10px;

}


.category-questions input[type="radio"]:checked::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #2C2C2C;
    border-radius: 50%;
    opacity: 0.6;
}

.button-open{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

@keyframes appear{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes appear-card{
    from{
        opacity: 0;
        left: -50px;
    }
    to{
        opacity: 1;
        left: 0px;
    }
}

@keyframes appear-top{
    from{
        opacity: 0;
        top: -50px;
    }
    to{
        opacity: 1;
        top: 0px;
    }
}



