*{
    color: white;
}

body header{
    display: none;
}

body .main{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.pseudo-header{
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    width: 100%;
    height: 50px;
}

.pseudo-header div{
    display: flex;
    gap: 10px;
}

.test-button img{
    width: 30px;
    height: 30px;
}

.timer {
    align-items: center;
    cursor: pointer;
    background: #7291B8;
    padding: 6px 14px;
    border-radius: 5px;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin-right: 44px;
}

.add-question {
    display: flex;
    width: 232px;
    height: 35px;
    background-color: #C48AF7;
    border-radius: 5px;
    border: 0px;
    color: #ffff;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
}


.question-name{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 90vw;
    height: 40vh;
    border: 1px solid #C48AF7;
    border-radius: 10px;
    background: linear-gradient(210deg, #c48af76e, #ac90f325, #92bede2f, #96c4da65, #92bede1e, #ac90f33b, #c48af76b);
}

.question{
    width: 50%;
    height: 70px;
    border-radius: 5px;
    border: none;
    background-color: #3C3C3C;
    font-size: 24px;
    text-align: center;
}

.add-image{
    display: flex;
    width: 236px;
    height: 34px;
    padding: 10px;
    gap: 10px;
    border-radius: 5px;   
    border: none;
    background-color: #C48AF7;
    font-size: 20px;
}

h3{
    font-size: 24px;
}

.answers-container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    width: 100%;
}

.answer-block{
    position: relative;
    display: flex;
    width: 250px;
    height: 280px;
    padding: 10px;
    border-radius: 15px;
    background-color: #6D94C4;
}

.hidden{
    display: none;
}

.hidden-button{
    display: none;
}

.answer{
    position: absolute;
    border: none;
    background-color: #6D94C4;
    width: 80%;
    height: 10%;
    font-size: 24px;
}
.answer::placeholder{
    color: white;
}

.button img{
    width: 60px;
    height: 60px;
}

.detector{
    width: 30px;
    height: 30px;
    border: 3px solid #ffff;
    border-radius: 50%;
    background-color: #94C4FF;
    background-size: 8px 8px;
    position: absolute;
    top: -5px;
    left: -5px;
}

.delete-answer{
    display: flex;
    width: 30px;     
    height: 30px;
    background-color: #94C4FF; 
    position: absolute;
    top: 10px;
    right: 10px;
    border: 1px solid #ffff;
    border-radius: 4px; 
    cursor: pointer;  
}

.small-img{
    width: 25px;
    height: 25px;
}