*{
    color: white;
}

body header{
    display: none;
}

li, .timer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li img, .timer-p img, .back-button img{
    width: 3vh;
    height: 3vh;
}

body .main{
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.pseudo-header{
    display: flex;
    justify-content: space-between;
    padding: 2vh 3vw;
    width: 100%;
    height: 10vh;
}

.pseudo-header div{
    display: flex;
    gap: 1vh;
} 

.pseudo-header .category-questions{
    display: none;
}

.back-button .back-button{
    background-color: green;
}

.timer{
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.timer-p{
    width: 15vw;
    height: 6vh;
    display: flex;
    align-items: center;
    cursor: pointer;
    background: #7291B8;
    padding: 0.6vh 1vw;
    border-radius: 0.5vh;
    font-size: 2.5vh;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin-right: 3vw;
    justify-content: space-between;
}

.timer-arrow {
    margin-left: 0.8vw;
    transition: transform 0.3s ease-in-out;
}

.timer-p.active .timer-arrow {
    transform: rotate(180deg);
}

#timeList{
    position: absolute;
    top: 5vh;
    left: 0;
    width: 15vw;
    border-radius: 0.5vh;
    cursor: pointer;
    background: #7291B8;
    list-style-type: none;
    animation: appear 0.5s;
    padding: 0;
    margin: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out;
    z-index: 1; 
}

.list-time{
    justify-content: center;
}

#timeList li{
    padding: 0.6vh 1vw;
    font-size: 2.5vh;
    font-family: 'Inter', sans-serif;
    color: white;
    border-top: 0.1vh solid rgba(255, 255, 255, 0.1);
}

#timeList li:first-child {
    border-top: none;
}

#timeList li:hover {
    background-color: #8daed6;
}

.add-question {
    display: flex;
    width: 20vw;
    height: 6vh;
    background-color: #c591f6;
    border-radius: 0.5vh;
    border: none;
    color: #ffff;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 2.5vh;
    text-decoration: none;
}

.grey{
    background-color: #636262;
    color: #343434;
}



.question-name{
    display: flex;
    flex-direction: column;
    gap: 2vh;
    width: 90vw;
    height: 40vh;
    border: 0.1vh solid #C48AF7;
    border-radius: 1vh;
    background: linear-gradient(210deg, #c48af76e, #ac90f325, #92bede2f, #96c4da65, #92bede1e, #ac90f33b, #c48af76b);
}

.question{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 7vh;
    border-radius: 0.5vh;
    border: none;
    background-color: #3C3C3C;
    border: 0.1vh solid #C48AF7;
    font-size: 3vh;
    text-align: center;
}

.confirm-question{
    display: none;
}

.image-container{
    height: fit-content;
    padding: 1vh;
    /* gap: 30px; */
}


.add-image{
    cursor: pointer;
    display: flex;
    width: 25vw;
    height: 3vh;
    border-radius: 0.5vh;   
    border: none;
    background-color: #C48AF7;
    font-size: 2.5vh;
    text-align:center;
    justify-content: center;
    font-weight: 600;
}

.is-image button{
    padding-bottom: 1vh;
}

.is-image{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    animation: appear-top 0.5s;
}

.img-success{
    width: fit-content;
    padding: 0.5vh;
    border-radius: 0.5vh;
    background-color: #343434;
    text-align: center;
}

h3{
    font-size: 3vh;
}

.answers-container{
    display: flex;
    flex-wrap: wrap;
    gap: 0.9vw;
    padding: 1vh;
    width: 100vw;
    background-color: green;
}

.for-image{
    position: relative;
    width: 100%;
    min-height: 70%;
    max-height: 70%;
    border-radius: 0.5vh;
    border: #dad3d3 0.2vh solid;
}

.for-image img{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.answer-block{
    position: relative;
    width: 20vw;
    height: 35vh;
    border-radius: 1.5vh;
    background-color: #6D94C4;
    animation: appear-card 0.5s;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    padding-top: 4vh;
}

.inside-data{
    width: 100%;
    height: 100%;
    padding: 1vh;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: 1vh;
    align-items: center;
    justify-content: center;
    /* background-color: green; */
}



textarea.answer {
    position: relative;
    width: 90%;
    height: 80%;
    resize: none;
    /* overflow-y: hidden; */
    text-align: center;
    /* font-size: 3vh; */
    box-sizing: border-box;
    /* background-color: green; */
}

.invisible{
    display: none;
}



textarea.answer::placeholder {
    text-align: center;
}

.image1, .image2, .image3, .image4{
    display: none;
}


.hidden{
    display: none;
}

.hidden-button{
    display: none;
}

.tick-circle{
    display: none;
}

.answer{
    position: absolute;
    border: none;
    background-color: #6D94C4;
    width: 80%;
    height: 50%;
    font-size: 3vh;
}

ul{
    cursor: pointer;
}

.answer::placeholder{
    color: white;
}
.answer:focus{
    outline: none;
}

.button img{
    width: 6vh;
    height: 6vh;
}

.detector{
    width: 3vh;
    height: 3vh;
    border: 0.3vh solid #ffff;
    border-radius: 50%;
    background-color: #94C4FF;
    background-size: 0.8vh 0.8vh;
    position: absolute;
    top: -0.5vh;
    left: -0.5vh;
}

.delete-answer, .load_image{
    display: flex;
    width: 3vh;     
    height: 3vh;
    background-color: #94C4FF; 
    position: absolute;
    top: 1vh;
    right: 1vh;
    border: 0.1vh solid #ffff;
    border-radius: 0.4vh; 
    cursor: pointer;  
}

.load_image{
    right: 5vh;
}

.small-img{
    width: 2.5vh;
    height: 2.5vh;
}

.left-part{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.type-question{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5vh;
    background-color: #7291B8;
    width: 18vw;
    height: 6vh;
    margin-left: 2vw;
    position: relative;
}

.type-question p{
    font-size: 2vh;
    font-weight: 500;
}

.category-questions{
    position: absolute;
    top: 0;
    width: 18vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: #7291B8;
    padding-left: 0.8vw;
    padding-right: 0.4vw;
    border-radius: 0.4vh;
    margin-top: 5vh;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    white-space: nowrap;
    display: none;
}

.category-questions li{
    font-size: 1.5vh;
    font-weight: 600;
}

.category-questions input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    width: 2.4vh;
    height: 2.4vh;
    border: 0.3vh solid #2C2C2C;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    background-color: transparent;
    margin-right: 0.8vw;

}


.category-questions input[type="radio"]:checked::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #2C2C2C;
    border-radius: 50%;
    opacity: 0.6;
}

.button-open{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

@keyframes appear{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes appear-card{
    from{
        opacity: 0;
        left: -4vw;
    }
    to{
        opacity: 1;
        left: 0;
    }
}

@keyframes appear-top{
    from{
        opacity: 0;
        top: -4vw;
    }
    to{
        opacity: 1;
        top: 0;
    }
}



