* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    width: 100vw;
    height: 100vh;
    background-color: #3C3C3C;
}

.leave_test {
    background-color: #E05359;
    color: #ffffff;
    font-size: 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: none;
    padding: 6px 25px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    padding: 10px;
    width: 100vw;
    height: 10vh;
    background-color: #343434;
}

.head-part {
    /* background-color: #94C4FF; */
    position: fixed;
    top: 0;
    width: 100vw;
    height: 8vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
}

.bonus-block {
    width: 40px;
    height: 30px;
    background-color: #C39FE4;
}

.settings {
    /* background-color: #646464; */
    padding: 7px 10px;
    border-radius: 4px;
}

span {
    cursor: pointer;
}

.progres {
    background-color: #C39FE4;
    border-radius: 4px;
    padding: 5px 10px;
}

.bonus {
    font-size: 20px;
    font-weight: lighter;
}

.question, .question-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 30vh;
    padding: 10px;
    /* background-color: green; */
}

.question-image {
    height: 20%;
    transform: translateY(-40px);
    /* background-color: #8ABBF7; */
}


.num-question {
    display: flex;
    background-color: #2D2D2D;
    border-radius: 5px;
    padding: 3px;
    border: 1px solid black;
    transform: translateY(5px);
}

.num-que {
    color: #C48AF7;
}

.question-test {
    font-size: 24px;
}

.question-bg {
    background-color: #2D2D2D;
    border-radius: 5px;
    padding: 10px;
}

#end-test {
    display: none;
}

.answers {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    width: 100vw;
    height: 50vh;
    /* background-color: #8ABBF7; */
    padding: 10px;
}

.answers-image {
    position: fixed;
    top: 8vh;
    bottom: 10vh;
    left: 0;
    right: 0;
    /* background-color: #C39FE4; */
    z-index: 1;
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.top-answers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40%;
    /* background-color: blue; */
    padding: 0px 60px;
}

.bottom-image {
    width: 23%;
    height: 69%;
    max-width: 350px;
    max-height: 300px;
    border-radius: 15px;
    /* gap: 10px; */
    /* padding: 10px; */
    background-color: none;
    border: 3px #ffffff solid;
    transition: 0.1s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-50px);
}

.bottom-image img{
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.coint {
    width: 26%;
    height: 98%;
    border-radius: 15px;
    gap: 10px;
    padding: 10px;
    font-size: 24px;
    /* background-color: red; */
    min-width: 200px;
    display: none;
    position: relative;
    transition: all 0.1s ease;
    border: 0px #ffffff solid;
    cursor: pointer;
}

.bottom-answers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0px 60px;
    height: 40%;
    /* background-color: #677689; */
}

.variant, .many-variant {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 44vh;
    border-radius: 15px;
    font-size: 24px;
    overflow: hidden;
    flex-wrap: wrap;
    word-break: break-word;
    padding: 5px;
    cursor: pointer;
}

.many-variant{
    background-color: #D9D9D9;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #94C4FF;
    height: 46vh;
    border-radius: 15px;
    font-size: 24px;
    overflow: hidden;
    flex-wrap: wrap;
    word-break: break-word;
    padding: 5px;
    position: relative;
    transition: all 0.1s ease;
    border: #ffffff solid;
    border-width: 0px;
}


.check-mark{
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: none;
}

.check-input {
    position: absolute;
    margin-top: 10px;
    margin-right: 10px;
    top: 0;
    right: 0;
    color: white;
    width: 30px;
    height: 30px;
    background-color: #4E4747;
    border: 1px #ffffff solid;
    border-radius: 3px;
}

.bonus-data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 14vw;
    padding-left: 5px;
}

.text-kem {
    padding-right: 7px;
}

.line {
    height: 7vh;
    border-left: 1px solid #ffffff;
}

/* анимации */
.fade-in {
    opacity: 0;
    transform: translateX(-30px);
    transition: opacity 0.4s ease, transform 0.4s ease;
}

.fade-in-right{
    opacity: 0;
    transform: translateX(30px);
    transition: opacity 0.4s ease, transform 0.4s ease;
}

.fade-up {
    opacity: 0;
    transform: translateY(-30px);
    transition: opacity 0.4s ease, transform 0.4s ease;
}

.show {
    opacity: 1;
    transform: translateX(0);
}

.show-question{
    opacity: 1;
    transform: translateY(10);
}


.ai-timer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 100%;
    gap: 5px;
    color: #3C3C3C;
    font-size: 24px;
}

.circle {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    background-color: #677689;
    transition: 1s;
    background: conic-gradient(#8ABBF7 0deg, #8ABBF7 360deg);
}

.inside-circle {
    border-radius: 50%;
    width: 85%;
    height: 85%;
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.timer {
    font-weight: bold;
    color: #3C3C3C;
    font-size: 24px;
}

.robot {
    width: 60px;
    height: 50px;
}

.avatar {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.avatar-circle {
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border: 1px black solid;
    border-radius: 50%;
    overflow: hidden;
}

.confirm-button {
    color: #ffffff;
    border-radius: 5px;
    background-color: #9688a3;
    padding: 10px;
    font-size: 20px;
    border: none;
    font-weight: 400;
    transform: translateX(-55px);
    cursor: pointer;
}

header {
    background-color: transparent;
}


.coint-buttom{
    transform: translateY(-30px);
}