main{
    display: flex;
}

form{
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: 50px;
    width: 75%;
}

.top-block{
    display: flex;
    flex-direction: column;
    /* padding: 20px; */
    gap: 7px;
    width: 100%;
    height: 250px;
    overflow: hidden;
    border-radius: 10px;
    background-color: #C7D7EB;
}

.main-info{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 75%;
    /* background-color: #94C4FF; */
}

.additional-buttons{
    display: flex;
    width: 100%;
    justify-content: space-between;
    width: 100%;
    height: 25%;
    background-color: #C48AF7;
}

.info-block{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: start;
    gap: 7px;
    width: 60%;
    height: 100%;
    /* background-color: blue; */
}



.info{
    /* width: 80%; */
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 10px;
    height: 100%;
    /* background-color: #94C4FF; */
    padding-top: 15px;
}

.test-title-input{
    /* width: 50%; */
    /* min-width: 140px; */
    height: 30px;
    font-size: 24px;
    border: none;
    color: #343434;
    max-width: 150px;
    margin-left: 9%;
    background: none;
    background-color: none;
    border: none;
    outline: none;
    transform: translateY(5px);
    font-weight: 600;
}


.type{
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.type-p{
    align-items: center;
    cursor: pointer;
    background: #7291B8;
    padding: 10px 14px;
    font-size: 12px;
    border-radius: 3px;
    color: #ffffff;
    font-weight: 400;
    /* margin-right: 44px; */
    border: 2px black solid;
    border-radius: 5px;
    margin-right: 20px;
    min-width: 100px;
    position: relative;
    text-align: center;
}

.test-cover-wrapper {
    position: relative;
    /* background-color: #C48AF7; */
}

.center-icon {
    position: absolute;
    top: 55%;
    left: 55%;
    transform: translate(-50%, -50%);
    width: 60px; /* або потрібний розмір */
    height: 60px;
}

.hidden-list{
    display: none;
}

#timeList{
    position: absolute;
    top: 48%;
    border-radius: 5px;
    cursor: pointer;
    background: #7291B8;
    list-style-type: none;
    border: 2px black solid;
    width: 13%;
    text-align: start;
    color: #ffffff;
    font-size: 17px;
    z-index: 999;
}

#timeList li{
    padding: 6px 14px;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
}

.test-title-input:disabled {
    -webkit-text-fill-color: #343434; 
}


.test-title-input:enabled {
    -webkit-text-fill-color: #343434; 
}
  
.under-line{
    background-color: #343434;
    width: 71%;
    height: 1.5px;
}

.test-cover{
    width: 171px;
    height: 171px;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 25px;
    margin-top: 5px;
    display: block;
}

.creator-info{
    display: flex;
}

.creator-info img{
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.sign{
    width: 25px;
    height: 25px;
}

.creator-email, .creator-name{
    color: #636262;
}

.avatar{
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.avatar-circle{
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    /* width: 25%;
    height: 100%; */
    /* border: 1px black solid; */
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}

.gray-block{
    display: flex;
    gap: 60px;
    width: 40%;
    height: 50%;
    border-radius: 10px;
    background-color: #3C3C3C;
    margin-right: 10px;
}

.mini-robot{
    width: 50px;
    height: 50px;
}

.gray-block p{
    color: #D6E8FE;
}

.smaller-text{
    font-size: 11px;
}

.right-buttons{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0px;
    margin: 0px;
}

/* .set-name{
    padding: 12px 20px 12px 20px;
    border: 2px black solid;
    border-radius: 5px;
    background-color: #ffffff;
    margin-left: 30px;
    color: #343434;
    text-align: right;
    padding-left: 60px;
    transform: translateY(-5px);
} */
.set-name{
    display: flex;
    align-items: center;
    gap: 10px; /* расстояние между иконкой и текстом */

    padding: 8px 20px;
    border: 2px black solid;
    border-radius: 5px;
    background-color: #ffffff;
    margin-left: 30px;
    color: #343434;
    font-weight: 600;
}

.watch_test{
    display: flex;
    align-items: center;
    gap: 10px; /* расстояние между иконкой и текстом */

    padding: 8px 20px;
    border: 2px black solid;
    border-radius: 5px;
    background-color: #ffffff;
    margin-left: 5px;
    margin-right: 20px;
    color: #343434;
    font-weight: 600;
}

.buttons{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.add{
    width: 250px;
    height: 50px;
    padding: 10px;
    gap: 6px;
    border: none;
    border-radius: 5px;    
    background-color: #C48AF7;
    font-size: 20px;
    color: white;
    text-decoration: none;
    text-align: center;
}

.all-cards{
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;
    height: fit-content;
    padding: 40px;
    border-radius: 30px;
    background-color: #8ABBF733;
}

.button-delete{
    z-index: 100000;
    background-color: aqua;
}

.question-card{
    position: relative;
    width: 100%;
    height: fit-content;
    border-radius: 15px;
    border: 2px solid #94C4FF;
    background-color: #343434;
}

.question-conainer{
    /* position: relative;
    top: -100px; */
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100px;
    overflow: hidden;
}

.question{
    z-index: 2;
}

.variant{
    display: flex;
    justify-content: start;
    gap: 10px;
    width: 45%;
    height: 50%;
    /* background-color: aliceblue; */
}

.top-image{
    position: absolute;
    right: 0px;
    width: 100%;
    height: 100px;
    border-radius: 10px 10px 0px 0px;
}

.answers{
    /* position: relative;
    top: -100px; */
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
    height: fit-content;
}

.circle{
    width: 20px;
    height: 20px;
    border: 1px solid #94C4FF;
    border-radius: 1234px;
}

.answers p{
    /* width: 30%; */
    font-size: 13px;
}

.test-title-input:disabled {
    color: #343434;
    opacity: 1; 
}


.modal-image{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 770px; 
    height: 559px;
    z-index: 9999999;
    border-radius: 20px;
    background-color: #343434;
    display: none;
    flex-direction: column;
    border: 1px #94C4FF solid;
    overflow: hidden;
}

.top-floor{
    /* background-color: #94C4FF; */
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding-left: 30px;
}

.example_image{
    width: 60px;
    height: 60px;
    transform: translateY(5px);
    z-index: 1;
}

label[for="image"] {
    /* display: inline-flex; */
    align-items: center;
    gap: 8px;
    cursor: pointer;
    padding: 8px 16px;
    background-color: none;
    color: #C48AF7;
    border: none;
    background: none;
    border-radius: 8px;
    font-weight: bold;
    font-size: 24px;
    font-weight: 550;
    transition: 0.3s;
}

.load_button{
    background: none;
    border: none;
}

.input_file{
    display: none;
}

.add_text{
    font-size: 24px;
    font-weight: 600;
    color: #ffffff;
    margin-left: 10px;
}

.load_text{
    width: 100%;
    height: 10%;
    /* background-color: green; */
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.show_image{
    width: 100%;
    height: 55%;
    /* background-color: gold; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.outline-image{
    width: 420px;
    height: 240px;
    border: 2px #94C4FF solid;
    background: none;
    border-radius: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

#show_image_test {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
    max-height: 90%;
    z-index: 2;
}

.buttom-floor{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: start;
    /* background-color: #C48AF7; */
    padding-right: 15px;
    gap:20px;
    padding-top: 20px;
}

.back-button{
    background: none;
    border: none;
    background-color: none;
    font-size: 20px;
    color: #ffffff;
    font-weight: 500;
}

.apply-image{
    border: none;
    color: #ffffff;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    gap: 6px;
    background-color: #C48AF7;
    transform: translateY(-8px);
    font-weight: 500;
}

.delete-photo{
    margin-right: 20%;
}



@media(max-width: 800px){
    .gray-block{
        display: none;
    }
}

@media(max-width:720px){
    .test-title-input{
        height: 30px;
        font-size: 17px;
        border: none;
        color: #343434;
        max-width: 150px;
        margin-left: 9%;
        background: none;
        background-color: none;
        border: none;
        outline: none;
        transform: translateY(5px);
        font-weight: 600;
    }

    .under-line{
        background-color: #343434;
        width: 51%;
        height: 1.5px;
        margin-left: 10px;
    }

    .creator-email{
        color: #636262;
        font-size: 14px;
    }


    .set-name, .watch_test{
        display: flex;
        align-items: center;
        gap: 10px; /* расстояние между иконкой и текстом */
    
        padding: 2px 10px;
        border: 2px black solid;
        border-radius: 5px;
        background-color: #ffffff;
        margin-left: 5px;
        color: #343434;
        font-weight: 400;
    }

    .type-p{
        padding: 2px 3px;
        font-size: 12px;
        font-weight: 400;
        border-radius: 5px;
        margin-right: 20px;
        min-width: 100px;
        margin-left: 10px;
        min-height: 30px;
        align-items: center;
        text-align: center;
    }

    form{
        background-color: aqua;
        width: 100%;
    }
    
    .top-block{
        display: flex;
        flex-direction: column;
        /* padding: 20px; */
        gap: 7px;
        width: 100%;
        height: 250px;
        overflow: hidden;
        border-radius: 10px;
        background-color: #C7D7EB;
    }

    #timeList{
        position: absolute;
        top: 60%;
        border-radius: 5px;
        cursor: pointer;
        background: #7291B8;
        list-style-type: none;
        border: 2px black solid;
        width: 20%;
        text-align: start;
        color: #ffffff;
        font-size: 17px;
        z-index: 999;
    }

    #timeList li{
        padding: 6px 10px;
        font-size: 14px;
        font-family: 'Inter', sans-serif;
    }
}       

@media (min-width: 721px) and (max-width: 1000px){
    form{
        width: 90%;
        background-color: green;
    }
}