main{
    display: flex;
    height: 90vh;
    justify-content: start;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

form{
    display: flex;
    flex-direction: column;
    gap: 3vh;
    margin-top: 4vh;
    margin-bottom: 4vh;
    width: 75%;
}

#main-form{
    width: 90vw;
}

.top-block{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 35vh;
    min-height: 30vh;
    border-radius: 13px;
    background-color: #C7D7EB;
    padding-top: 1vh;
}

.main-info{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 75%;
}

.additional-buttons{
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 25%;
    padding-right: 2vw;
}

.info-block{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: start;
    gap: 0.5vw;
    width: fit-content;
    height: 100%;
}



.info{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 1.2vh;
    height: 100%;
    padding-top: 2.5vh;
}

.input-wrapper {
    display: inline-block;
    max-width: 100%; /* родительская ширина */
    position: relative;
}

.test-title-input {
    width: 100%;
    min-width: 5vw;
    font-size: 1.7vw;
    border: none;
    color: #343434;
    background: none;
    outline: none;
    transform: translateY(5px);
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.under-line {
    height: 0.17vh;
    background-color: #343434;
    max-width: 150%; 
    transition: width 0.2s ease; 
}



#mirror {
    position: absolute;
    visibility: hidden;
    white-space: pre;
    font-size: 1.7vw;
    font-weight: 600;
    max-width: 250%;
}


.type-p{
    align-items: center;
    cursor: pointer;
    background: #7291B8;
    padding: 1.4vh 1vh;
    color: #ffffff;
    font-weight: 400;
    border: 1px black solid;
    border-radius: 5px;
    position: relative;
    text-align: center;
}

.test-cover-wrapper {
    position: relative; 
}

.center-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 4vw; 
    height: 4vw;
}


#timeList {
    position: absolute;
    top: 120%;
    border-radius: 5px;
    background: #7291B8;
    list-style-type: none;
    border: 2px black solid;
    width: auto;
    text-align: start;
    color: #ffffff;
    transform-origin: top;
    transform: scaleY(0);
    opacity: 0;
    visibility: hidden;
    transition: transform 0.3s ease, opacity 0.3s ease;
    z-index: 999;
}

#timeList.visible {
    transform: scaleY(1);
    opacity: 1;
    visibility: visible;
}

#timeList.hidden-list{
    transform: scaleY(0);
    opacity: 0;
    visibility: none;
}

.flex-box{
    display: flex;
    flex-direction: row;
}

span{
    cursor: pointer;
}


#time{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    font-weight: 450;
    gap: 0.3vw;
}

#timeList {
    position: absolute;
    top: 120%;
    border-radius: 5px;
    background: #7291B8;
    list-style-type: none;
    border: 2px black solid;
    width: auto;
    text-align: start;
    color: #ffffff;
    transform-origin: top;
    transform: scaleY(0);
    opacity: 0;
    visibility: hidden;
    transition: transform 0.3s ease, opacity 0.3s ease;
    z-index: 999;

}

#timeList.visible {
    transform: scaleY(1);
    opacity: 1;
    visibility: visible;
}

#timeList.hidden-list{
    transform: scaleY(0);
    opacity: 0;
    visibility: none;
}

.flex-box{
    display: flex;
    flex-direction: row;
}

span{
    cursor: pointer;
}

#timeList li{
    padding: 0.8vh 1.4vh;
    font-size: 1.3vw;
    font-weight: 400;
    cursor: pointer;
}


.show_more_velocity{
    transition: 0.3s ease;
    transform: rotate(180deg);
}

.test-title-input:disabled {
    -webkit-text-fill-color: #343434; 
}


.test-title-input:enabled {
    -webkit-text-fill-color: #343434; 
}


.outline-test{
    position: relative;
    width: 12vw;
    height: 12vw;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 2vw;
    display: block;
}

.test-cover{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.creator-info{
    display: flex;
}

.creator-info img{
    width: 2vw;
    height: 2vw;
    border-radius: 100%;
}

.sign{
    width: 1.7vw;
    height: 1.7vw;
}

.creator-email, .creator-name{
    color: #636262;
}

.avatar{
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.avatar-circle{
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3vw;
    height: 3vw;

    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.4vw;
}

.gray-block{
    display: flex;
    gap: 5vw;
    width: 40%;
    height: 50%;
    border-radius: 10px;
    background-color: #3C3C3C;
    margin-right: 2vw;
}

.mini-robot{
    width: 4vw;
    height: 4vw;
}

.gray-block p{
    color: #D6E8FE;
}


.big-text{
    font-size: 1.4vw;
}
.smaller-text{
    font-size: 1vw;
}

.right-buttons{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}


.set-name{
    display: flex;
    align-items: center;
    gap: 0.6vw; 

    padding: 1vh;
    border: 2px black solid;
    border-radius: 5px;
    background-color: #ffffff;
    margin-left: 2vw;
    color: #343434;
    font-weight: 600;
}

.watch_test{
    display: flex;
    gap: 0.6vw; 

    padding: 1vh;
    border: 2px black solid;
    border-radius: 5px;
    background-color: #ffffff;
    margin-left: 0.5vw;
    color: #343434;
    font-weight: 600;
    text-align: center;
}

.watch_test {
    white-space: nowrap; /* не переносити текст */
}

.buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2vw;
    width: 90vw;
}

.add, .add-test{
    width: 20vw;
    height: 6vh;
    padding: 1vh;
    border: none;
    border-radius: 5px;    
    background-color: #C48AF7;
    font-size: 1.3vw;
    color: white;
    text-decoration: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grey{
    background-color: #636262;
    color: #343434;
}

.all-cards{
    display: flex;
    flex-direction: column;
    gap: 3vh;
    width: 90vw;
    height: fit-content;
    padding: 2vw;
    border-radius: 30px;
    background-color: #8ABBF733;

}

.change-question{
    z-index: 1;
    text-decoration: none;
}

.question-card{
    position: relative;
    width: 100%;
    height: fit-content;
    border-radius: 15px;
    border: 2px solid #94C4FF;
    background-color: #343434;
}

.question-conainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 13vh;
    overflow: hidden;
}

.question{
    z-index: 2;
    font-size: 2vh;
    width: 80%;
    font-weight: bolder;
    color: #ffffff;
    white-space: normal;     
    word-wrap: break-word;  
    overflow-wrap: break-word; 
    text-align: center;
}

.variant{
    display: flex;
    justify-content: start;
    gap: 0.8vw;
    width: 45%;
    height: 50%;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

li{
    border-bottom: 1px #5c6b7d solid;
    text-align: center;
}

.last-li{
    border-bottom: none;
}

li:hover{
    transition: 0.3s;
    background-color: #9AA8E2;
}

.answer{
    word-wrap: break-word;
    overflow-wrap: break-word;
    /* white-space: normal;   */
}

p.answer {
    white-space: normal;        
    word-break: break-word;     
    overflow-wrap: break-word;  
    overflow: hidden;           
}

.top-image{
    position: absolute;
    right: 0;
    width: 100%;
    height: 13vh;
    border-radius: 10px 10px 0px 0px;
}

.delete-question{
    display: flex;
    width: 2.3vw;     
    height: 2.3vw;
    background-color: #94C4FF; 
    position: absolute;
    top: 1vh;
    left: 1vh;
    border: 1px solid #ffff;
    border-radius: 4px; 
    cursor: pointer;  
}

.small-img{
    width: 80%;
    height: 80%;
}

.edit_question{
    display: flex;
    background-color: #343434; 
    position: absolute;
    top: 8vh;
    right: 0.4vw;
    border: 1px solid #343434;
    border-radius: 3px; 
    cursor: pointer; 
    text-align: center; 
    justify-items: center;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
}


.pen-img{
    width: 1.6vw;
    height: auto;
    margin-right: 0.1vw;
}


/* .change-question */
.edit_question a{
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
}


.answers{
    display: flex;
    justify-content: start;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 1vh;
    padding: 1vw;
    height: fit-content;
}

.circle{
    width: 1.7vw;
    height: 1.7vw;
    border: 1px solid #94C4FF;
    border-radius: 50%;
    flex-shrink: 0; /* не дозволяти зжиматись у flex-контейнері */
    flex-grow: 0;
}

.answers p{
    font-size: 1.7vh;
    color: #ffffff;
}

.test-title-input:disabled {
    color: #343434;
    opacity: 1; 
}


.modal-image {
    position: fixed;
    left: 50%;
    bottom: 0; /* Замість top */
    transform: translateX(-50%) translateY(100%); /* Початково сховане знизу */
    width: 770px;
    height: 559px;
    border-radius: 20px;
    background-color: #343434;
    display: flex;
    flex-direction: column;
    border: 1px #94C4FF solid;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    transition: transform 0.3s ease, opacity 0.3s ease;
    z-index: 1001;
}

.modal-image.active {
    transform: translateX(-50%) translateY(-25%); /* Підіймається вгору */
    opacity: 1;
    pointer-events: auto;
}

button, a, img{
    cursor: pointer;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* напівпрозорий чорний */
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease;
    z-index: 1000; /* Менше ніж у .modal-image */
}

.modal-backdrop.active {
    opacity: 1;
    pointer-events: auto;
}

.top-floor{
    /* background-color: green; */
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding-left: 30px;
}

#del_form{
    display: none;
}

.example_image{
    width: 60px;
    height: 60px;
    transform: translateY(5px);
    z-index: 1;
}

#show_image_test{
    object-fit: contain; 
    width: 100%;
    height: 100%; 
}

#show_image_test{
    font-size: 0;
}

label[for="image"] {
    /* display: inline-flex; */
    align-items: center;
    gap: 8px;
    cursor: pointer;
    padding: 8px 16px;
    background-color: none;
    color: #C48AF7;
    border: none;
    background: none;
    border-radius: 8px;
    font-weight: bold;
    font-size: 24px;
    font-weight: 550;
    transition: 0.3s;
}

.load_button{
    background: none;
    border: none;
}

.input_file{
    display: none;
}

.add_text{
    font-size: 2vw;
    font-weight: 600;
    color: #ffffff;
    margin-left: 0.6vw;
}

.load_text{
    width: 100%;
    height: 10%;
    /* background-color: green; */
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.show_image{
    width: 100%;
    height: 55%;
    /* background-color: gold; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.outline-image{
    width: 420px;
    height: 240px;
    border: 2px #94C4FF solid;
    background: none;
    border-radius: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.type {
    position: relative;
    z-index: 9;
    display: flex;
    flex-direction: column;
    width: fit-content;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    /* background-color: green; */
}


#show_image_test {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
    max-height: 90%;
    z-index: 2;
}

.buttom-floor{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: start;
    /* background-color: #C48AF7; */
    padding-right: 15px;
    gap:20px;
    padding-top: 20px;
}

.back-button{
    background: none;
    border: none;
    background-color: none;
    font-size: 20px;
    color: #ffffff;
    font-weight: 500;
}

.apply-image{
    border: none;
    color: #ffffff;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    gap: 6px;
    background-color: #C48AF7;
    transform: translateY(-8px);
    font-weight: 500;
}

.delete-photo{
    margin-right: 20%;
}

.buttons-bottom{
    margin-bottom: 4vh;
}



@media(max-width: 800px){
    .gray-block{
        display: none;
    }
}

#timeList {
    animation: appear 0.5s;
}

@keyframes appear{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}


