.main{
    display: flex;
    flex-direction: column;
}

.blur {
    position: fixed;
    bottom: 0;          /* прив’язка до низу */
    left: 0;
    width: 100vw;       /* повна ширина сторінки */
    height: 30vh;       /* висота блюру тільки внизу */
    background: linear-gradient(71deg, #3C3C3C 10%, #7c9abd 20%, #74919E 72%, #3C3C3C 5%);
    filter: blur(6.25vw);
    z-index: -1;
    pointer-events: none;
}


.test-header {
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 50vw;
    height: 35vh;
    flex-direction: column;
    gap: 10px;
}


.test-info{
    height: 100%;
    width: 78%;
    display: flex;
    justify-content: space-between;
}

.robot{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: end;
    position: relative;
}

.robot img{
    height: 100%;
    width: auto;
    object-fit: contain;
    filter: drop-shadow(0 0 60px rgb(120, 183, 235));
}
.second{
    display: flex;
    align-items: center;
    justify-content: center;
}
.first{
    display: flex;
    flex-direction: column;
}
.main{
    display: flex;
    flex-direction: row;
}
.python{
    height: 100%;
    aspect-ratio: 1 / 1; 
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    background-color: rgba(148, 196, 255, 0.29);
    border: 3px solid #37445A;
}

.python img{
    height: 100%;
    width: auto;
    object-fit: cover;
}

.top_info{
    position: relative;
    height: 90%;
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}


.top_info p{
    color: #ffffff;
    font-size: 2.7vh;
}

.top_info p span{
    font-size: 2.7vh;
    color: #ffcc00;
}

.top_info p .at{
    color: #C39FE4;
}

.stats{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.stats span{
    width: 48%;
    padding: 0.5vw;
    background-color: #D0E5FD;
    border-radius: 5px;
    display: flex;
    border: 1.5px solid #6E7A8B;
    color: black;
    font-weight: 450;
}

.stats span{
    font-size: 1vw;
}


.actions {
    margin-top: 10vw;
    display: flex;
    justify-content: center;
    gap: 0.5vw;
    margin-bottom: 8vh;
}
input{
    margin-top: 5vh;
    width: 30vw;
    height: 45vh;
    box-sizing: border-box;
    padding: 10px;
    font-size: 1rem;
}
.start-btn{
    min-height: 20px;
    position: relative;
    background: #C48AF7;
    color: #fff;
    padding: 0.5vw 0.8vw;
    border: none;
    border-radius: 5px;
    border:1px solid #fff;
    cursor: pointer;
    display: flex;
    position: relative;
    height: 4vh;

}


.profile-btn {
    min-height: 20px;
    background: #7291B8;
    color: #fff;
    padding: 0.5vw 0.8vw;
    border: none;
    border-radius: 5px;
    border:1px solid #fff;
    cursor: pointer;
    height: 4vh;
    display: flex;
}

.play{
    width: auto;
    height: 110%;
    min-width: 0.5vw;
    object-fit: contain;
    margin-left: 0.3vw;
}


.questions-container{
    width: 40vw;
    background-color: rgba(138, 187, 247, 20%);
    border-radius: 16px;
    border: 1px solid #000;
    padding: 4vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 2vw;
    position: relative;
    overflow-y: auto;
    margin-bottom: 8vh;
    margin-top: 8vh;
}

.question-block {
    width: 35vw;
    height: 15vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 10px;
    border: 2px solid #7B9CDA;
}

.question_title{
    width: 100%;
    height: 45%;
    position: relative;
    z-index: 1;
    display: flex;
    gap: 2vw;
}

.answers{
    width: 100%;
    height: 55%;
    background-color: #3c3c3c;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    position: relative;
}

.variant{
    display: flex;
    justify-content: start;
    gap: 10px;
    width: 50%;
    height: 50%;
    color: #ffffff;
    font-size: 1vw;
    padding-left: 1vw;
    word-wrap: break-word;   
    overflow-wrap: break-word;
}

.variant img{
    height: 90%;
    width: auto;
    object-fit: contain;
}

.variant-center{
    width: 100%;
    justify-content: center;
}

.circle{
    width: 1.5vw;
    height: 1.5vw;
    border: 1px solid #94C4FF;
    border-radius: 50%;
    flex-shrink: 0;
    flex-grow: 0;
}

.quard{
    width: 1.5vw;
    height: 1.5vw;
    border: 1px solid #94C4FF;
    border-radius: 2px;
    flex-shrink: 0;
    flex-grow: 0;
}

.question-bg{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.question{
    z-index: 1;
    width: 50%;
    height: 100%;
    display: flex;
    word-wrap: break-word;   
    overflow-wrap: break-word;
    color: #ffffff;
    font-size: 1.2vw;
    font-weight: 500;
}

.question_img{
    width: auto;
    height: 90%;
    object-fit: contain;
    z-index: 1;
}


/* Затемнення фона кнопок при наведенні */
.start-btn:hover,
.profile-btn:hover {
    background-color: rgba(196, 138, 247, 0.8); /* трохи темніший фіолетовий для start-btn */
    transform: scale(1.01);                      /* легке збільшення */
    transition:  0.2s;
}

.profile-btn:hover {
    background-color: rgba(114, 145, 184, 0.8); /* трохи темніший синій для profile-btn */
}


.robot img:hover,
.python img:hover,
.question_img:hover {
    transform: scale(1.03);                     
    transition: all 0.5s ease-in-out;
}
