.main{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 90vh;
}

.bottom-blur{
    position: fixed;
    top: 0;
    left: 0;
    width: 60vw;
    height: 100vh;
    background: linear-gradient(135deg, #3C3C3C 10%, #7c9abd 20%, #74919E 72%, #3C3C3C 5%);
    filter: blur(15.25vw);
    z-index: -1;
    pointer-events: none;
}

.purple-blur{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 10vw;
    height: 100vh;
    background: linear-gradient(45deg, #3C3C3C 10%, #c05ad7 20%, #8930ad 72%, #3C3C3C 5%);
    filter: blur(10.25vw);
    z-index: -1;
    pointer-events: none;
}

.info-test{
    height: 100%;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: relative;
    align-items: center;
}

.questions-test{
    height: 100%;
    width: 50vw;
    display: flex;
    position: relative;
    flex-direction: column;
}

.cont-question{
    width: 90%;
    height: 95%;
    border: #000000 1px solid;
    border-radius: 34px;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: start;
    background-color: rgba(138, 187, 247, 0.2);
}

.header-cont{
    width: 100%;
    height: 10%;
    border-bottom: #000000 1px solid;
    border-top-left-radius: 34px;
    border-top-right-radius: 34px;
    background-color: rgba(87, 91, 100, 0.6);
    display: flex;
}

.header-cont p{
    font-size: 1.2vw;
    color: #ffffff;
}

.info-text{
    margin-top: 50px;
    font-size: 1.5vw;
    font-weight: 600;
}



.main-info{
    height: 40%;
    width: 85%;
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    
}

.image-test {
    aspect-ratio: 1 / 1; /* делает квадрат */
    width: 31%; /* или фиксированная ширина, например 200px */
    border-radius: 10px;
    /* object-fit: cover; */
    border: 2px #ffffff solid;
    max-height: 100%;
    position: relative;
    display: flex;
}


.test-cover{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.data-text{
    height: 76%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

.main-p{
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    gap: 0.5vw;
    color: #FFDB81;
    font-size: 1.2vw;
    font-weight: 500;
    justify-content: start;
    align-items: center;
}

.span-text{
    flex-wrap: wrap;
}

.preview-data{
    width: 100%;
    height: 17%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.count-data{
    width: 45%;
    height: 100%;
    border-radius: 8px;
    border: #FFDB81 1px solid;
    display: flex;
    font-size: 1.2vw;
    background-color: rgba(185, 189, 245, 0.2);
}

.description-test{
    width: 85%;
    height: 30%;
    background-color: rgba(256, 256, 256, 0.56);
    border-radius: 15px;
    padding: 0.3vw;
    overflow-y: scroll;
}

.description-test p{
    color: rgba(0, 0, 0, 0.7);
    font-size: 1.1vw;
    font-weight: 500;
    overflow-y: scroll;
}

button{
    font-size: 1.2vw;
}
.actions {
    margin-top: 4vh;
    display: flex;
    justify-content: center;
    gap: 2vw;
}

.start-btn{
    min-height: 20px;
    position: relative;
    background: #C48AF7;
    color: #fff;
    padding: 0.5vw 0.8vw;
    border: none;
    border-radius: 5px;
    border:1px solid #fff;
    cursor: pointer;
    display: flex;
    position: relative;
    height: 4vh;
    
}


.profile-btn {
    min-height: 20px;
    background: #7291B8;
    color: #fff;
    padding: 0.5vw 0.8vw;
    border: none;
    border-radius: 5px;
    border:1px solid #fff;
    cursor: pointer;
    height: 4vh;
    display: flex;
}

.play{
    width: auto;
    height: 110%;
    min-width: 0.5vw;
    object-fit: contain;
    margin-left: 0.3vw;
}


.questions-container{
    width: 80vw;
    background-color: rgba(138, 187, 247, 20%);
    border-radius: 16px;
    border: 1px solid #000;
    padding: 4vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 2vw;
    position: relative;
    overflow-y: auto;
    margin-bottom: 8vh;
}

.question-block {
    width: 32vw;
    height: 20vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    border-radius: 10px;
    border: 2px solid #7B9CDA;
    background-color: #343434;
}

.questions-list{
    width: 100%;
    height: 90%;
    display: grid;
    gap: 20px;
    padding: 16px 20px;
    overflow: auto;
    justify-content: center;
}

.question_title{
    position: relative;
    min-height: 72px;
    display: flex;
    align-items: center;
    padding: 14px 18px;
}

.question_title .question-bg{
    position: absolute;         
    width: 100vw;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

/* .q-edit{
    position: absolute;
    left: 0px;
    top: 40px;
    z-index: 2;
    padding: 4px 10px;
    font-size: 12px;
    border-radius: 12px;
    border: 1px solid #3C3C3C;
    background: #94C4FF;
    font-weight: 600;
    cursor: pointer;
}

.q-close{
    position: absolute;
    right: 2px;
    top: 8px;
    z-index: 2;
    width: 17px; height: 17px;
    padding: 0;
    cursor: pointer;
    display: grid; 
    place-items: center;
    border: none;
    border-radius: 50%;
} */

.question_title .question_img{
    width: 48px;
    height: 48px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 12px;
    z-index: 1;
}

.question_title .question{
    position: relative;
    z-index: 1;
    margin: 0;
    color: #ffffff;
    font-weight: 600;
}

.answers{
    background: #343434;
    padding: 16px 18px 16px;
    display: grid;
    width: 100%;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    align-items: start;
}

.variant{
    display: grid;
    grid-template-columns: 20px 1fr;
    align-items: center;
    gap: 10px;
    color: #ffffff;
    min-height: 28px;
}

.variant .question_img{
    grid-column: 2 / -1;
    max-width: 100%;
    max-height: 160px;
    border-radius: 8px;
}

.variant-center{
    grid-template-columns: 2fr;  /*???*/
    justify-items: center;
}

.circle, .quard{
    width: 16px; height: 16px;
    border: 2px solid #94C4FF;
    border-radius: 50%;
    background: transparent;
}
.quard{ border-radius: 4px; }

.answer{
    margin: 0;
    line-height: 1.3;
    word-break: break-word;
}

.cont-question{ overflow: hidden; }

.answers.input-gap{
    grid-template-columns: 1fr;
    justify-items: center;
}