.test-header {
    display: flex;
    position: relative;
    justify-content: space-between;
    padding: 2vh 20% 0 20%;
    margin-bottom: 6vh;
}

.python {
    width: 22vh;
    height: 22vh;
    margin-right: 5vw;
    background-color: none;
    border: 0.2vh #455977 solid;
    border-radius: 0.5vh;
    overflow: hidden;
    padding: 0;
}

.bot {
    width: 25vh;
    height: auto;
    filter: drop-shadow(0 0 4vh rgba(100, 149, 237, 0.4));
    border-radius: 0.8vh;
}

.test-info {
    color: #fff;
    display: flex;
    font-size: 2vh;
}

.topic {
    color: #FFFAB0;
    font-weight: bold;
}

.at {
    color:#B9BDF5;
}

.author {
    color: #FFFAB0;
}

.play{
    /* position: absolute; */
    width: 2vh;
    height: 2vh;
    object-fit: contain;
    margin-left: 0.5vw;
}

.stats {
    display: flex;
    flex-direction: row;
}
.stats span {
    display: inline-block;
    margin-right: 1vw;
    padding: 0.5vh 1.5vw;
    background: #D6E8FE;
    border-radius: 0.5vh;
    color: #3C3C3C;
    font-weight: 500;
    font-size: 1.6vh;
}

.actions {
    margin: 1vh;
    display: flex;
    justify-content: center;
}

.start-btn{
    position: relative;
    background: #C48AF7;
    color: #fff;
    padding: 0.5vh 1.5vw;
    border: none;
    margin: 0.5vh;
    border-radius: 0.5vh;
    border:0.1vh solid #fff;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.profile-btn {
    background: #7291B8;
    color: #fff;
    padding: 0.7vh 1.5vw;
    border: none;
    margin: 0.5vh;
    border-radius: 0.5vh;
    border:0.1vh solid #fff;
    cursor: pointer;
}

.questions-container {
    margin: 3vh 20% 0 20%;
    background-color: rgba(138, 187, 247, 20%);
    border-radius: 1.6vh;
    border: 0.1vh solid #000;
    padding: 4vh 4vh 0 4vh;
}

.question-block {
    background: #343434;
    margin-bottom: 3vh;
    border-radius: 1vh;
    border: 0.1vh solid #94C4FF;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.question_title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 8vh;
    /* background-color: #FFFAB0; */
    border-top-left-radius: 0.5vw;
    border-top-right-radius: 0.5vw;
    position: relative;
    overflow: hidden;
}

.question-bg {
    width: 100%;
    height: 10vh;
    object-fit: cover;
    position: absolute;
    border-top-left-radius: 0.5vw;
    border-top-right-radius: 0.5vw;
    top: 0;
    left: 0;
    z-index: 0;
}

.question{
    position: relative;
    text-align: center;
    z-index: 1;
    font-size: 1.6vh;
    font-weight: bolder;
    color: #ffffff;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 100%;
    box-sizing: border-box;
    white-space: normal;    
    word-break: break-word;     
    overflow-wrap: break-word;
    padding: 0 2vw 0 2vw;
}

.variant{
    display: flex;
    justify-content: start;
    gap: 1vw;
    width: 45%;
    height: 50%;
}

.answers{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    gap: 3vw;
    padding: 2vh 0 3vh 3vh;
    width: 100%;
    height: fit-content;
}

.circle{
    width: 2.5vh;
    height: 2.5vh;
    border: 0.1vh solid #94C4FF;
    border-radius: 50%;
    flex-shrink: 0;
    flex-grow: 0;
}

.answers p{
    font-size: 1.6vh;
    color: #ffffff;
    font-weight:  600;
    white-space: normal;    
    word-break: break-word;     
    overflow-wrap: break-word;
    padding: 0 2vw 0 2vw;
}


.gradient{
    width: 100%;
    height: 8vw;
    position: absolute;
}

.python img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 1500px)  {
    .test-header {
        padding: 2vh 10% 0 10%;
        margin-bottom: 3vh;
    }
    .questions-container {
        margin: 3vh 10% 0 10%;
    }
}

@media (max-width: 700px)  {
    .test-header {
        padding: 2vh 1vw 0 1vw;
        margin-bottom: 3vh;
    }
    .questions-container {
        margin: 3vh 1vw 0 1vw;
    }
    .stats {
        flex-direction: column;
    }

    .stats span {
        margin-bottom: 1vh;
    }
}