{% extends 'base.html' %}

{% block title %}
    Home
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('home.static', filename='css/home_auth.css') }}">
{% endblock links %}

{% block content %}

    <div class="main-part">
        <div class="big-part">
            <div class="input-tx">
                <input type="text" placeholder="Enter a join code" class="code">
                <button type="submit" class="butn1">Join</button>
            </div>
        </div>
        
        <div class="profile">
            <div class="prt1">
                <img src="home/static/images/avatar.png" class="avatar">
                <a href="/user_profile">Kemilly</a>
                <img src="home/static/images/bouling.png" class="shar">
            </div>
            <p class="mail">tfgh@gmail.com</p>
            <div class="end">
                
                <p class="tests">Пройдені тести: </p>
                <p class="num">20</p>
                <img src="home/static/images/nagrada.png">
                <img src="home/static/images/nagrada.png">
                <img src="home/static/images/nagrada.png">
            </div>
            
        </div>
    </div>

    <div class="main-part2">
        <div class="bt">
            <button class="butns2">Побачити більше</button>
        </div>
        
        <div class="otstup">
            <div class="blocks">
    
            </div>
            <div class="blocks">
    
            </div>
            <div class="blocks">
    
            </div>
            <div class="blocks">
    
            </div>
        </div>

        <div class="bt">
            <button class="butns2">Побачити більше</button>
        </div>
        <div class="otstup">
            <div class="blocks">
    
            </div>
            <div class="blocks">
    
            </div>
            <div class="blocks">
    
            </div>
            <div class="blocks">
    
            </div>
        </div>
        <div class="bt">
            <button class="butns2">Побачити більше</button>
        </div>
        <div class="otstup">
            <div class="blocks">
    
            </div>
            <div class="blocks">
    
            </div>
            <div class="blocks">
    
            </div>
            <div class="blocks">
    
            </div>
        </div>
        <div class="obvodka">
            <input type="text" placeholder="Знайти вікторину" class="search">
        </div>
        
    </div>
{% endblock %}