{% extends 'base.html' %}

{% block title %}
    Home
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('home.static', filename='css/home_auth.css') }}">
{% endblock links %}

{% block content %}
    <div class="background-blur"></div>

    <div class="top-part">
        <div class="enter-code">
            <form action="" method="post" class="main-input">
                <input type="hidden" name="check_form" value="enter-room">
                <input type="number" name="enter-code" maxlength="6" placeholder="Enter a join code" class="code">
                <button type="submit" class="butn1">Join</button>
            </form>
        </div>
        <div class="data-user" onclick="Profile()">
            <div class="main-data">
                <div class="avatar-circle">
                    <img data-size="{{ user.size_avatar }}" class="avatar" src="{{ url_for('profile.static', filename='images/edit_avatar/' + user.email +'/'+ user.name_avatar ) }}" alt="avatar">
                </div>
                <a class="nick" href="/profile">{{ user.username }}</a>
            {% if user.user_profile.pet_id %}
                <div class="animal">
                    <img id="own-pet" src="{{ url_for('profile.static', filename='images/pets_id/' ~ user.user_profile.pet_id ~ '.png') }}" alt="pet">
                </div>
            {% else %}
                <div class="animal">
                    <p>У вас ще немає улюбленця.</p>
                    <!-- <img id="own-pet" src="{{ url_for('profile.static', filename='images/pets_id/default.png') }}" alt="pet"> -->
                </div>
            {% endif %}
            </div>
            
            <div class="antoher-data">
                <p class="gmail">{{ user.email }}</p>
                <div class="tests-data">
                    <p class="text-tests">пройдені тести: <p class="number-tests">{{ count_tests }}</p></p>
                </div>
            </div>
        </div>
    </div>

    <div class="cards-floor">
        <div class="show-more">
            <a href="/" class="tests-topic">Недавно пройдені тести</a>
            <a href="/" class="show-more-link">Побачити більше</a>
        </div>
        <div class="cards">
            {% if third_tests|length > 0 %}
                {% for test in third_tests %}
                    <div class="card" onclick="this.querySelector('.topic-test').click();">
                        <img class="image-robot" src="{{ url_for('static', filename='images/panel-robot.png') }}" alt="">
                        {% if 'default' in test.image.split("/") %}
                            <div class="card_image">
                                <img class="image" src="{{ url_for('test_pass.static', filename='images/' + test.image.split('/')[-1]) }}" alt="">
                            </div>
                        {% else %}
                            <div class="card_image">
                                <img class="image" src="{{ url_for('edit_avatar.static', filename='images/edit_avatar/' + user.email + '/user_tests/' + test.title_test + '/' + test.image ) }}" alt="">
                            </div>
                        {% endif %}
                        <div class="discription">
                            <div class="test-name">
                                <a href="/test_data?id_test={{test.id}}" class="topic-test">{{ test.category }}</a>
                            </div>
                            <div class="discription-test">
                                <p class="static-theme">тема:</p>
                                <p class="theme-test">{{ test.title_test }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    <div class="cards-floor">
        <div class="show-more">
            {% if first_topic != "інше" and first_topic != "Інше" %}
                <a href="/" class="tests-topic">Тести із теми {{ first_topic }}</a>
            {% else %}
                <a href="/" class="tests-topic">Різноманітні тести</a>
            {% endif %}
            <a href="/" class="show-more-link">Побачити більше</a>
        </div>
        <div class="cards">
            {% for test in first_tests %}
                <div class="card" onclick="this.querySelector('.topic-test').click();">
                    <img class="image-robot" src="{{ url_for('static', filename='images/panel-robot.png') }}" alt="">
                    {% if 'default' in test.image.split("/") %}
                        <div class="card_image">
                            <img class="image" src="{{ url_for('test_pass.static', filename='images/' + test.image.split('/')[-1]) }}" alt="">
                        </div>
                    {% else %}
                        <div class="card_image">
                            <img class="image" src="{{ url_for('edit_avatar.static', filename='images/edit_avatar/' + user.email + '/user_tests/' + test.title_test + '/' + test.image ) }}" alt="">
                        </div>
                    {% endif %}
                    <div class="discription">
                        <div class="test-name">
                            <a href="/test_data?id_test={{test.id}}" class="topic-test">{{ test.category }}</a>
                        </div>
                        <div class="discription-test">
                            <p class="static-theme">тема:</p>
                            <p class="theme-test">{{ test.title_test }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="cards-floor">
        <div class="show-more">
            {% if second_topic != "інше" and second_topic != "Інше" %}
                <a href="/" class="tests-topic">Тести із теми {{ second_topic }}</a>
            {% else %}
                <a href="/" class="tests-topic">Різноманітні тести</a>
            {% endif %}
            <a href="/" class="show-more-link">Побачити більше</a>
        </div>
        <div class="cards">
            {% for test in second_tests %}
                <div class="card" onclick="this.querySelector('.topic-test').click();">
                    <img class="image-robot" src="{{ url_for('static', filename='images/panel-robot.png') }}" alt="">
                    {% if 'default' in test.image.split("/") %}
                        <div class="card_image">
                            <img class="image" src="{{ url_for('test_pass.static', filename='images/' + test.image.split('/')[-1]) }}" alt="">
                        </div>
                    {% else %}
                        <div class="card_image">
                            <img class="image" src="{{ url_for('edit_avatar.static', filename='images/edit_avatar/' + user.email + '/user_tests/' + test.title_test + '/' + test.image ) }}" alt="">
                        </div>
                    {% endif %}
                    <div class="discription">
                        <div class="test-name">
                            <a href="/test_data?id_test={{test.id}}" class="topic-test">{{ test.category }}</a>
                        </div>
                        <div class="discription-test">
                            <p class="static-theme">тема:</p>
                            <p class="theme-test">{{ test.title_test }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>


    <div class="filter-test">
        <form action="" method="post" id="filter-form">
            <input type="hidden" name="check_form" vlaue="filter">
            <input type="text" class="filter-input" placeholder="Знайти вікторину" onkeydown="checkEnterPress(event)">
            <button type="button" class="submit-filter"><img src="{{ url_for('home.static', filename='images/home_auth/lupa.png') }}" alt=""></button>
        </form>
    </div>
    <a href="" class="search-filter-link"></a>

{% endblock %}

{% block scripts %}
    <script src="{{ url_for('home.static', filename='js/home_auth.js') }}"></script>
{% endblock scripts %}