{% extends 'base.html' %}

{% block title %}
    Home
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('home.static', filename='css/home.css') }}">
{% endblock links %}

{% block content %}
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
    <div class="background-blur"></div>
    <div class="join-game">
        <h1>Привіт!</h1>
        <p>Готовий кинути виклик своєму мозку?<br>Впиши код та приєднуйся до гри – тестуй свої знання, змагайся з<br>друзями та відкривай нове!</p>
        <form class="input-code" method="post">
            <input type="text" placeholder="Enter a join code" class="as">
            <button type="submit" class="submit-code">Join</button>
        </form>
    </div>
    <div class="cointeiner">
        <div class="blur-background"></div>

        <div class="card transition2" data-value="хімія">
            <div class = "card-img">
                <img src="{{ url_for('home.static', filename='images/chemistry_picture.png') }}" alt="">
            </div>
            <div class="card-discription">
                <p class="name-test">Хімія</p>
                <p class="interisting-text">20+ тестів по цьому предмету!<br>Перевір свої знання та стань профі!</p>
                <p class="link-test">Тисни, щоб дізнатися більше!</p>
            </div>
        </div>
        <div class="card transition3" data-value="англійська">
            <div class = "card-img">
                <img src="{{ url_for('home.static', filename='images/english_picture.png') }}" alt="">
            </div>
            <div class="card-discription">
                <p class="name-test">Англійська мова</p>
                <p class="interisting-text">20+ тестів по цьому предмету!<br>Перевір свої знання та стань профі!</p>
                <p class="link-test">Тисни, щоб дізнатися більше!</p>
            </div>
        </div>
        <div class="card transition4" data-value="програмування">
            <div class = "card-img">
                <img src="{{ url_for('home.static', filename='images/home/programing.png') }}" alt="">
            </div>
            <div class="card-discription">
                <p class="name-test">Програмування</p>
                <p class="interisting-text">20+ тестів по цьому предмету!<br>Перевір свої знання та стань профі!</p>
                <p class="link-test">Тисни, щоб дізнатися більше!</p>
            </div>
        </div>
        <div class="card transition5" data-value="історія">
            <div class = "card-img">
                <img src="{{ url_for('home.static', filename='images/history_picture.png') }}" alt="">
            </div>
            <div class="card-discription">
                <p class="name-test">Історія</p>
                <p class="interisting-text">20+ тестів по цьому предмету!<br>Перевір свої знання та стань профі!</p>
                <p class="link-test">Тисни, щоб дізнатися більше!</p>
            </div>
        </div>
        <div class="card transition6" data-value="фізика">
            <div class = "card-img">
                <img src="{{ url_for('home.static', filename='images/physics.png') }}" alt="">
            </div>
            <div class="card-discription">
                <p class="name-test">Фізика</p>
                <p class="interisting-text">20+ тестів по цьому предмету!<br>Перевір свої знання та стань профі!</p>
                <p  class="link-test">Тисни, щоб дізнатися більше!</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('home.static', filename = 'js/home.js') }}"></script>
{% endblock scripts %}