{% extends 'base.html' %}

{% block title %}
    Home
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('home.static', filename='css/home.css') }}">
{% endblock links %}

{% block content %}
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
    
    <div class="join-game">
        <h1>Привіт!</h1>
        <p>Готовий кинути виклик своєму мозку?<br>Впиши код та приєднуйся до гри – тестуй свої знання, змагайся з<br>друзями та відкривай нове!</p>
        <form class="input-code" method="post">
            <input type="text" placeholder="Enter a join code">
            <button type="submit" class="submit-code">Join</button>
        </form>
    </div>
    <div class="cointeiner">
        <!-- <div class="card transition">

        </div> -->
        <div class="card transition2">
            <div class = "card-img">
                <img src="{{ url_for('home.static', filename='images/home/programing.png') }}" alt="">
            </div>
            <div class="card-discription">
                <p class="name-test">Програмування</p>
                <p class="interisting-text">20+ тестів по цьому предмету!<br>Перевір свої знання та стань профі!</p>
                <p class="link-test">Тисни, щоб дізнатися більше!</p>
            </div>
        </div>
        <div class="card transition3">
            <div class = "card-img">
                <img src="{{ url_for('home.static', filename='images/home/programing.png') }}" alt="">
            </div>
            <div class="card-discription">
                <p class="name-test">Іспанська мова</p>
                <p class="interisting-text">20+ тестів по цьому предмету!<br>Перевір свої знання та стань профі!</p>
                <p class="link-test">Тисни, щоб дізнатися більше!</p>
            </div>
        </div>
        <div class="card transition4">
            <div class = "card-img">
                <img src="{{ url_for('home.static', filename='images/home/programing.png') }}" alt="">
            </div>
            <div class="card-discription">
                <p class="name-test">Хімія</p>
                <p class="interisting-text">20+ тестів по цьому предмету!<br>Перевір свої знання та стань профі!</p>
                <p class="link-test">Тисни, щоб дізнатися більше!</p>
            </div>
        </div>
        <div class="card transition5">
            <div class = "card-img">
                <img src="{{ url_for('home.static', filename='images/home/programing.png') }}" alt="">
            </div>
            <div class="card-discription">
                <p class="name-test">Математика</p>
                <p class="interisting-text">20+ тестів по цьому предмету!<br>Перевір свої знання та стань профі!</p>
                <p class="link-test">Тисни, щоб дізнатися більше!</p>
            </div>
        </div>
        <div class="card transition6">
            <div class = "card-img">
                <img src="{{ url_for('home.static', filename='images/home/programing.png') }}" alt="">
            </div>
            <div class="card-discription">
                <p class="name-test">Англійська</p>
                <p class="interisting-text">20+ тестів по цьому предмету!<br>Перевір свої знання та стань профі!</p>
                <p  class="link-test">Тисни, щоб дізнатися більше!</p>
            </div>
        </div>
        <!-- <div class="card transition7">

        </div> -->
    </div>
{% endblock %}