{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('login.static', filename='css/login.css') }}">
{% endblock links %}


{% block content %}
    <div class = "content-login">

        <div class="login">
            <form action="" method="post">
                <div class="img-avatar">
                    <img class="avatar" src="{{ url_for('home.static', filename='images/default_avatart.png') }}" alt="avatart">
                </div>
                <input class="text-input" type= "email" name= "email" placeholder= "Введіть email">

                <input class="text-input" type="password" name="password" placeholder="Введіть Ваш пароль" class="input_password">
                <span class="password">🫣</span>

                <button class="send-data" type="submit">Авторизуватися</button>
            </form>

    </div>

    <div class="promotion">
        <div class="bonuses">
            <div class="glowing-area"></div>
            <div class="bonus b1">
                <img class="avatar" src="{{ url_for('login.static', filename='images/bonus_one.png') }}" alt="avatart">
            </div>
            <div class="bonus b2">
                <img class="avatar" src="{{ url_for('login.static', filename='images/bonus_two.png') }}" alt="avatart">
            </div>
            <div class="bonus b3">
                <img class="avatar" src="{{ url_for('login.static', filename='images/bonus_three.png') }}" alt="avatart">
            </div>
        </div>

        <div class="info-text">
            <p>Заробляй бонуси,відповідаючи на<br>запитання та змагайся з друзями !</p>
        </div>
        
    </div>

    <div class="robot-glowing-area"></div>
    <img class="robot" src="{{ url_for('static', filename='images/panel-robot.png') }}" alt="">

    <script src="{{ url_for('login.static', filename='js/login.js') }}"></script>
{% endblock %}