{% extends 'base.html' %}

{% block title %}Authorization{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('registration.static', filename='css/registration.css') }}">
{% endblock links %}

{% block nav %}
    <div class="nav-links">
        <a href="/" class="test-button">Приєднатися до тесту</a>
    </div>
{% endblock nav %}

{% block content %}
    <div class = "content-registration">


        <div class="registration">
            <form action="" method="post">
                <div class="img-avatar">
                    <img class="avatar" src="{{ url_for('home.static', filename='images/login_and_auth/default_avatart.png') }}" alt="avatart">
                </div>

                <input minlength="2" maxlength="10" pattern="[A-Za-zа-яА-Я]+" class="text-input" type="text" name= "username" placeholder= "Введіть ім'я" required>
                <input inputmode="numeric" id = "input_phone" pattern="[\d\+]*$" class="text-input" type="tel" maxlength="13" minlength="13" name= "phone_number" placeholder="Введіть номер телефону (починайте з +380)" value="+380" required>
                <input inputmode="email" class="text-input" type= "email" name= "email" placeholder= "Введіть email" required>
                <div class="password-container">
                    <input class="text-input" type="password" name="password" pattern="[A-Za-zа-яА-Я-1-9]+" maxlength="8" minlength="8" placeholder="Введіть Ваш пароль" class="input_password" id="password1" required>
                    <img id="eye1" src="{{ url_for('home.static', filename='images/login_and_auth/closedEye.png') }}" alt="">
                    <img class="hidden1" id="eye1" src="{{ url_for('home.static', filename='images/login_and_auth/openedEye.png') }}" alt="">
                </div>
                <div class="password-container">
                    <input class="text-input" type="password" name="confirm-password" maxlength="8" minlength="8" placeholder="Введіть Ваш пароль" class="input_password" id="password2" required>
                    <img id="eye2" src="{{ url_for('home.static', filename='images/login_and_auth/closedEye.png') }}" alt="">
                    <img class="hidden2" id="eye2" src="{{ url_for('home.static', filename='images/login_and_auth/openedEye.png') }}" alt="">
                </div>
                <div class="user-status">
                    <label>
                        <input class="status-input" type="radio" name="mentor" value="True" required>
                        Викладач
                    </label>
                    
                    <label>
                        <input class="status-input" type="radio" name="mentor" value="False">
                        Учень
                    </label>
                </div>

                <button class="send-data" type="submit">Створити акаунт</button>
            </form>
    </div>

    <div class="promotion">
        <div class="bonuses">
            <div class="glowing-area"></div>
            <div class="bonus b1">
                <img class="avatar" src="{{ url_for('registration.static', filename='images/login_and_auth/bonus_one.png') }}" alt="avatart">
            </div>
            <div class="bonus b2">
                <img class="avatar" src="{{ url_for('registration.static', filename='images/login_and_auth/bonus_two.png') }}" alt="avatart">
            </div>
            <div class="bonus b3">
                <img class="avatar" src="{{ url_for('registration.static', filename='images/login_and_auth/bonus_three.png') }}" alt="avatart">
            </div>
        </div>

        <div class="info-text">
            <p>Заробляй бонуси,відповідаючи на<br>запитання та змагайся з друзями !</p>
        <div class="info-text">
            <p>Заробляй бонуси,відповідаючи на<br>запитання та змагайся з друзями !</p>
        </div>
        
        
    </div>

    <div class="robot-glowing-area"></div>
    <img class="robot" src="{{ url_for('static', filename='images/panel-robot.png') }}" alt="dfvklmdflkmvdf">

    <script src="{{ url_for('registration.static', filename='js/registration.js') }}"></script>
{% endblock %}