{% extends 'base.html' %}

{% block title %}Authorization{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('registration.static', filename='css/registration.css') }}">
{% endblock links %}

{% block nav %}
    <div class="nav-links">
        <a href="/" class="test-button">Приєднатися до тесту</a>
    </div>
{% endblock nav %}

{% block content %}
    <div class="background">
        <div class="glowing-area"></div>
    </div>

    <div class = "content-registration">
        <div class="registration">
            <form action="" method="post">
                <div class="img-avatar">
                    <img class="avatar" src="{{ url_for('profile.static', filename='images/edit_avatar/default_avatar' ~ random_num ~ '.svg') }}" alt="avatar">
                </div>
                <!-- инпут для проверки post запроса -->
                <input type="hidden" name="check_form" value="registration">
                <div class="sua">
                    <input minlength="2" maxlength="20" autocomplete="off" pattern="^.{2,20}$" class="text-input username_input" type="text" name= "username" placeholder= "Задайте ім'я" required>
                    <div class="username-checklist">
                        <div class="top-part">
                            <h3 class="checklist-title">Ім'я повинно містити</h3>
                            <img class="img-checklist" src="{{ url_for('home.static', filename='images/login_and_auth/checklist.png') }}" alt="checklist">
                        </div>
                        <ul class="checklist">
                            <div class="first-rule">
                                <img class="icon-item username-like1" src="{{ url_for('home.static', filename='images/login_and_auth/like.png') }}" alt="">
                                <img class="icon-item username-dislike1" src="{{ url_for('home.static', filename='images/login_and_auth/dislike.png') }}" alt="">
                                <li class="username-item">Довжина від 2 до 20 символів </li>
                            </div>
                            <div class="checklist-line username-line1"></div>
                            <div class="first-rule">
                                <img class="icon-item username-like2" src="{{ url_for('home.static', filename='images/login_and_auth/like.png') }}" alt="">
                                <img class="icon-item username-dislike2" src="{{ url_for('home.static', filename='images/login_and_auth/dislike.png') }}" alt="">
                                <li class="username-item">Повинні бути лише латинські або кириличні літери</li>    
                            </div>
                            <div class="checklist-line username-line2"></div>
                        </ul>
                    </div>
                </div>
                

                <input type="hidden" inputmode="numeric" id = "input_phone" pattern="[\d\+]*$" class="text-input phone {% if phone_shake %}phone_shake{% endif %}" type="tel" maxlength="13" minlength="13" name= "phone_number" placeholder="Задайте номер телефону (починайте з +380)" value="+380" autocomplete="off" required>
                <input inputmode="email" autocomplete="off" class="text-input email {% if email_shake %}email_input{% endif %}" type= "email" name= "email" placeholder= "Задайте email" required>
                <div class="password-container">
                    <!-- Вот тут вот находится єтот глазик которій прячет и открівает пароль -->
                    <!-- 
                    pattern
                    ^ - Початок рядка
                    (?=.*[A-Za-z]) - Хоча б одна буква
                    (?=.*\d) - Хоча б одна цифра
                    [A-Za-z\d]+ - Лише латинські літери
                     -->
                    <input onpaste="return false;" autocomplete="new-password" class="text-input password-input" type="password" name="password"  pattern="(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]+"  placeholder="Задайте ваш пароль" maxlength="20" class="input_password" id="password1" required>
                    <img id="eye1" src="{{ url_for('home.static', filename='images/login_and_auth/closedEye.png') }}" alt="">
                    <img class="hidden1" id="eye1" src="{{ url_for('home.static', filename='images/login_and_auth/openedEye.png') }}" alt="">

                    <div class="password-checklist">
                        <div class="top-part">
                            <h3 class="checklist-title">Пароль повинен містити</h3>
                            <img class="img-checklist" src="{{ url_for('home.static', filename='images/login_and_auth/checklist.png') }}" alt="checklist">
                        </div>

                        <ul class="checklist">
                            <div class="first-rule">
                                <img class="icon-item like1" src="{{ url_for('home.static', filename='images/login_and_auth/like.png') }}" alt="">
                                <img class="icon-item dislike1" src="{{ url_for('home.static', filename='images/login_and_auth/dislike.png') }}" alt="">
                                <li class="list-item">Довжина мінімум у 8 символів</li>
                                <!-- <div class="checklist-line"></div> -->
                            </div>
                            <div class="checklist-line first-line"></div>
                            <div class="first-rule">
                                <img class="icon-item like2" src="{{ url_for('home.static', filename='images/login_and_auth/like.png') }}" alt="">
                                <img class="icon-item dislike2" src="{{ url_for('home.static', filename='images/login_and_auth/dislike.png') }}" alt="">
                                <li class="list-item">Хоча б одна цифра</li>    
                                <!-- <div class="checklist-line"></div>                         -->
                            </div>
                            <div class="checklist-line second-line"></div>
                            <div class="first-rule">
                                <img class="icon-item like3" src="{{ url_for('home.static', filename='images/login_and_auth/like.png') }}" alt="">
                                <img class="icon-item dislike3" src="{{ url_for('home.static', filename='images/login_and_auth/dislike.png') }}" alt="">
                                <li class="list-item latin">Лише латинські літери</li>
                                <!-- <div class="checklist-line"></div> -->
                            </div>
                            <div class="checklist-line third-line"></div>
                        </ul>
                    </div>
                </div>
                <div class="password-container">
                    <input autocomplete="off" onpaste="return false"; class="text-input confirm_password {% if password_shake %}conf_password{% endif %}" type="password" name="confirm-password" maxlength="20" placeholder="Підтвердіть ваш пароль" class="input_password" id="password2" required>
                    <img class="eyea"  id="eye2" src="{{ url_for('home.static', filename='images/login_and_auth/closedEye.png') }}" alt="">
                    <img class="hidden2 eyea" id="eye2" src="{{ url_for('home.static', filename='images/login_and_auth/openedEye.png') }}" alt="">
                </div>
                <div class="user-status">
                    <label>
                        <input class="status-input" type="radio" name="mentor" value="True" required>
                        <p>Викладач</p>
                    </label>
                    
                    <label>
                        <input class="status-input" type="radio" name="mentor" value="False">
                        <p>Учень</p>
                    </label>
                </div>

                <button class="send-data" onclick="Shake()" type="submit">Створити акаунт</button>
                
                <div class="if-not">
                    <!-- <div class="if-yes"> -->
                    <p>Вже маєте акаунт?</p>
                    <!-- </div>
                    <div class="change-page"> -->
                        <!-- <a href="{{ url_for('login.render_login') }}">Авторизуватися</a> -->
                    <div class="email-auth" onclick="document.querySelector('.icon-google').click()">
                        <p class="reg-text">Зареєструватися за допомогою:</p>
                        <a class="google-image" href="/google_login">
                            <img class="icon-google" src="{{ url_for('home.static', filename='images/login_and_auth/google.svg') }}" alt="">
                        </a>
                    </div>
                    <!-- </div> -->
                </div>
                <p class="problem">{{ message }}</p>
            </form>
        </div>

        <!-- <div class="robot">
            <img class="robot" src="{{ url_for('static', filename='images/panel-robot.png') }}" alt="">
        </div> -->

        <form action="" method="post" id="clear-form">
            <input type="hidden" name="check_form" value="clear_form">
        </form>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('registration.static', filename='js/registration.js') }}"></script>
    <script src="{{ url_for('registration.static', filename='js/check_username.js') }}"></script>
{% endblock scripts %}