<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        {% block links %}{% endblock %}
    </head>
    <body>
        <header>
            <div class = "logo">Tester</div>
            <nav>
                {% block nav %}
                    
                {% endblock nav %}
            </nav>
        </header>

        <main class="main">
            {% block content %}
            {% endblock %}
        </main>
    </body>
</html>