<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        {% block links %}{% endblock %}
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/footer.css') }}">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    </head>
    
    <body class="body-web">
        <div class="wrapper">
            <div class="header-cookie">
                <img src="{{ url_for('static', filename='images/cookie.png') }}" alt="">
                <i class="bx bx-cookie"></i>
            </div>
            <div class="data">
                <h2> Прийняти cookies :) </h2>
                <p>Цей вебсайт використовує файли cookies, щоб допомогти вам отримати кращий та релевантніший досвід перегляду вебсайту.</p>
            </div>
            <div class="buttons">
                <button class="button" id="acceptBtn">прийняти</button>
                <button class="button" id="declineBtn">вiдхилити</button>
            </div>
        </div>
        {% if not test_page %}
            <header>
                <div class = "logo">
                    <img class="img-logo" src="{{ url_for('static', filename='images/logo.svg') }}" alt="">
                    <p>planet.quiz</p>
                </div>
                <nav>
                    {% if home_page %}
                        <div class = "nav-links">
                            <a href="/registration" class="auth-button">Реєстрація</a>
                            <a href="/login" class="login-button">Увійти</a>
                        </div>
                    {% elif registration_page%}
                        <div class="nav-links">
                            <a href="/" class="enter-code">Приєднатися</a>
                            <a href="/login" class="login-button">Увійти</a>
                        </div>
                    {% elif login_page %}
                        <div class="nav-links">
                            <a href="/" class="enter-code">Приєднатися</a>
                            <a href="/registration" class="auth-button">Реєстрація</a>
                        </div>
                    {% elif home_auth %}
                        <div class="nav-links">
                            <a href="/select_way" class="test-button">+ Створити вікторину</a>
                        </div>
                    {% elif mentor %}
                        <div class="header_buttons">
                            <button type="submit" class="mentor-buttons">
                                <img src="{{ url_for('static', filename='images/sound.png') }}" alt="sound">
                            </button>
                            <button type="submit" class="mentor-buttons">
                                <img src="{{ url_for('static', filename='images/settings.png') }}" alt="settings">
                            </button>
                        </div>
                    {% else %}
                        <div class="nav-links">
                            {% if not finish_test %}
                                <a href="/" class="enter-code">Додому</a>
                            {% else %}
                                <div class="nav-links">
                                    <a href="/select_way" class="test-button">+ Створити вікторину</a>
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                    {% if not mentor %} 
                    <div class="panel-container">
                        <div class="listener">
                            <img src="{{ url_for('static', filename='images/open-panel.png') }}" alt="" class="open-panel">
                        </div>
                        <div class="panel closed">
                            <span class="link-container">
                                <span class="links">
                                    <a class="created-test" href="/user_test">Створені тести</a>
                                    <hr>
                                    <a href="">Пройдені тести</a>
                                    <hr>
                                    <a href="">Діаграми</a>
                                    <hr>
                                    <a href="">Загальна інформація</a>
                                    <hr>
                                </span>
                                <span class="links">
                                    <a href="">Безпека</a>
                                    <hr>
                                    <a href="/edit_avatar">Аватар</a>
                                    <hr>
                                    <a href="">Нагороди</a>
                                    <hr>
                                </span>
                                <span class="links">
                                    <a href="/buy_pet">Купівля подарунків</a>
                                    <hr>
                                </span>
                            </span>
                        </div>
                    </div>
                    {% endif %}
                </nav>
                    
            </header>
        {% endif %}
        
        <div id="circle-overlay"></div>


        <main class="main">
            {% block content %}{% endblock %}
        </main>


        {% if home_auth %}     
            <footer class="footer">
                <div class="about-us">
                    <a href="" class="link-data">Контакти</a> 
                    <a href="" class="link-data">Про нас</a>
                    <a href="" class="link-data">Конфіденційність</a>
                    <div class="footer-line"></div>
                </div>
                <div class="follow-us">
                    <p class="data-donate">РЕКВІЗИТИ ДЛЯ ДОНАТІВ</p>
                    <p class="follow-us-text">Слідкуйте за нами</p>
                </div>
                <div class="cherity">
                    <p class="data-card">Нагодуйте безпритульних собак</p>
                    <div class="img-link">
                        <a href="https://www.worldit.academy" class="social-network"><img src="{{ url_for('static', filename='images/github.svg') }}" alt="Github" class="img-soc"></a>
                        <a href="https://www.worldit.academy" class="social-network"><img src="{{ url_for('static', filename='images/telegram.svg') }}" alt="Telegram" class="img-soc"></a>
                        <a href="https://www.worldit.academy" class="social-network"><img src="{{ url_for('static', filename='images/instagram.svg') }}" alt="" class="img-soc"></a>
                    </div>
                </div>
                <div class="for-media">
                    <p class="follow-us-text1">Слідкуйте за нами</p>
                    <div class="img-link1">
                        <a href="https://www.worldit.academy" class="social-network1"><img src="{{ url_for('static', filename='images/github.svg') }}" alt="Github" class="img-soc"></a>
                        <a href="https://www.worldit.academy" class="social-network1"><img src="{{ url_for('static', filename='images/telegram.svg') }}" alt="Telegram" class="img-soc"></a>
                        <a href="https://www.worldit.academy" class="social-network1"><img src="{{ url_for('static', filename='images/instagram.svg') }}" alt="" class="img-soc"></a>
                    </div>
                    <p class="data-donate1">РЕКВІЗИТИ ДЛЯ ДОНАТІВ</p>
                    <p class="data-card1">Нагодуйте безпритульних собак</p>
                </div>
                <!-- <div class="ab">
                    <div class="about">
                        <a href="" class="linkk">Контакти</a> 
                        <a href="" class="linkk">Про нас</a>
                        <a href="" class="linkk">Конфіденційність</a>
                    </div>
                    <div>
                        <hr class="footer-line">
                    </div>
                </div>
            
                <div class="last">
                    <div class="about">
                    <p>Слідкуйте за нами</p>
                    </div>
                    <div class="img-link">
                        <a href="https://www.worldit.academy" class="social-network"><img src="{{ url_for('home.static', filename='images/home_auth/github_icon.png') }}" alt="Github" class="img-soc"></a>
                        <a href="https://www.worldit.academy" class="social-network"><img src="{{ url_for('home.static', filename='images/home_auth/telegram_icon.png') }}" alt="Telegram" class="img-soc"></a>
                        <a href="https://www.worldit.academy" class="social-network"><img src="{{ url_for('home.static', filename='images/home_auth/instagram_icon.png') }}" alt="" class="img-soc"></a>
                    </div>
                </div>
                
                <div class="donate"> 
                    <p class="text-donate">Реквiзити для розвитку проекту:</p>
                    <div class="creditcard">
                        Банкiвська карта: <span class="credit_number">5457082523089527</span>
                    </div>
                </div>

                </div> -->
            </footer>
        {% endif %}
        
        <script src="{{ url_for('static', filename='js/load_avatar.js') }}"></script>
        <script src="{{ url_for('static', filename='js/sidebar.js') }}"></script>
        <script src="{{ url_for('static', filename='js/cookiemodal.js') }}"></script>
        

        {% block scripts %}
            <script src="https://cdn.socket.io/4.3.2/socket.io.min.js"></script>
        {% endblock %}
    </body>   
</html>