{% extends 'base.html' %}

{% block title %}Search{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('search.static', filename='css/search.css') }}">
{% endblock links %}


{% block content %}
    <div class="cards">
        {% for test in searching_test %}
            <div class="card" onclick="this.querySelector('.topic-test').click();">
                <img class="image-robot" src="{{ url_for('static', filename='images/panel-robot.png') }}" alt="">
                {% if 'default' in test.image.split("/") %}
                    <div class="card_image">
                        <img class="image" src="{{ url_for('test_pass.static', filename='images/' + test.image.split('/')[-1]) }}" alt="">
                    </div>
                {% else %}
                    <div class="card_image">
                        <img class="image" src="{{ url_for('edit_avatar.static', filename='images/edit_avatar/' + user.email + '/user_tests/' + test.title_test + '/' + test.image ) }}" alt="">
                    </div>
                {% endif %}
                <div class="discription">
                    <div class="test-name">
                        <a href="/test_data?id_test={{test.id}}" class="topic-test">{{ test.category }}</a>
                    </div>
                    <div class="discription-test">
                        <p class="static-theme">тема:</p>
                        <p class="theme-test">{{ test.title_test }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
{% endblock %}

{% block scripts %}
    
{% endblock scripts %}