body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7vh;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.agree {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 1vh;
    z-index: 2;
    display: none;
}

.back-blur {
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(60deg,#343434 17%, #7c9abd 30%, #74919E 62%);
    filter: blur(10vh);
    z-index: 0; /* Низький, але не від’ємний */
}
.main-block{
    display: flex;
    gap: 2.5vh;
    padding: 4.5vh 1vw 5vh 1vw;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 80vw;
    height: 120vh;
    border: 0.1vh #94C4FF solid;
    border-radius: 3vh;
    background-color: #343434;
    position: relative;
    z-index: 1;
}


.text{
    display: flex;
    /* background-color: aquamarine; */
    width: 100%;
    height: 5%;
}

.welcoming-text{
    color: #ffffff;
    font-size: 2vh;
    font-weight: 600;
}

.default-avatars{
    display: flex;
    flex-direction: row;
    overflow: hidden;
    gap: 1vh;
    border: 0.1vh #C48AF7 solid;
    border-radius: 3vh;
    background-color: #464F5B;
    width: 100%;
    height: 11vh;
    padding-right: 10vw;
    padding-left: 10vw;
}

.img{
    /* background-color: #C48AF7; */
    width: 10vw;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.options-avatar{
    border-radius: 50%;
    height: 10vh;
}

.edit-buttons{
    display: flex;
    flex-direction: column;
    gap: 1vh;
    justify-content: center;
    align-items: center;
    border: 0.1vh #C48AF7 solid;
    border-radius: 3vh;
    background-color: #464F5B;
    width: 100%;
    padding: 3vh 0 3vh 0;
    padding-left: 10vw;
    padding-right: 10vw;
}

.button{
    background-color: #343434;
    border: 0.1vh #94C4FF solid;
    width: 100%;
    height: 10vh;
    border-radius: 1.5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    font-size: 2vh;
    padding-left: 2vw;
    cursor: pointer;
    padding-right: 2vw;
}

.button-image{
    height: 4vh;
    width: 4vh;
}

.bottom-data{
    width: 100%;
    /* background-color: #8AF7D4; */
    height: 23%;
    display: flex;
    justify-content: space-between;
}


.data-user {
    display: flex;
    flex-direction: column;
    background-color: none;
    border: 0.1vh black solid;
    width: 35vw;
    height: 25vh;
    border-radius: 2vh;
    margin-right: 1.5vw;
    margin-left: 6vw;
    overflow: hidden;
}

.main-data {
    display: flex;
    flex-direction: row;
    background-color: #343434;
    gap: 1vh;
    padding: 1vh;
    overflow: hidden;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 16vh;
}

.avatar-circle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7vh;
    height: 7vh;
    border-radius: 50%;
    border: 0.1vh black solid;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}

.avatar{
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.hide-size{
    display: none;
}

.username{
    font-size: 1vh;
    color: #ffffff;
}

.antoher-data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 0.5vh 0 0.5vh 1.5vw;
    gap: 5vh;
    width: 100%;
    height: 40vh;
    background-color: #3D4248;
}

.tests-data{
    display: flex;
    flex-direction: row;
}

.number-tests{
    color: #FFE177;
    font-size: 1.6vh;
    margin-right: 1vw;
    margin-left: 1vw;
}

.antoher-data .text-tests, .antoher-data .gmail, .nick{
    opacity: 0.8;
    color: #D6E8FE;
    font-weight: 500;
    text-decoration: none;
    font-size: 2vh;
}

.nick{
    opacity: 1;
    font-size: 3.5vh;
    font-weight: 300;
    color: #ffffff;
}

.welcoming-robot{
    /* background-color: aqua; */
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: start;
    width: 70%;
    text-align: center;
}


.bottom-text{
    margin-top: 7vh;
    color: #ffffff;
    font-size: 2.5vh;
    margin-right: 3vw;
    font-weight: 350;
}

.image{
    cursor: pointer;
}

.image img{
    height: 15vh;
    width: 15vh;
}

.image-robot {
    bottom: 0;
    right: 0;
    position: relative;
    width: auto;         
    height: 20vh;
    margin-left: 1.5vw;
    margin-top: 6vh;
    z-index: 0;
    filter: drop-shadow(0 0 3rem #94C4FF);
}

.get_photo {
    display: none;
}

.button-photo {
    cursor: pointer;
}


.button-photo{
    background: transparent;
    outline: none; 
    border: 0;
}

/* .get_photo{
    display: none;
} */


#default_avatar{
    display: none;
}

.check_name{
    display: none;
}


/* тут код для модального окна */
.confirm-changing{
    display: none;
    color: #ffffff;
    text-align: center;
    flex-direction: column;
    width: 70vw;
    height: 80vh;
    position: relative;
    border: 0.1vh #94C4FF solid;
    border-radius: 3vh;
    background-color: #343434;
    justify-content: start;
    align-items: center;
    overflow: hidden;
    position: fixed;
    z-index: 3000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.change-text{
    padding-top: 2vh;
    display: flex;
    flex-direction: column;
    margin: 1vh;
    gap: 2.5vh;
    width: 100%;
}

.change-text{
    font-size: 2.4vh;
    font-weight: 600;
}

.discription{
    font-size: 2vh;
    font-weight: 500;
}

.look-picture{
    /* display: none; */
    width: 100%;
    height: 60%;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.image-user{
    background-color: none;
    border: 0.1vh #94C4FF solid;
    border-radius: 3.4vh;
    width: 80%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

}

.size{
    position: absolute;
    bottom: 1vh; /* або щось інше для відступу */
    width: 80%; /* або 100%, якщо не хочеш падінгів */
    z-index: 1000;
    /* -webkit-appearance: none; */
    /* appearance: none; */
    background-color: #ffffff;
    background: #ffffff;
    cursor: pointer;
    /* width: 15rem; */
}

.circle-image {
    transition: all 0.3s ease;
    display: block;
}
/* input[type="range"]::-webkit-slider-runnable-track {
    background: #d0cbcb;
    border-radius: 20px;
} */

.blur-image{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: blur(10px);
    /* background-color: #7c9abd; */
}



.bg-image{
    transition: 0.3s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    z-index: 1;
}

.inside{
    transition: 0.3s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 200%;
    max-height: 200%;
    z-index: 1;
}

.circle {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    /* filter: blur(0px); */
    width: 3.5vh;
    height: 3.5vh;
    border-radius: 50%;
    border: 4px #ffffff solid;
    overflow: hidden;    /* overflow: hidden; */
}

.circle img{
    z-index: 1;
}


.change-buttons{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.firs_part{
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

.del_current, .change-photo{
    background-color: #94C4FF;
    color: #ffffff;
    border-radius: 0.5vh;
    border: none;
    padding: 1vh;
    font-size: 2vh;
    font-weight: 500;
}

.back{
    background-color: none;
    color: #ffffff;
    background: transparent;
    border: none;
    padding: 1vh 0.5vw 1vh 0.5vw;
    border-radius: 5px;
    font-size: 2vh;
    font-weight: 500;
}

.apply{
    color: #ffffff;
    font-size: 2vh;
    padding: 1vh;
    font-weight: 500;
    background-color: #C48AF7;
    border: none;
    border-radius: 5px;
}

.second_part{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.bonuses{
    height: 3vh;
    width: auto;
}