body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 71px;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.agree {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 1vh;
    z-index: 2;
    display: none;
}

.back-blur {
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(60deg,#343434 17%, #7c9abd 30%, #74919E 62%);
    filter: blur(10vh);
    z-index: 0; /* Низький, але не від’ємний */
}
.main-block{
    display: flex;
    gap: 28px;
    padding: 4.5vh 1vw 5vh 1vw;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 80vw;
    height: 170vh;
    border: 1px #94C4FF solid;
    border-radius: 3vh;
    background-color: #343434;
    position: relative;
    z-index: 1;
}


.text{
    display: flex;
    /* background-color: aquamarine; */
    width: 100%;
    height: 5%;
}

.welcoming-text{
    color: #ffffff;
    font-size: 2vh;
    font-weight: 600;
}

.default-avatars{
    display: flex;
    flex-direction: row;
    overflow: hidden;
    /* padding: 93px 131px 93px 131px; */
    gap: 10px;
    border: 1px #C48AF7 solid;
    border-radius: 3vh;
    background-color: #464F5B;
    width: 100%;
    height: 10%;
    padding-right: 10vw;
    padding-left: 10vw;
}

.img{
    /* background-color: #C48AF7; */
    width: 10vw;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.options-avatar{
    width: 80%;
    border-radius: 50%;
    height: 85%;
}

.edit-buttons{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    border: 1px #C48AF7 solid;
    border-radius: 3vh;
    background-color: #464F5B;
    width: 100%;
    height: 40%;
    padding-left: 10vw;
    padding-right: 10vw;
}

.button{
    background-color: #343434;
    border: 1px #94C4FF solid;
    width: 100%;
    height: 25%;
    border-radius: 1.5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    font-size: 2vh;
    padding-left: 2vw;
    cursor: pointer;
    padding-right: 2vw;
}

.bottom-data{
    width: 100%;
    /* background-color: #8AF7D4; */
    height: 23%;
    display: flex;
    justify-content: space-between;
}


.data-user {
    display: flex;
    flex-direction: column;
    background-color: none;
    border: 1px black solid;
    width: 33%;
    height: 90%;
    border-radius: 2vh;
    margin-right: 1.5vw;
    margin-left: 6vw;
    overflow: hidden;
}

.main-data {
    display: flex;
    flex-direction: row;
    background-color: #343434;
    gap: 10px;
    padding: 1vh;
    overflow: hidden;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 40%;
}

.avatar-circle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7vh;
    height: 7vh;
    /* width: 25%;
    height: 100%; */
    border-radius: 50%;
    border: 1px black solid;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}

.avatar{
    object-fit: contain;
    width: 100%;
    height: 100%;
    /* width: calc(100% + (calc(100% * 1)));
    height: calc(100% + (calc(100% * 1))); */
    /* max-width: 100%;
    max-height: 100%; */
    /* width: 27%;
    height: 100%; */
    /* border-radius: 50%; */
    /* border: 2px black solid; */
    /* transform: scale(calc(0.4 * 0.32)); */
}

.hide-size{
    display: none;
}

.username{
    font-size: 1.7vh;
    color: #ffffff;
}

.antoher-data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 1vh 0px 1vh 1.5vw;
    gap: 30%;
    width: 100%;
    height: 60%;
    background-color: #3D4248;
}

.tests-data{
    display: flex;
    flex-direction: row;
}

.number-tests{
    color: #FFE177;
    font-size: 1.6vh;
    margin-right: 1vw;
    margin-left: 1vw;
}

.antoher-data .text-tests, .antoher-data .gmail, .nick{
    opacity: 0.8;
    color: #D6E8FE;
    font-weight: 500;
    text-decoration: none;
    font-size: 2vh;
}

.nick{
    opacity: 1;
    font-size: 3.5vh;
    font-weight: 300;
    color: #ffffff;
}

.welcoming-robot{
    /* background-color: aqua; */
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: start;
    width: 70%;
    text-align: center;
}


.bottom-text{
    margin-top: 7vh;
    color: #ffffff;
    font-size: 2.5vh;
    margin-right: 3vw;
    font-weight: 350;
}

.image{
    cursor: pointer;
}

.image-robot {
    bottom: 0;
    right: 0;
    position: relative;
    width: auto;         
    height: 20vh;
    margin-left: 1.5vw;
    margin-top: 6vh;
    z-index: 0;
    filter: drop-shadow(0 0 3rem #94C4FF);
}

.get_photo {
    display: none;
}

.button-photo {
    cursor: pointer;
}


.button-photo{
    background: transparent;
    outline: none; 
    border: 0;
}

/* .get_photo{
    display: none;
} */


#default_avatar{
    display: none;
}

.check_name{
    display: none;
}


/* тут код для модального окна */
.confirm-changing{
    display: none;
    color: #ffffff;
    text-align: center;
    flex-direction: column;
    width: 70vw;
    height: 80vh;
    position: relative;
    border: 1px #94C4FF solid;
    border-radius: 3vh;
    background-color: #343434;
    justify-content: start;
    align-items: center;
    overflow: hidden;
    position: fixed;
    z-index: 3000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.change-text{
    padding-top: 2vh;
    display: flex;
    flex-direction: column;
    margin: 1vh;
    gap: 25px;
    width: 100%;
}

.change-text{
    font-size: 2.4vh;
    font-weight: 600;
}

.discription{
    font-size: 2vh;
    font-weight: 500;
}

.look-picture{
    /* display: none; */
    width: 100%;
    height: 60%;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.image-user{
    background-color: none;
    border: 1px #94C4FF solid;
    border-radius: 3.4vh;
    width: 80%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

}

.size{
    position: absolute;
    bottom: 1vh; /* або щось інше для відступу */
    width: 80%; /* або 100%, якщо не хочеш падінгів */
    z-index: 1000;
    /* -webkit-appearance: none; */
    /* appearance: none; */
    background-color: #ffffff;
    background: #ffffff;
    cursor: pointer;
    /* width: 15rem; */
}

.circle-image {
    transition: all 0.3s ease;
    display: block;
}
/* input[type="range"]::-webkit-slider-runnable-track {
    background: #d0cbcb;
    border-radius: 20px;
} */

.blur-image{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: blur(10px);
    /* background-color: #7c9abd; */
}



.bg-image{
    transition: 0.3s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    z-index: 1;
}

.inside{
    transition: 0.3s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 200%;
    max-height: 200%;
    z-index: 1;
}

.circle {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    /* filter: blur(0px); */
    width: 3.5vh;
    height: 3.5vh;
    border-radius: 50%;
    border: 4px #ffffff solid;
    overflow: hidden;    /* overflow: hidden; */
}

.circle img{
    z-index: 1;
}


.change-buttons{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.firs_part{
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.del_current, .change-photo{
    background-color: #94C4FF;
    color: #ffffff;
    border-radius: 0.5vh;
    border: none;
    padding: 1vh;
    font-size: 2vh;
    font-weight: 500;
}

.back{
    background-color: none;
    color: #ffffff;
    background: transparent;
    border: none;
    padding: 1vh 0.5vw 1vh 0.5vw;
    border-radius: 5px;
    font-size: 2vh;
    font-weight: 500;
}

.apply{
    color: #ffffff;
    font-size: 2vh;
    padding: 1vh;
    font-weight: 500;
    background-color: #C48AF7;
    border: none;
    border-radius: 5px;
}

.second_part{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

@media(max-width:599px) and (max-height: 899px){
    .main-block{
        display: flex;
        flex-direction: column;
        /* gap: 28px; */
        /* justify-content: end; */
        align-items: center;
        padding: 0px;
        padding-left: 1vw;
        padding-right: 1vw;
    }
    .default-avatars{
        display: flex;
        flex-direction: row;
        overflow: hidden;
        gap: 5px;
        /* border: 1px #C48AF7 solid; */
        border-radius: 2vh;
        width: 100%;
        height: 5vh;
        /* background-color: aqua; */
    }
    
    .img{
        /* background-color: #C48AF7; */
        min-width: 50px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow: none;
    }

    .main-block{
        height: 50vh;
    }

    .agree{
        margin: 1px;
    }

    .agree-img{
        width: 1.5vh;
        height: 1.5vh;
    }
    .image{
        height: 20%;
        width: 100%;
        /* background-color: #FFE177; */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .image img{
        width: 8vh;
        height: 8vh;
    }

    .edit-buttons{
        width: 100%;
        height: 40%;
        padding-left: 1vw;
        padding-right: 1vw;
        margin-bottom: 1vh;
    }

    .bottom-data{
        display: none;
    }

    .button{
        background-color: #343434;
        border: 1px #94C4FF solid;
        width: 100%;
        height: 5vh;
        border-radius: 1vh;
        font-size: 1.7vh;
        /* padding: 0px;
        margin: 0px; */
    }

    .button-image{
        width: 2vh;
        height: 2vh;
    }

    .confirm-changing{
        /* display: flex; */
        color: #ffffff;
        text-align: center;
        flex-direction: column;
        width: 90vw;
        height: 85vh;
        position: relative;
        border: 1px #94C4FF solid;
        border-radius: 3.4vh;
        background-color: #343434;
        justify-content: start;
        align-items: center;
        overflow: hidden;
        position: fixed;
        z-index: 3000;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .change-text{
        padding-top: 1vh;
        display: flex;
        flex-direction: column;
        margin: 1vh;
        gap: 10px;
        width: 100%;
    }
    
    .change-text{
        font-size: 1.4vh;
        font-weight: 600;
    }

    .discription{
        font-size: 1vh;
    }

    .circle {
        position: absolute; 
        top: 50%; 
        left: 50%; 
        transform: translate(-50%, -50%); 
        /* filter: blur(0px); */
        width: 10vh;
        height: 10vh;
        border-radius: 50%;
        border: 4px #ffffff solid;
        overflow: hidden;    /* overflow: hidden; */
    }
    
    .circle img{
        z-index: 1;
    }

    .del_current, .change-photo{
        background-color: #94C4FF;
        color: #ffffff;
        border-radius: 0.5vh;
        border: none;
        padding: 1vh 0.5vw 1vh 0.5vw;
        font-size: 1vh;
        font-weight: 500;
    }

    .change-photo{
        transform: translateY(1vh);
    }
    
    .back{
        background-color: none;
        color: #ffffff;
        background: transparent;
        border: none;
        padding: 1vh 0.5vw 1vh 0.5vw;
        border-radius: 0.5vh;
        font-size: 1.5vh;
        font-weight: 500;
    }
    
    .apply{
        text-align: center;
        color: #ffffff;
        font-size: 1vh;
        padding: 0.8vh 0.2vw 0.8vh 0.2vw;
        font-weight: 500;
        background-color: #C48AF7;
        border: none;
        border-radius: 0.5vh;
        margin-right: 0.5vh;
    }
}

@media (min-width:600px) and (max-width: 899px){
    .options-avatar{
        width: 6.5vw;
        border-radius: 50%;
        height: 7vh;
        /* padding: 5px; */
        border: 1px #94C4FF solid;
    }
    
    .default-avatars{
        display: flex;
        flex-direction: row;
        overflow: hidden;
        gap: 5px;
        /* border: 1px #C48AF7 solid; */
        border-radius: 3vh;
        width: 100%;
        height: 10vh;
        gap: 20px;
        /* background-color: aqua; */
    }

    .img{
        /* background-color: #C48AF7; */
        min-width: 80px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow: none;
    }

    .button{
        background-color: #343434;
        border: 1px #94C4FF solid;
        width: 100%;
        height: 24%;
        border-radius: 1.5vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #ffffff;
        font-size: 2vh;
        padding-left: 2.5vw;
        padding-right: 2.5vw;
    }

    .number-tests{
        margin-left: 1vh;
        margin-right: 1vh;
    }

    .del_current, .change-photo{
        background-color: #94C4FF;
        color: #ffffff;
        border-radius: 0.5vh;
        border: none;
        padding: 0.8vh 0.2vw 0.8vh 0.2vw;
        /* padding: 10px; */
        font-size: 1.3vh;
        font-weight: 500;
    }


    .del_current{
        margin-left: 0.5vw;
    }

    .back{
        font-size: 1.7vh;
    }

    .apply{
        font-size: 1.4vh;
        padding: 0.9vh 0.2vw 0.9vh 0.2vw;
        font-size: 1.3vh;
        /* color: #94C4FF; */
    }
    
    .circle {
        position: absolute; 
        top: 50%; 
        left: 50%; 
        transform: translate(-50%, -50%); 
        /* filter: blur(0px); */
        width: 1.8vh;
        height: 1.8vh;
        border-radius: 50%;
        border: 4px #ffffff solid;
        overflow: hidden;    /* overflow: hidden; */
    }

    .options-avatar{
        width: 7vw;
        border-radius: 50%;
        height: 7vh;
        /* padding: 5px; */
        border: 1px #94C4FF solid;
    }

    .edit-buttons{
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        align-items: center;
        border: 1px #C48AF7 solid;
        border-radius: 3.4vh;
        background-color: #464F5B;
        width: 100%;
        height: 35%;
        padding-left: 1vw;
        padding-right: 1vw;
    }

    .main-block{
        height: 100vh;
    }

    .circle-image{
        height: 6vh;
        width: 6vh;
    }

    .agree {
        position: absolute;
        bottom: 0;
        right: 0;
        margin: 0.2vh;
        z-index: 2;
        display: none;
    }
    
    .bottom-text{
        margin-top: 7vh;
        color: #ffffff;
        font-size: 2vh;
        margin-right: 3vw;
        font-weight: 350;
    }

    .image-robot {
        bottom: 0;
        right: 0;
        position: relative;
        width: 10vw;         
        height: auto;
        margin-left: 2vw;
        margin-top: 10vh;
        z-index: 0;
        filter: drop-shadow(0 0 3rem #94C4FF);
    }

    .data-user {
        display: flex;
        flex-direction: column;
        background-color: none;
        border: 1px black solid;
        width: 50%;
        height: 90%;
        border-radius: 2.4vh;
        margin-right: 4vw;
        margin-left: 1vw;
        overflow: hidden;
    }

    .nick{
        opacity: 1;
        font-size: 2.5vh;
        font-weight: 300;
        color: #ffffff;
    }

    .antoher-data .text-tests, .antoher-data .gmail{
        opacity: 0.8;
        color: #D6E8FE;
        font-weight: 500;
        text-decoration: none;
        font-size: 1.2vh;
    }



    .bonuses{
        width: 7vw;
        height: 3vh;
    }


    .avatar-circle{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 6vh;
        height: 6vh;
        /* width: 25%;
        height: 100%; */
        border-radius: 50%;
        border: 1px black solid;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width:900px) and (max-width: 1300px){
    .button{
        background-color: #343434;
        border: 1px #94C4FF solid;
        width: 90%;
        height: 20%;
        border-radius: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #ffffff;
        font-size: 20px;
        padding-left: 30px;
        padding-right: 30px;
       
    }

    .default-avatars{
        height: 120px;
    }

    .options-avatar{
        width: 7vh;
        border-radius: 50%;
        height: 7vh;
    }
    .edit-buttons{
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        align-items: center;
        border: 1px #C48AF7 solid;
        border-radius: 3.4vh;
        background-color: #464F5B;
        width: 100%;
        height: 25%;
        padding-left: 1vw;
        padding-right: 1vw;
    }
}

@media (min-width:899px) and (max-width:1000px){

    .options-avatar{
        width: 8vh;
        height: 8vh;
    }
    .default-avatars{
        display: flex;
        flex-direction: row;
        overflow: hidden;
        /* padding: 93px 131px 93px 131px; */
        gap: 10px;
        border: 1px #C48AF7 solid;
        border-radius: 3.4vh;
        background-color: #464F5B;
        width: 100%;
        height: 10%;
        padding-right: 1vw;
        padding-left: 1vw;
    }

    .agree{
        margin: 0.3vh;
    }

    .img{
        /* background-color: #FFE177; */
        width: 9vh;
    }

    .circle{
        width: 1.5vh;
        height: 1.5vh;
    }

    .del_current, .change-photo{
        background-color: #94C4FF;
        color: #ffffff;
        border-radius: 0.5vh;
        border: none;
        padding: 1vh 0.5vw 1vh 0.5vw;
        font-size: 1.4vh;
        font-weight: 500;
    }

    .discription{
        font-size: 1.7vh;
    }
    .apply{
        text-align: center;
        color: #ffffff;
        font-size: 1.4vh;
        padding: 1vh 0.5vw 1vh 0.5vw;
        font-weight: 500;
        background-color: #C48AF7;
        border: none;
        border-radius: 0.5vw;
        margin-right: 0.5vw;
    }
    .data-user {
        display: flex;
        flex-direction: column;
        background-color: none;
        border: 1px black solid;
        width: 50%;
        height: 90%;
        border-radius: 2.4vh;
        margin-right: 4vw;
        margin-left: 1vw;
        overflow: hidden;
    }

    .avatar-circle{
        height: 6vh;
        width: 6vh;
    }

    .gmail{
        opacity: 0.8;
        color: #D6E8FE;
        font-weight: 500;
        text-decoration: none;
        font-size: 0.7vh;
    }
    

    .nick{
        opacity: 1;
        font-size: 2.5vh;
        font-weight: 300;
        color: #ffffff;
    }

    .antoher-data .text-tests, .antoher-data .gmail{
        opacity: 0.8;
        color: #D6E8FE;
        font-weight: 500;
        text-decoration: none;
        font-size: 1.4vh;
    }
}

@media (min-width:1001px) and (max-width:1300px){
    .data-user {
        display: flex;
        flex-direction: column;
        background-color: none;
        border: 1px black solid;
        width: 40%;
        height: 90%;
        border-radius: 2.4vh;
        margin-right: 4vw;
        margin-left: 4vw;
        overflow: hidden;
    }

    .del_current, .change-photo{
        background-color: #94C4FF;
        color: #ffffff;
        border-radius: 0.5vh;
        border: none;
        padding: 1vh 0.5vw 1vh 0.5vw;
        font-size: 2vh;
        font-weight: 500;
    }

    .apply{
        text-align: center;
        color: #ffffff;
        font-size: 2vh;
        padding: 1vh 0.5vw 1vh 0.5vw;
        font-weight: 500;
        background-color: #C48AF7;
        border: none;
        border-radius: 0.5vw;
        margin-right: 0.5vw;
    }

    .circle{
        height: 17vh;
        width: 17vh;
    }


    .nick{
        opacity: 1;
        font-size: 2.5vh;
        font-weight: 300;
        color: #ffffff;
    }
    .edit-buttons{
        height: 50vh;
        background-color: #7c9abd;
    }

    .button{
        height: 25%;
        background-color: #343434;
    }
    .antoher-data .text-tests, .antoher-data .gmail{
        opacity: 0.8;
        color: #D6E8FE;
        font-weight: 500;
        text-decoration: none;
        font-size: 1.7vh;
    }
    .number-tests{
        color: #FFE177;
        font-size: 1.6vh;
        margin-right: 2px;
        margin-left: 2px;
    }
    .bottom-data{
        width: 100%;
        /* background-color: #8AF7D4; */
        height: 23%;
        display: flex;
        justify-content: space-between;
    }

    .options-avatar{
        width: 10vh;
        height: 10vh;
    }

    .default-avatars{
        display: flex;
        flex-direction: row;
        overflow: hidden;
        /* padding: 93px 131px 93px 131px; */
        gap: 20px;
        border: 1px #C48AF7 solid;
        border-radius: 3.4vh;
        width: 100%;
        height: 15vh;
        padding-right: 10vw;
        padding-left: 10vw;
        background-color: #7c9abd;
    }
}

@media(min-width:1300px) and (max-width: 1600px){
    .options-avatar{
        width: 13vh;
        height: 13vh;
    }

    .circle{
        height: 20vh;
        width: 20vh;
    }
    .default-avatars{
        display: flex;
        flex-direction: row;
        overflow: hidden;
        /* padding: 93px 131px 93px 131px; */
        gap: 20px;
        border: 1px #C48AF7 solid;
        border-radius: 3.4vh;
        width: 100%;
        height: 15vh;
        padding-right: 10vw;
        padding-left: 10vw;
        /* background-color: #7c9abd; */
    }

    .agree-img{
        width: 3vh;
        height: 3vh;
    }
    .main-block{
        height: 140vh;
    }
}


@media(min-width:1600px) and (max-width: 2000px){
    .options-avatar{
        width: 15vh;
        height: 15vh;
    }
    .default-avatars{
        display: flex;
        flex-direction: row;
        overflow: hidden;
        /* padding: 93px 131px 93px 131px; */
        gap: 20px;
        border: 1px #C48AF7 solid;
        border-radius: 3.4vh;
        width: 100%;
        height: 15vh;
        padding-right: 10vh;
        padding-left: 10vh;
    }

    .main-block{
        height: 160vh;
    }

    .options-avatar{
        width: 1.5vh;
        height: 1.5vh;
    }

    .button-text{
        font-size: 2.5vh;
    }
    .welcoming-text{
        font-size: 2.5vh;
    }
    .options-avatar{
        width: 9vh;
        height: 9vh;
    }
    .nick{
        font-size: 3vh;
    }
    .change-text{
        font-size: 5.5vh;
    }
    .discription{
        font-size: 2.5vh;
    }
    .del_current{
        width: 25vw;
        height: 5vh;
    }
    .back{
        width: 15vw;
        height: 5vh;
        font-size: 2.5vh;
    }
    .apply{

        height: 5vh;
        font-size: 2vh;
    }
}