@media (max-width: 800px) {
    .created{
        display: none;
    }
}

@media (max-width:600px){
    .saved-tests{
        display: none;
    }

    .settings-test{
        gap: 3px;
    }
}

@media (max-height: 1000px) {
    .main-part{
        margin-top: 10px;
        height: 82%;
        min-height: 0px;
        width: 90%;
        min-width: 250px;
        
    }

    .sort-part{
        justify-content: start;
    }

    .settings-test{
        gap: 10px;
    }
}

@media (min-width: 1500px) {
    .settings-test{
        justify-content: center;
    }

    .settings-test{
        gap: 0px;
    }

    .find-by-text form input{
        position: absolute;
        background-color: #7b7b7b;
        border: 1px #8ABBF7 solid;
        border-radius: 12px;
        outline: none;
        box-shadow: none;
        /* padding: 0px 15px 0px 15px; */
        color: #ffffff;
        padding-left: 15px;
    }
}

@media screen and (max-width: 968px) {
    .title{
        display: flex;
        justify-content: center;
        align-items: center;
    }

  .sidebar {
    position: fixed;
    left: -100%; /* полностью скрыт */
    top: 0;
    width: 150px;
    min-height: 0px;
    height: 100vh;
    min-width: 0px;
    transition: left 0.3s ease;
    z-index: 999;
    padding-top: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
  }

  .cards{
    position: absolute;
    width: 100%;
  }

  .card{
    width: 271px;
  }

  .main-part{
    width: 100px;
    height: 520px;
    min-height: 0px;
  }

  .sidebar.open {
    left: 0; /* появится */
  }

  .sidebar-toggle {
    display: block;
  }
}

.sidebar-toggle {
  display: none; /* по умолчанию скрыта */
  background-color: #94C4FF;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 8px 12px;
  cursor: pointer;
}


@media screen and (max-width: 968px) {
  .sidebar-toggle {
    display: block;
  }
}

.sidebar-toggle{
    position: absolute;
    right: 0;
    background-color: #4a4a4a;
}