*{
    color: white;
    transition: 1s;
}

#eye1, #eye3{
    cursor: pointer;
    z-index: 100;
}

#eye2 {
    cursor: pointer;
    z-index: 1100;
}

.hidden1, .hidden2, .hidden3{
    display: none;
}

a{
    text-decoration: none;
}

.change_name, .change_phone, .change_email, .change_email, .confirm-logout, .change_phone, .confirm-delete{
    display: none;
}

.modal{
    display: none; 
    position: fixed; 
    z-index: 400; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

/* новый пароль */
.change_password {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2f2f2f;
    width: 30vw;
    height: 70vh;
    gap: 1vh;
    padding: 2vh 1vw;
    position: fixed;
    top: 50%;
    transform: translateY(-50%) translateX(0%);
    z-index: 800;
    overflow: hidden;
    border-radius: 1.5vh;
}

.password-text{
    display: flex;
    flex-direction: column;
    gap: 1vh;
    text-align: center;
    width: 100%;
    height: 20%;
}

.topic-password{
    color: #ffffff;
    font-size: 2.5vh;
    font-weight: 600;
}

.rule-text{
    color: #ffffff;
    font-size: 2vh;
}

.inputs-passwords{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    height: 80%;
    /* background-color:green; */
    padding: 1vh;
}

.password-rule{
    color: #BFBFBF;
    font-size: 2.5vh;
    font-weight: 600;
}


.password-buttons{
    width: 100%;
    height: 20%;
    /* background-color: #FD6363; */
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
}

.password-button{
    padding: 1vh 1vw;
    color: #ffffff;
    background-color: #C48AF7;
    border-radius: 0.5vh;
    font-size: 2vh;
    border: none;
}

.back-password{
    background: none;
    border: none;
    font-size: 2vh;
    padding: 1vh;
    margin-right: 1vw;
}

.confirm-logout, .confirm-delete{
    background-color: #343434;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed; 
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
    width: 30vw;
    height: 30vh;
    gap: 1vh;
    padding: 2vh 1vw;
    border-radius: 1.5vh;
    overflow: hidden;
}

.logout-text{
    /* background-color: #94C4FF; */
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    margin-bottom: 1vh;
}

.deny-text{
    text-align: center;
    color: #ffffff;
    font-size: 2vh;
    font-weight: 500;
}

.button-deny{
    background: none;
    border: none;
    font-size: 2vh;
    font-weight: 500;
}

.logout-text{
    color: #ffffff;
    font-size: 2.5vh;
    font-weight: 700;
    margin-bottom: 1vh;
}

.logout-buttons{
    /* background-color: green; */
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}

.logout{
    background-color: #FD6363;
    color: #ffffff;
    border-radius: 0.5vh;
    padding: 1vh 2vw;
    border: none;
    font-size: 2vh;
    font-weight: 500;
}

input{
    color: black;
}

.backgroung-glowing{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    rotate: 25deg;
    height: 100vh;
    background: linear-gradient( to right, #3C3C3C 10%, #7c9abd 30%, #96cbe3 98%, #3C3C3C 5%);
    filter: blur(10vh);
    z-index: -1;
    pointer-events: none;
}

.first-password{
    position: relative;
    display: flex;
    /* background-color: chartreuse; */
    width: 100%;
    height: 7vh;
}

.first-password .eye-hide{
    position: absolute;
    right: 5%;
    /* z-index: 3; */
    width: 3vh;
    height: 3vh;
}


.first-password input{
    border: 0.2vh #94C4FF solid;
    padding: 1vh;
    width: 100%;
    height: 100%;
    /* background: none; */
    border-radius: 1vh;
    font-size: 2vh;
    color: #ffffff;
    font-weight: 700;
    background-color: #2f2f2f;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3vh;
    padding: 10vh 7vw;
}

.info-container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
    width: 60vw;
    height: 80vh;
    overflow: hidden;
    border-radius: 3vh;
    border: 0.1vh solid black;
}

.profile-headerline{
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vh 2vw;
    width: 100%;
    height: 15%;
    background-color: #343434;
}

.main-info{
    position: relative;
    display: flex;
    justify-content: start;
    height: 10vh;
}

.avatar-circle{
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9vh;
    height: 9vh;
    /* width: 25%;
    height: 100%; */
    border-radius: 50%;
    border: 0.1vh black solid;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0s;
}

.avatar{
    object-fit: contain;
    width: 100%;
    height: 100%;
    transition: 0s;
}

.nickname{
    position: absolute;
    left: 5vw;
    font-size: 3vh;
    color: white;
}

.avatar-changing{
    width: 15vw;
    height: 5vh;
    border-radius: 0.5vh;
    padding: 1vh 2vw;
    background-color: #C48AF7; 
    display: flex;
    align-items: center; /* выравнивание по вертикали */
    justify-content: center;
    font-size: 2vh;
    text-align: center;
}

.background{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    width: 100%;
    height: 85%;
    transition: 2s;
    overflow: hidden;
}

.background-img{
    z-index: -1;
    position: absolute;
    /* display: none; */
    width: 100%;
    height: 100%;
}

.info-block{
    /* z-index: 2; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75%;
    height: 80%;
    border-radius: 3vh;
    background-color: #343434;
}

.info-item{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5% 10%;
}

.info-item p{
    font-size: 2.5vh;
}

.info-item input{
    font-size: 2.5vh;
    background-color: none;
    color: #ffffff;
    background: none;
    border: none;
    outline:none;
}

.input_email{
    padding-top: 1vh;
    width: 100%;
    font-size: 2.5vh;
    background-color: none;
    color: #ffffff;
    background: none;
    border: none;
    outline:none;
}

.deny-button{
    font-size: 2vh;
    color: #ffffff;
    font-weight: bold;
    background: none;
    border: none;
    margin-right: 1vw;
}

.accept-nick, .accept-email, .accept-phone{
    color: #ffffff;
    background-color: #7291B8;
    border-radius: 0.3vh;
    font-size: 2vh;
    font-weight: bold;
    border: none;
    padding: 1vh;
}

.text-name {
    position: relative;
    padding-top: 1vh;
    background: none;
    border: none;
    outline: none;
    color: white;
}


.info-item .label{
    color: #BFBFBF;
    font-weight: 500;
}

.change, .account-button{
    width: 8vw;
    height: 5vh;
    border-radius: 0.5vh;
    padding: 1vh;
    background-color: #C48AF7;
    font-size: 2vh;
    border: none;
}

.text-in-between{
    font-weight: 500;
    font-size: 3vh;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: black;
}

.account-control{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 2vw;
    width: 60vw;
    height: 40vh;
    border: 0.1vh solid black;
    border-radius: 3vh;
}

.control-option{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 30%;
    gap: 1vh;
    border-radius: 1.5vh;
    padding: 5vh;
    background-color: #343434;
    border: 0.2vh #94C4FF solid;
}

.control-option p{
    font-size: 2.5vh;
}

.password-checklist{
    position: absolute;
    top: calc(80%);
    width: 90%;
    padding: 2vh 2vw;
    background: #414141;
    border-radius: 1.5vh;
    opacity: 0;
    pointer-events: none;
    transform: translateY(2vh);
    transition: .5s ease;
    border: 0.2vh #ffffff solid;
    display: flex;
    flex-direction: column;
    gap: 0.5vh;
    justify-content: center;
    align-items: start;
    z-index: 108;
    /* background-color: #B9BDF5; */
}

.top-part {
    width: 100%;
    margin-top: 0;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: end;  
    gap: 1vh;   
}

.top-part h3{
    display: flex;
    justify-content: center;
    align-items: center;
}


.img-checklist{
    margin: 0;
    padding: 0;
    width: 1.5vw;
    height: 2.8vh;
}

.new_password{
    z-index: 110;
}

.new_password:focus ~ .password-checklist{
    opacity: 1;
    pointer-events: all;
    transform: translateY(0);

}

.checklist-title{
    color: #ffffff;
    font-size: 2vh;
    font-weight: 500;
}

.checklist{
    margin-top: 1vh;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    justify-content: center;
    align-items: start;
    /* background-color: aqua; */
}

.list-item{
    transform: translatey(-0.2vh);
}

.first-rule{
    /* background-color: red; */
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.icon-item{
    width: 2vh;
    height: 2vh;
    margin: 0;
    padding: 0;
    transition: "";
} 

.like1, .like2, .like3{
    display: none;
}

.list-item{
    padding-left: 0.7vw;
    color: #ffffff;
    font-weight: 300;
    font-size: 2vh;
}

.checklist-line {
    margin-left: 2vw;
    opacity: 0;
    width: 0;
    height: 0.1vh;
    background-color: #C48AF7;
    transform: translateY(-0.6vh);
    transition: width 1s ease, opacity 0.3s ease;
}