.title{
    /* колір тексту */
    color: #ffffff; 
    /* поозиціювання тексту */
    text-align: center;
    /* розмір шрифту */
    font-size: 40px;
    /*  */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 10vh;
}


.tests{
    background-color: aqua;
    width: 100%;
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap:20px;
    justify-content: center;
    align-items: center;
    padding-left: 60px;
}


.test{
    background-color: blue;
    width: 200px;
    height: 300px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.link {
    width: 140px;
    height: 30px;
    background-color: aquamarine;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
