{% extends 'base.html' %}

{% block title %}
    mentor class
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('mentor_class.static', filename='css/class_members.css') }}">
{% endblock %}

{% block content %}

    <div id="top-block">
        <h1>Учні класу:</h1>

        <p>
            <img src="{{ url_for('mentor.static', filename='images/people.svg') }}" >
            {{ users_list|length }} учасників
        </p>
    </div>

    <div id="purple-block">
        <div id="column-titles">
            <p class="yellow">номер</p>
            <p>ім'я учасника</p>
            <p>пошта учасника</p>
            <p class="yellow">кількісь виконаних<br>завдань</p>
            <p> </p>
        </div>
        {% for user in users_list %}
            <div class="user-block" id="{{ user.id }}">
                <p class="number yellow">№ {{ loop.index0 + 1 }}</p>
                <p class="username-p">
                    <img class="image avatar" src="{{ url_for('profile.static', filename='images/edit_avatar/' + user.email + '/' + user.name_avatar ) }}" alt="avatar">
                    {{user.username}}
                </p>
                <p class="email">{{user.email}}</p>
                <p class="yellow">13</p>
                <img pk="{{ user.id }}" class="image kick" src="{{ url_for('mentor_class.static', filename='images/leave.png') }}" alt="avatar">
            </div>
        {% endfor %}
    </div>
{% endblock content %}

{% block scripts %}
    <script src="{{ url_for('test_pass.static', filename='js/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('mentor_class.static', filename='js/kickFromClass.js') }}"></script>
{% endblock %}