{% extends 'base.html' %}

{% block title %}
    mentor class
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('mentor_class.static', filename='css/class_data.css') }}">
{% endblock links %}

{% block content %}
    <div class="main">
        <div class="left">
            <div class="minis">
                <div class="class">
                    <img src="{{ url_for('mentor_class.static', filename='images/head.svg') }}" alt="" class="head">
                    <div class="texts">
                        <div class="big-txt">
                            <p>Назва класу: додаткові заняття</p>
                            <p>Клас: 8-А</p>
                        </div>
                        <p class="mini-txt">(опис, якщо є), якщо нема → “без опису”</p>
                    </div>
                    <img src="{{ url_for('mentor_class.static', filename='images/robo.svg') }}" alt="" class="robo">

                </div>
                <div class="students">
                    <p>Предмет: математика</p>
                    <p>Кількість учнів: 10</p>
                    <button>Перейти до списку учнів</button>
                </div>
                <button class="btn">Переглянути успішність класу</button>
            </div>
        </div>
        <div class="right">
            <div class="head-btns">
                <h2>Події класу</h2>
                <button class="drop">Сортування</button>
            </div>
            <div class="tasks">
                {% for anoun in ready_anoun %}
                    <div class="task">
                        <div class="info_div">
                            <img src="{{ url_for('mentor_class.static', filename='images/book.svg') }}" alt="" class="book">
                            <div>
                                <p class="name">{{ anoun[0] }}, {{ anoun[1] }}</p>
                                <p class="term">термін події..</p>
                            </div>
                        </div>
                        <div class="right-head"></div>
                    </div>
                {% endfor %}
                
                <img class="add_task" src="{{ url_for('mentor_class.static', filename='images/add_task.svg') }}" alt="">
            </div>
        </div>

        <div class="choice">
            <p>Створити...</p>
            <button class="announcement-btn">Оголошення</button>
            <button class="test_task-btn">Завдання з тестом</button>
        </div>

        <div class="announcement">
            <form action="" method="post" enctype='multipart/form-data'>
                <p>Створення завдання для учнів</p>
                <div class="fix-form">
                    <input type="text" class="topic" name="topic" id="" placeholder="Введіть тему завдання..." required>
                        <!-- <input type="text" name="check_form" class = "check_name" value = "load_image"> -->
                    <input id="file-upload" name="input-file" type="file">
                </div>
                <input type="text" class="task_info" name="task_info" id="" placeholder="Введіть інформацію про завдання..." required>
                <div class="term-form">
                    <p>Задати термін: </p>
                    <div class="input-term">
                        <input type="text" class="term-num week_data" name="term-week">
                        <p class="text-term">тижнів</p>
                        <input type="text" class="term-num days_data" name="term-days">
                        <p class="text-term">днів</p>
                        <input type="text" class="term-num hours_data" name="term-hours">
                        <p class="text-term">годин</p>
                        <input type="text" class="term-num minutes_data" name="term-minutes">
                        <p class="text-term">хвилин</p>
                    </div>
                </div>
                <button type="submit" class="create_task" type="button">Створити завдання</button>
            </form>
        </div>

        <div class="test_task">
            <form action="" method="post">
                <p>Створення завдання для учнів</p>
                <input type="text" class="test_task_info" name="test_task_info" id="" placeholder="Введіть інформацію про завдання..." required>
                <button class="choose-test" type="button">Обрати тест з колекції</button>
            </form>
        </div>

        <div class="next_test_task">
            <form action="" method="post">
                <p>Створення завдання для учнів</p>
                <input type="text" class="next_test_task_info" name="next_test_task_info" id="" placeholder="Введіть інформацію про завдання..." required>
                <div class="choosen-test">
                    <p>Обраний тест: </p>
                    <!-- обраний тест -->
                </div>
                <div class="setting-test">
                    <div class="upper-div">
                        <div class="first-column">
                            <p class="set-text">Налаштування для тесту: </p>
                            <p class="set-text">Перемішувати питання тесту?</p>
                            <p class="set-text">Перемішувати відповіді тесту?</p>
                            <p class="set-text">Вимкнути обмеження часу у тесті</p>
                        </div>
                            
                        <div class="select-section">
                            <div class="second-column">
                                <p class="set-text">Так</p>
                                
                            </div>
                            <div class="third-column">
                                <p class="set-text">Ні</p>
                                
                            </div>
                        </div>
                    </div>
                
                    <div class="div-for-term">
                        <div class="select-term">
                            <p class="set-text">Термін: </p>
                            <div class="else-input-term">
                                <input type="text" class="term-num" name="term-num">
                                <p class="text-term">тижнів</p>
                                <input type="text" class="term-num" name="term-num">
                                <p class="text-term">днів</p>
                                <input type="text" class="term-num" name="term-num">
                                <p class="text-term">годин</p>
                                <input type="text" class="term-num" name="term-num">
                                <p class="text-term">хвилин</p>
                            </div> 
                        </div>
                        <div class="without-term">
                            <p class="set-text">Без терміну </p>
                            <!-- <button></button> -->
                        </div>
                    </div>
                </div>
                
                <button class="create_test_task" type="button">Створити завдання</button>
            </form>
        </div>

        <!-- {% for user in users_list %}
            <p>Ім'я: {{user.username}}</p>
            <p>Пошта: {{user.email}}</p>
        {% endfor %} -->
    </div>
{% endblock content %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('mentor_class.static', filename='js/create_task.js') }}"></script>
{% endblock scripts %}