{% extends 'base.html' %}

{% block title %}
    mentor class
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('mentor_class.static', filename='css/class_data.css') }}">
{% endblock links %}

{% block content %}
    <div class="main">
        <div class="left">
            <div class="minis">
                <div class="class">
                    
                    <div class="texts">
                        <div class="big-txt">
                            <p>Назва класу: додаткові заняття</p>
                            <p>Клас: 8-А</p>
                        </div>
                        <p class="mini-txt">(опис, якщо є), якщо нема → “без опису”</p>
                    </div>
                    <img src="{{ url_for('mentor_class.static', filename='images/robo.svg') }}" alt="" class="robo">

                </div>
                <div class="students">
                    <p>Предмет: математика</p>
                    <p>Кількість учнів: <span style="color:#FFB700; font-weight: 700;">10</span></p>
                    <a href="/list_student" class="link-student">
                        <button class="list_student">Перейти до списку учнів</button>
                    </a>
                </div>
                <button class="btn">Переглянути успішність класу</button>
            </div>
        </div>
        <div class="right">
            <div class="head-btns">
                <h2>Події класу</h2>
                <button class="drop">Сортування</button>
            </div>
            <div class="tasks">
                {% for anoun in ready_anoun %}
                    <div class="task">
                        <div class="info_div">
                            <img src="{{ url_for('mentor_class.static', filename='images/book.svg') }}" alt="" class="book">
                            <div>
                                <p class="name">{{ anoun[0] }}, {{ anoun[1] }}</p>
                                <p class="term">термін події..</p>
                            </div>
                        </div>
                        <div class="right-head"></div>
                    </div>
                {% endfor %}
                
                <img class="add_task" src="{{ url_for('mentor_class.static', filename='images/add_task.svg') }}" alt="">
            </div>
        </div>

        <div class="choice">
            <p>Створити...</p>
            <button class="announcement-btn">Оголошення</button>
            <button>Завдання з тестом</button>
        </div>

        <div class="announcement">
            <form action="" method="post">
                <p>Створення завдання для учнів</p>
                
                    <div class="topic_div">
                        <input type="text" class="topic" name="topic" id="" placeholder="Введіть тему завдання..." required>
                        <div class="circle_img">
                            <img class="add_img_task" src="{{ url_for('mentor_class.static', filename='images/add_img_task.svg') }}" alt="">
                        </div>
                    </div>
                    <input type="text" class="task_info" name="task_info" id="" placeholder="Введіть інформацію про завдання..." required>

                    <div class="termin_div">
                        <p>Задати термін:</p>
                        <div class="date">
                            <input type="text" class="date_input" name="weeks" id="">
                            <p>тижнів</p>
                            <input type="text" class="date_input" name="days" id="">
                            <p>днів</p>
                            <input type="text" class="date_input" name="hours" id="">
                            <p>годин</p>
                            <input type="text" class="date_input" name="seconds" id="">
                            <p>хвилин</p>
                        </div>
                    </div>

                    <div style="display: flex;width: 100%; justify-content: flex-end; ">
                        <button class="create_task" type="button">Створити задвання</button>
                    </div>
            </form>
        </div>
        <!-- {% for user in users_list %}
            <p>Ім'я: {{user.username}}</p>
            <p>Пошта: {{user.email}}</p>
        {% endfor %} -->
    </div>
{% endblock content %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('mentor_class.static', filename='js/create_task.js') }}"></script>
{% endblock scripts %}