{% extends 'base.html' %}

{% block title %}
    Class
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('mentor_class.static', filename='css/create_class.css') }}">
{% endblock links %}

{% block content %}
    <h1>{{random_choice}}</h1>
    <form class="main" method="post" action="create_class">
        <div class="create">
            <p>Створення класу: </p>
        </div>

        <div class="create-class">
            <p class="text">Заповніть інформацію про клас:</p>
            <div class="inp1">
                <input type="text" placeholder="Назва класу" class="name" name="class_name">
                <div class="sel">
                    <p>Оберіть клас:</p>
                    
                    <div class="sels">
                        <button type="button" class="sel1">№</button>
                        <p>-</p>
                        <button type="button" class="sel2">А...</button>
                    </div>
                </div>
            </div>
            <div class="inp">
                <textarea type="text" class="inp2" placeholder="Опис класу (не обов'язково)" name="description" style="resize: none;"></textarea>
            </div>
            <div class="lstin">
                <button type="button" class="obj">Оберіть предмет класу</button>
                <button type="button" class="choo">тип приєднання до класу</button>
            </div>
            
        </div>
        <div class="bottom-div">
            <button type="button" class="generate-btn">Згенерувати код</button>
            <span class="generate-container">
                <p>Ваш код з’явиться тут</p>
                <input type="text" class="generated-code" name="generated-code"  readonly>
                <!-- <p >якийсь згенерований код</p> -->
                <hr>
            </span>
        </div>
        <button id="createClassBtn">Створити клас</button>
    </form>
    
{% endblock %}

{% block scripts %} 
    {{ super() }}
    <script src="{{ url_for('mentor_class.static', filename='js/create_class.js') }}"></script>
    <script src="{{ url_for('mentor_class.static', filename='js/generate_code.js') }}"></script>
{% endblock scripts %}