{% extends 'base.html' %}

{% block title %}
    Class
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('mentor_class.static', filename='css/create_class.css') }}">
{% endblock links %}

{% block content %}
    <form class="main" method="post">
        <div class="create">
            <p>Створення класу: </p>
        </div>

        <!-- <input type="text" placeholder="name" name="name">
        <input type="text" placeholder="descrtiption" name="description">
        <input type="text" placeholder="number" name="form">
        <input type="text" placeholder="letter" name="letter">
        <input type="text" placeholder="lesson" name="lesson">
        <input type="text" placeholder="type" name="type"> -->
        <div class="create-class">
            <p class="text">Заповніть інформацію про клас:</p>
            <div class="inp1">
                <input type="text" placeholder="Назва класу" class="name" name="class_name">
                <div class="sel">
                    <p>Оберіть клас:</p>
                    
                    <div class="sels">
                        <button type="button" class="sel1">№</button>
                        <p>-</p>
                        <button type="button" class="sel2">А...</button>
                    </div>
                </div>
            </div>
            <div class="inp">
                <textarea type="text" class="inp2" placeholder="Опис класу (не обов'язково)" name="description"></textarea>
            </div>
            <div class="lstin">
                <button type="button" class="obj">Оберіть предмет класу</button>
                <button type="button" class="choo">тип приєднання до класу</button>
            </div>
        </div>
        <div class="bottom-div">

        </div>
        <form action="" method="post">
            <button type="button" id="createClassBtn">Створити клас</button>
        </form>
    </form>
    
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('mentor_class.static', filename='js/create_class.js') }}"></script>
{% endblock scripts %}