{% extends 'base.html' %}

{% block title%}

{% endblock%}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('mentor_class.static', filename = 'css/mentor_classes.css') }}">
{% endblock %}

{% block content %}
    <body>
        <div class="all">
            <div class="prt1">
                <input type="text" class="inp">
                <div class="classes">
                    
                        <div class="classs">
                            <div class="left">

                            </div>
                        </div>
                    
                </div>
            </div>
            <div class="prt2">
                <div class="head">
                    <div class="first">
                        <div class="big">
                            <div class="top">
                                <img src="" alt="avatar">
                                <p>kemilli</p>
                            </div>
                            <p class="em">hsdhsd@gmail.com</p>
                        </div>
                        <button class="btn"><a href="/create_class" class="lin">Створити клас</a></button>
                    </div>
                    <p class="cls">Кількість створених класів:      2</p>
                </div>
            </div>
        </div>
        
    </body>
{% endblock%}