{% extends 'base.html' %}

{% block title %}
    menu_classes
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('mentor_class.static', filename='css/classes.css') }}">
{% endblock links %}

{% block content %}
    <div class="all_classes">
        <div class="outline_class">
            {% for class in mentor_classes %}
                <form method="post" class="class-card accent">
                    <input type="text" style="display: none;" name="check_form" value="leave">
                    <div class="card-header">
                        <span class="subject-name">{{ class.name_class }}</span>
                        <span class="class-badge">{{ class.form }}-{{ class.letter }}</span>
                    </div>
                    <div class="card-body">
                        <p class="teacher-name">Вчитель:{{ class.mentor.username }}</p>
                        <p class="class-desc">{{ class.description }}</p>
                    </div>

                    <div class="card-footer">
                        <div class="students-info">
                            <span>{{ class.students|length }}</span>
                        </div>
                        {% if user.is_mentor %}
                            <button type="button" value="{{ class.code }}" name="btn-leave" class="btn-leave btn-delete">видалити</button>
                        {% else %}
                            <button value="{{ class.code }}" name="btn-leave" class="btn-leave">покинути</button>
                        {% endif %}
                        
                    </div>
                </form>
            {% endfor %}
        </div>
    </div>
    <div class="side-menu">
        <div class="profile-card">
            <div class="profile-header">
                <div class="avatar-circle">
                    <img data-size="{{ user.size_avatar }}" class="avatar" src="{{ url_for('profile.static', filename='images/edit_avatar/' + user.email + '/' + user.name_avatar ) }}" alt="avatar">
                </div>
                <div class="profile-main">
                    <h3>{{ user.username }}</h3>
                </div>
            </div>

            <div class="profile-info">
                <div class="info-row">
                    <span>Імʼя</span>
                    <p>{{ user.username }}</p>
                </div>
                <div class="info-row">
                    <span>Email</span>
                    <p>{{ user.email }}</p>
                </div>
            </div>
        </div>

        <form class="join-class" method="post">
            {% if not user.is_mentor %}
                <input type="text" style="display: none;" name="check_form" value="join">
                <h3>Вступити до класу</h3>
                <input type="text" name="class_code" placeholder="Введіть код класу">
                <button type="submit" class="join-class">Приєднатися</button>
            {% else %}
                <h3>Створення</h3>
                <button type="button" class="create-class" onclick="location.replace('/create_class')">Створити клас</button>
            {% endif %}
        </form>

    </div>

{% endblock %}

{% block scripts %}

    <script src="{{ url_for('mentor_class.static', filename='js/delete_class.js') }}"></script>

    {% if user.is_mentor %}
        <script src="{{ url_for('mentor_class.static', filename='js/change_page.js') }}"></script>
    {% else %}
        <script>
            const allClasses = document.querySelectorAll(".class-card");

            allClasses.forEach(card => {
                card.addEventListener("click", () => {
                    const code = card.querySelector(".btn-leave").value;
                    location.replace(`/student_class?class_key=${code}`);
                });
            });
        </script>
    {% endif %}

{% endblock scripts %}
