main{
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: row;
}

.users-results{
    width: 65vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    /* background-color: green; */
    position: relative;
    /* justify-content: space-between; */
}

.result{
    height: 10%;
    width: 100%;
    display: flex;
    gap: 7px;
    font-size: 2.5vh;
    justify-content: start;
    padding-left: 5%;
}

.cards{
    height: 86%;
    width: 90%;
    display: flex;
    flex-direction: column;
    border: 2px solid #C48AF7;
    border-radius: 34px;
    position: relative;
    overflow: hidden;
}

.cards-header{
    height: 10%;
    width: 100%;
    display: flex;
    gap: 0.5%;
    justify-content: start;
    padding-left: 3%;
    background-color: #343434;
    border: 1px solid #C48AF7;
}
.cards-header img{
    width: 3.5vw;
    height: 3.5vh;
}

.block-info{
    display: flex;
    background-color: rgba(138, 187, 247, 0.2);
    width: 100%;
    position: relative;
    justify-content: space-between;
}
.block-info p{
    font-size: 0.9vw;
    font-weight: 600;

}


.div55{
    display: flex;
    justify-content: start;
    width: 100%;
    margin-top: 1%;
    margin-left: 1%;
    /* background-color: green; */
}

.first-block, .second-block{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.first-block{
    height: 100%;
    width: 30%;
    /* background-color: purple; */
    /* padding-left: 1%; */
    padding-right: 1%;
}
.second-block{
    height: 100%;
    width: 50%;
    /* background-color: pink; */
    justify-content: center;
    gap: 50%;
}

.div45{
    display: flex;
    justify-content: start;
    width: 45%;
}

.user-list{
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 100%;
    background-color: rgba(138, 187, 247, 0.2);
    
}



.text-color{
    color: #FFB700;
}
.text-color1{
    color: #C48AF7;
}
.accurancy{
    display: flex;
    gap: 2.5vh;
    flex-direction: column;
    justify-content: end;
    margin-bottom: 2%;
    position: relative;
    width: 100%;
    height: 100%;
}
.graphics{
    width: 35vw;
    height: 90vh;
    display: flex;
    position: relative;
    flex-direction: column;
    margin-right: 1.5vw;
}

.graphics p{
    font-size: 2.5vh;
}
.q-btn{
    border: none;
    border-radius: 0.5vw;
    padding-top: 0.6vh;
    padding-bottom: 0.6vh;
    padding-left: 3vh;
    padding-right: 3vh;
    background-color: #7EA2CE;
    cursor: pointer;
    position: absolute;
    right: 2%;
    top: 2vh;
}
.q-btn p{
    font-size: 1.1vw;
    color: white;
}

.main-diagram{
    width: 100%;
    height: 36%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.diagram-pie{
    width: 100%;
    height: 100%;
    display: flex;
}
/* .myChart{
    margin-bottom: 2vh;
} */

.gap-info{
    display: flex;
    gap: 2vh;
    flex-direction: column;
    width: 100%;
}
.res-info{
    display: flex;
    justify-content: space-between;
    border-radius: 1.3vw;
    border: 2px solid #B9BDF5;
    align-items: center;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-bottom: 2vh;
    padding-top: 2vh;
    width: 100%;
    background-color: #505050;
}
.res-info p{
    font-size: 1.1vw;
}

.full-info{
    display: flex;
    justify-content: space-between;
    border-radius: 2vw;
    border: 2px solid #B9BDF5;
    flex-direction: column;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    padding-bottom: 1vh;
    padding-top: 1vh;
    width: 100%;
    height: auto;
    gap: 5%;
    background-color: #505050;
}
.full-info p{
    font-size: 1.1vw;
}
.full-info span{
    font-size: 1.1vw;
    margin-right: 52%;
    margin-top: 2%;
}
.style-block{
    display: flex;
    justify-content: space-between;
    border-radius: 1.3vw;
    border: 2px solid #B9BDF5;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-bottom: 2vh;
    padding-top: 2vh;
    width: 100%;
    gap: 1%;
    background-color: #626262;
}
.style-block p{
    font-weight: 550;
}

.time-info{
    display: flex;
    justify-content: space-between;
    margin-top: 7%;
    border-radius: 1.3vw;
    border: 2px solid #B9BDF5;
    padding-left: 1.2vw;
    padding-right: 1.2vw;
    padding-bottom: 2vh;
    padding-top: 2vh;
    width: 100%;
    gap: 1%;
    background-color: #626262;
}

.user-card{
    height: 7%;
    width: 98%;
    display: flex;
    background-color: green;
    position: relative;
    gap: 3vw;
    background-color: #343434;
    border-radius: 15px;
    border: 2px #94C4FF solid;
}

.outline{
    width: 46%;
    height: 80%;
    border-radius: 11px;
    display: flex;
    justify-content: start;
    overflow: hidden;
    background-color: rgba(174, 174, 174, 0.29);
}

.fill{
    background-color: #B9BDF5;
    height: 100%;
    transition: width 0.8s;
}


.div-place, .div-name, .div-points{
    height: 100%;
    width: 10%;
    display: flex;
    font-size: 2vh;
}

.div-place p, .div-points p{
    color: #FFB700;
}