main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 90vh;
    padding-left: 2%;
}

.general_container_rect {
    display: flex;
    flex-direction: column;
    background-color: rgba(138, 187, 247, 0.1);
    width: 34vw;
    min-width: 300px;
    height: 90%;
    border: 1px solid #C48AF7;
    border-radius: 24px;
    max-width: 50%;
    box-sizing: border-box;
    color: #fff;
}

.mentor-layout {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    width: 100%;
    height: 100%;
    padding: 1.5% 2.5%;
}

.mentor-info-card,
.mentor-card {
    width: 100%;
    background-color: #343434;
    border-radius: 34px;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    box-sizing: border-box;
    height: 60%;
}

.mentor-info-card {
    height: 40%;
    display: flex;
    justify-content: space-between;
    padding: 6% 0 4% 0;
}

.mentor-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 40%;
    padding-right: 2vw;
    position: relative;
}

.mentor-avatar {
    position: relative;
    width: 25%;
    height: 100%;
}

.mentor-avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: contain;
}

.you {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #D6E8FE;
    font-weight: 500;
    font-size: 2vh;
    border-radius: 0 6px 0 6px;
    transform: translate(30%, 30%);
}

.mentor-info {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.3em;
}

.mentor_name {
    font-size: 2.5vh;
    color: #ffffff;
}

.email {
    font-size: 2vh;
    color: #D6E8FE;
}

.topic {
    width: 80%;
    height: 40%;
    background-color: #BCDAFF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    color: #000;
    font-weight: 500;
    font-size: 2.5vh;
    text-align: center;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

.image-test {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
    top: -45%;
}

.background-blur {
    position: fixed;
    left: 0;
    width: 40vw;
    height: 100vh;
    background: linear-gradient(60deg, #3C3C3C 10%, #7c9abd 20%, #74919E 72%, #3C3C3C 5%);
    filter: blur(6.25vw);
    z-index: -5;
    pointer-events: none;
}

.topic-text {
    font-size: 2vh;
    width: 96%;
    height: 45%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    overflow-y: auto;
    color: #000000;
}

.mentor-join-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    font-weight: 600;
    width: 90%;
    height: 90%;
    align-items: start;
    font-size: 2vh;
}

.join,
.join-code,
.user-count {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1vh;
    width: 100%;
    white-space: wrap;
}

.user-count {
    width: 44%;
}

.url,
.code,
.copy-code {
    display: flex;
    align-items: center;
    gap: 0.8vw;
    color: white;
    font-size: 2vh;
}

.link-copy {
    position: relative;
    cursor: pointer;
    display: inline-block;
}

.link-copy::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 1px;
    background-color: #C48AF7;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s;
}

.link-copy.copied::after {
    transform: scaleX(1);
}

.link-copy:hover::after {
    transform: scaleX(1);
}

.copy {
    width: 2.5vh;
    height: 2.5vh;
    cursor: pointer;
    transition: 0.2s;
}

.copy:hover {
    opacity: 0.8;
}

#code {
    min-width: 10vh;
    height: 3.5vh;
    text-align: center;
    color: #ffffff;
    border-radius: 10px;
    border: 1px solid #FFB700;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vh;
}

#amount_users {
    font-size: 2.5vh;
    color: #FFB700;
}

.qr-code {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    line-height: 1.2;
    height: 30%;
    position: relative;
}

.qr-code-outline {
    height: 100%;
    width: 50%;
    position: relative;
    display: flex;
    justify-content: end;
    align-items: end;
}

.img-qrcode {
    height: 150%;
}

.qrcode {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mentor-buttons {
    display: flex;
    justify-content: space-between;
    gap: 1vw;
    flex-wrap: wrap;
    width: 100%;
}

.start,
.end {
    width: 48%;
    height: 6vh;
    border-radius: 10px;
    color: white;
    background-color: #C48AF7;
    cursor: pointer;
    font-size: 2vh;
    border: none;
    transition: 0.2s;
}

.start:hover,
.end:hover {
    background-color: #b779ee;
}

.participants-section {
    width: 62vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.flex-block {
    display: flex;
    gap: 1vw;
    font-size: 2vh;
}

.count-users {
    font-size: 2.5vh;
    color: #FFB700;
}

.flex-block img {
    width: 5vh;
    height: 5vh;
}

.participants {
    font-size: 2vh;
}

.participants-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.card {
    background-color: rgba(0, 0, 0, 0.28);
    border-radius: 15px;
    display: flex;
    align-items: center;
    color: white;
    gap: 10px;
}

.avatar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #94C4FF;
    object-fit: cover;
    background-color: white;
}

.username {
    font-weight: bold;
    font-size: 2vh;
}

.information {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.fires img {
    width: 18px;
    height: 18px;
}

.right-part {
    position: relative;
    height: 90vh;
    width: 62vw;
}

.users {
    width: 100%;
    max-height: 90%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    gap: 15px;
    z-index: 10;
    overflow-y: auto;
    /* background-color: green; */
}

.message {
    border-radius: 20px;
    display: inline-block;
    align-self: flex-start;
    word-break: break-word;
    text-align: left;
    min-width: 60px;
    max-width: 70%;
    z-index: 10;
    font-size: 2vh;
}

.block {
    background-color: #00000047;
    width: auto;
    min-width: 250px;
    height: 8vh;
    min-height: 75px;
    border-radius: 12px;
    display: flex;
    align-items: end;
    justify-content: space-between;
    padding: 5px;
    
    /* padding: 0 1vw 1vh 1vw; */
    gap: 10px;
    z-index: 10;
    position: relative;
    background-color: rgba(11, 10, 10, 0.6); 
    backdrop-filter: blur(0px); 
    -webkit-backdrop-filter: blur(0px);
}

.cross-user {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 5px;
    margin-right: 5px;
    transition: 0.2s;
    cursor: pointer;
    height: 2vh;
    width: auto;
}

.window-choice{
    position: absolute;
    justify-content: center;
    width: clamp(280px, 90vw, 420px); 
    height: 19vh;
    display: flex; 
    flex-direction: column;
    background-color: #343434;
    left: 50%;
    top: 50%;    
    transform: translate(-50%, -50%) scale(0.8); 
    gap: 1vw;
    border: 0.5vh solid #94C4FF;
    border-radius: 1.5vh;
    z-index: 1002;
    text-align: center;
    opacity: 0;
    visibility: hidden;    
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.window-choice.active{
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    backdrop-filter: blur(3px); 
    z-index: 1001; 
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}

.overlay.active {
    opacity: 1;
    visibility: visible;
}

.window-choice h1 {
    color: white;
    font-size: 2.5vh;
}

.window-choice p {
    color: white;
    font-size: 2vh;
    font-weight: 500;
}

.window-choice div {
    margin-top: 1vh;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 1vw;
}

.decline {
    text-align: center;
    border: none;
    padding: 0.5vh 1vh;
    font-size: 2vh;
    cursor: pointer;
    justify-content: center;
    display: flex;
    font-weight: 600;
}

.decline:hover{
    color: #d2d0d0;
}

.remove_user {
    text-align: center;
    border: none;
    display: flex;
    justify-content: center;
    padding: 0.5vh 1vh;
    background-color: #FD6363;
    font-size: 2vh;
    border-radius: 0.5vh;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
}

.remove_user:hover {
    background-color: #eb4848;
}

.cross-user:hover {
    opacity: 0.8;
}

.block {
    background-color: #00000047;
    width: auto;
    min-width: 250px;
    height: 8vh;
    min-height: 75px;
    border-radius: 12px;
    display: flex;
    align-items: end;
    justify-content: space-between;
    padding: 5px;
    
    /* padding: 0 1vw 1vh 1vw; */
    gap: 10px;
    z-index: 10;
    position: relative;
    background-color: rgba(11, 10, 10, 0.6); 
    backdrop-filter: blur(0px); 
    -webkit-backdrop-filter: blur(0px);
}

.ava-obodok {
    height: 72%;
    /* background-color: orange; */
    position: relative;
}

.ava {
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.inf{
    display: flex;
    color: #ffffff;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    height: 100%;
    width: auto;
    font-size: 2vh;
    gap: 5px;
}

.inf p{
    display: flex;
    width: 100%;
    white-space: nowrap;
    font-size: 2vh;
}

.tetx{
    font-size: 2vh;
}

.pet{
    width: auto;
    height: 80%;
    object-fit: contain;
    flex-shrink: 0;
}

.block-pet{
    width: 7vw;
    min-width: 80px;
    height: 4vh;
    min-height: 30px;
    background-color: #3C3C3C;
    border-radius: 5px;
    border: 1px solid #C48AF7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.block-text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #ffffff;
    font-size: 2vh;
    gap: 2px;
    /* background-color: green; */
}

.user {
    align-self: flex-end;
    background-color: rgb(150, 196, 218, 0.9);
    color: #000000;
}

.another-user {
    align-self: flex-start;
    color: #000;
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

.modal-window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.modal-window.show {
    opacity: 1;
    pointer-events: auto;
}

.modal-content {
    background-color: #3C3C3C;
    border: #ffffff solid 1px;
    border-radius: 10px;
    position: relative;
    text-align: center;
    transform: scale(0.9);
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20vw;
    min-width: 300px;
    height: 45vh;
}

.modal-window.show .modal-content {
    transform: scale(1);
    opacity: 1;
}

.close-btn {
    cursor: pointer;
    height: 71%;
    position: relative;
}

.close-btn img {
    width: auto;
    height: 100%;
    object-fit: contain;
}

.nameofcode {
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    height: 15%;
    width: 100%;
    position: relative;
    overflow: hidden;
    padding: 0.3vw;
    font-size: 2vh;
}

.nameofcode2 {
    color: #FFB700;
    font-weight: lighter;
}

.qr-code-div {
    width: 100%;
    height: 85%;
    position: relative;
    display: flex;
}

.qr-code-div img {
    height: 100%;
    width: 98%;
    object-fit: contain;
}

.bottom-part {
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 2vh;
}

#for-text {
    font-weight: 400;
}


@media(max-width: 768px){
    .main{
        flex-direction: column;
        overflow-y: scroll;
        /* background-color: orange; */
    }


    .general_container_rect {
        width: 68vw;
        min-width: 350px;
        height: 90%;
        max-width: 100%;
        margin-top: 10px;
    }

    .users {
        width: 100vw;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: start;
        gap: 15px;
        overflow-y: auto;
    }

    .background-blur {
        position: absolute;
        left: 0;
        top: 0;
        width: 100vw;
        height: 80vh; 
        background: linear-gradient(270deg, #3C3C3C 5%, #7c9abd 40%, #74919E 82%, #3C3C3C 5%);
        /* transform: rotate(80deg);
        filter: blur(6.25vw);
        z-index: -5;
        pointer-events: none; */
    }


}