.general_container_rect {
    margin-top: 5vh;
    margin-left: 5vh;
    display: flex;
    flex-direction: column;
    background-color: rgba(138, 187, 247, 0.1);
    width: 24vw;
    height: 80vh;
    border: 0.1vh solid #C48AF7;
    border-radius: 2.4vh;
    padding: 2vh 2vw;
}

.mentor-layout {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    width: 22vw;
    height: 70vh;
}

.mentor-info-card {
    width: 100%;
    background-color: #343434;
    border-radius: 3.4vh;
    padding: 2vh 2vw;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.mentor-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 11vh;
}

.mentor-avatar {
    position: relative;
    width: 8vh;
    height: 8vh;
}

.mentor-avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 0.1vh solid #94C4FF;
    object-fit: cover;
    background-color: white;
}

.you {
    position: absolute;
    bottom: 0;
    right: 0;
    color: white;
    font-weight: 500;
    font-size: 2vh;
    border-radius: 0 0.6vh 0 0.6vh;
    transform: translate(30%, 30%);
}

.mentor-info {
    display: flex;
    flex-direction: column;
    gap: 0.5vh;
}

.mentor_name {
    font-size: 4vh;
    color: #ffffff;
}

.email {
    font-size: 1.8vh;
    color: #ffffff;
}

.topic {
    margin-top: 2vh;
    width: 100%;
    height: 5vw;
    background-color: #BCDAFF;
    border-radius: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-weight: 500;
    font-size: 2vh;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.topic img {
    position: absolute;
    width: 100%;
    top: 0;
    left:0;
    margin-top: -37%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    object-fit: cover;
    clip-path: ellipse(95% 60% at 50% 0%);
}

.mentor-card {  
    width: 100%;
    height: 45vh;
    display: flex;
    flex-direction: column;
    background-color: #343434;
    border-radius: 3.4vh;
    padding: 2vh 2vh;
    gap: 2vh;
}

.mentor-join-info {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    color: white;
    font-weight: 600;
    font-size: 1.3vh;
    /* background-color: #FFB700; */
    width: 100%;
    height: 1000vh;
}

.join {
    display: flex;
    justify-content: space-between;
    gap: 1vh;
    /* background-color: #BCDAFF; */
    width: 100%;
}

.url {
    display: flex;
    align-items: center;
    gap: 0.8vh;
}

.copy {
    width: 2vh;
    height: 2vh;
    cursor: pointer;
}

.join-code {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 3vh;
}

.code, .copy-code {
    display: flex;
    align-items: center;
    gap: 0.8vh;
    color: white;
    font-size: 1.5vh;
}

#code {
    width: 5vw;
    height: 2.7vh;
    text-align: center;
    color: #ffffff;
    border-radius: 1vh;
    border: 0.1vh solid #FFB700;
    padding: 0.3vh 0.5vw;
    flex-shrink: 0;
}

.user-count {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#amount_users {
    font-size: 1.5vh;
    color: #FFB700;
}

.avatar{
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.avatar-circle{
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8vh;
    height: 8vh;
    border: 1px black solid;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar-circle-chat{
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4vh;
    height: 4vh;
    border: 0.1vh black solid;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.qr-code {
    display: flex;
    font-family: 'Inter', sans-serif;
    justify-content: space-between;
    font-weight: 600;
    font-size: 1.3vh;
    margin-bottom: 6vh;
    width: 100%;
    /* background-color: #C48AF7; */
}

.qr-code img{
    width: 10vh;
    height: 10vh;
}

.mentor-buttons {
    display: flex;
    justify-content: space-between;
    gap: 1vw;
    flex-wrap: wrap;
}

.start,
.end {
    flex: 1;
    height: 4.2vh;
    width: 17vw;
    padding: 0.8vh 1.5vw;
    border: none;
    border-radius: 1vh;
    color: white;
    background-color: #C48AF7;
    cursor: pointer;
    font-size: 1vh;
}

.participants-section {
    width: 68vw;
    height: 90vh;
}

.participants {
    font-size: 1.4rem;
    margin-bottom: 2vh;
}

.participants-list {
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
}

.card {
    background-color: rgba(0, 0, 0, 0.28);
    border-radius: 1.5vh;
    display: flex;
    align-items: center;
    color: white;
    padding: 1vh 1.5vw;
    gap: 1vh;
}

.avatar img {
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    border: 0.1vh solid #94C4FF;
    object-fit: cover;
    background-color: white;
}

.username {
    font-weight: bold;
    font-size: 1vh;
}

.information {
    display: flex;
    flex-direction: column;
    gap: 0.5vh;
}

.fires img {
    width: 1.8vh;
    height: 1.8vh;
}

.right-part{
    /* background-color: aqua; */
    height: 90vh;
    width: auto;
    width: 62vw;
    position: relative;
}

.chat-icon{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 4vh;
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5vh;
    margin-right: 0.5vh;
    cursor: pointer;
}

.chat-icon img{
    width: 4vh;
    height: 4vh;
    object-fit: contain;
}

.chat-box{
    height: 60vh;
    width: 22vw;
    position: absolute;
    /* z-index: -10; */
    bottom: 0;
    right: 0;
    margin: 5vh;
    background-color: #343434;
    border-radius: 1.5vh;
    border: 0.2vh #A9D0FF solid;
    display: flex;
    flex-direction: column;
    display: none;
}

.header-chat{
    width: 100%;
    height: 10%;
    background-color: #C48AF7;
    border-bottom: 0.1vh #88B2E5 solid;
    border-radius: 1.3vh 1.3vh 0 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0.5vh;
    padding-left: 10%;
    padding-right: 10%;
}

.coint-message{
    background-color: #C48AF7;
}

.messages {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80%;
    gap: 1.5vh;
    overflow-y: scroll;
    position: relative;
    justify-content: flex-start;
    padding: 1vh 1.5vw;
}

.message {
    background-color: #8AF7D4;
    border-radius: 2vh;
    display: inline-block;
    align-self: flex-start;
    /* white-space: pre-wrap; */
    word-break: break-word;
    text-align: left;
    padding: 1vh 1.5vw;
    z-index: 10;
    font-size: 1rem;
}

.user {
    align-self: flex-end;
    background-color: #C48AF7;
    color: #fff;
}

.another-user {
    align-self: flex-start;
    background-color: #8AF7D4;
    color: #000;
}

.input-text{
    width: 100%;
    height: 10%;
    background-color: #C48AF7;
    border-top: 0.1vh #88B2E5 solid;
    border-radius: 0 0 1.3vh 1.3vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.message-user{
    width: 90%;
    height: 71%;
    position: relative;
}

.message-user input{
    background-color: #D7D7D7;
    border-radius: 2vh;
    color: black;
    font-size: 1.4vh;
    border: none;
    width: 100%;
    height: 100%;
    padding: 0.5vh;
    padding-left: 1vw;
    z-index: 20;
    padding-right: 17%;

}

.message-user img{
    position: absolute;
    right: 0;
}

main, .main{
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 100vw;
    height: 90vh;
    position: relative;
}