main{
    display: flex;
    box-sizing: border-box;
    position: relative;
    
    flex-direction: column;
    justify-content: start;
    gap: 1vh;
    line-height: 1.1;
}

.data-users {
    width: 100%;
    max-height: 90%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    gap: 15px;
    z-index: 10;
    overflow-y: auto;
    margin-top: 30px;
    /* background-color: green; */
}


.blur-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -10; 
    pointer-events: none;
}

.background-blur {
    width: 100%;
    height: 100%;
    background: linear-gradient(
        180deg,   
        #74919E 20%,
        #7c9abd 20%,
        #74919E 55%,
        #3C3C3C 10%
    );
    filter: blur(10.25vw); 
}

.user-data{
    width: auto;
    min-width: 600px;
    width: 50vw;
    max-width: 65vw;
    height: auto;
    min-height: 30vh;
    background-color: rgba(0, 99, 221, 0.1);
    border-radius: 1.5rem;
    border: 1px #C48AF7 solid;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin-top: 30px;
}

.outline{
    border-radius: 2.125rem;
    background-color: #343434;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 15px;
}

.top-data{
    width: 100%;
    height: auto;
    min-height: 60%;
    display: flex;
    flex-direction: row;
    align-items: start;
}

.main-data, .join-data{
    height: auto;
    width: 50%;
    display: flex;
    justify-content: start;
    align-items: start;
    padding: 10px;
    gap: 15px;
}

.join-data{
    padding-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2vh;
    gap: 2vh;
}

.outline-code{
    border: 1px #FFB700 solid;
    border-radius: 10px;
    padding: 5px 10px;
    display: flex;
    width: fit-content;
}

.outline-code p{
    font-size: 2vh;
}

.right-cont{
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.code-join, .link-join{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 3vh;
    font-size: 2vh;
}

.copy{
    height: 100%;
    width: auto;
    min-height: 20px;
    object-fit: contain;
    flex-shrink: 0;
}

.link-copy {
    position: relative;
    cursor: pointer;
    display: inline-block;
}

.img-copy{
    transition: 0.3s;
    cursor: pointer;
}

.img-copy:hover{
    opacity: 0.8;
}

.link-copy::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 1px;                
    background-color: #C48AF7;  
    transform: scaleX(0);       
    transform-origin: left;
    transition: transform 0.3s;
}

.link-copy.copied::after {
    transform: scaleX(1);       
}

.link-copy:hover::after {
    transform: scaleX(1);       
}

.text-data{
    display: flex;
    flex-direction: column;
    color: #ffffff;
    font-size: 2.5vh;
    align-items: start;
}

.gmail-text{
    color: #D6E8FE;
    font-size: 2vh;
}

.cont-ava {
    height: 8vh;
    min-height: 80px;
    aspect-ratio: 1 / 1;
}

.avatar{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.bottom-data{
    height: auto;
    width: 100%;
    display: flex;
    padding: 10px 0;
}

.count-people{
    height: auto;
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: start;
    font-size: 2vh;
    gap: 5px;
}

.count{
    color: #FFB700;
    font-weight: 500;
}

.two-blocks{
    height: auto;
    width: 50%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.block-data {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 48%;
    font-size: 2vh;
    gap: 5px;
    /* z-index: 10000; */
}

.outline-block{
    width: 100%;
    height: 4vh;
    min-height: 40px;
    border: 1px #FFB700 solid;
    background-color: #3C3C3C;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vh;
}

.pet-outline {
    border: 1px #C48AF7 solid;
}

.own-pet{
    height: 80%;
    object-fit: contain;
}

.block {
    background-color: #00000047;
    width: auto;
    min-width: 250px;
    height: 8vh;
    min-height: 75px;
    border-radius: 12px;
    display: flex;
    align-items: end;
    justify-content: space-between;
    padding: 5px;
    
    /* padding: 0 1vw 1vh 1vw; */
    gap: 10px;
    z-index: 10;
    position: relative;
    background-color: rgba(11, 10, 10, 0.6); 
    backdrop-filter: blur(0px); 
    -webkit-backdrop-filter: blur(0px);
}

.ava-obodok {
    height: 72%;
    /* background-color: orange; */
    position: relative;
}

.ava {
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.inf{
    display: flex;
    color: #ffffff;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    height: 100%;
    width: auto;
    font-size: 2vh;
    gap: 5px;
}

.inf p{
    display: flex;
    width: 100%;
    white-space: nowrap;
    font-size: 2vh;
}

.tetx{
    font-size: 2vh;
}

.pet{
    width: auto;
    height: 80%;
    object-fit: contain;
    flex-shrink: 0;
}

.block-pet{
    width: 7vw;
    min-width: 80px;
    height: 4vh;
    min-height: 30px;
    background-color: #3C3C3C;
    border-radius: 5px;
    border: 1px solid #C48AF7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.block-text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #ffffff;
    font-size: 1.8vh;
    gap: 2px;
}

@media (max-width: 678px) {
    .user-data {
        min-width: 95vw;
        max-width: 95vw;
    }
    .top-data {
        flex-direction: column;
    }
    .main-data, .join-data {
        width: 100%;
    }
    .two-blocks {
        flex-direction: column;
        gap: 15px;
        width: 100%;
    }
    .block-data {
        width: 100%;
    }

    .bottom-data{
        flex-direction: column;
        justify-content: space-between;
        padding: 0;
    }

    .count-people{
        width: 100%;
    }

    .background-blur {
        position: absolute;
        left: 0;
        top: 0;
        width: 100vw;
        height: 80vh; 
        background: linear-gradient(270deg, #3C3C3C 5%, #7c9abd 40%, #74919E 82%, #3C3C3C 5%);
        /* transform: rotate(80deg);
        filter: blur(6.25vw);
        z-index: -5;
        pointer-events: none; */
    }

    .data-users{
        height: auto;
        min-height: 25vh;
        width: 90vw;
        display: flex;
        z-index: 100;
        flex-wrap: wrap;
        gap: 10px;
        padding-bottom: 0;
    }
}