main{
    display: flex;
    box-sizing: border-box;
    position: relative;
    flex-direction: column;
    gap: 1vh;
}

/* .user-data{
    position: absolute;
    margin-top: 4vh;
    top: 0;
} */

.data-users{
    height: 45vh;
    width: 90vw;
    display: flex;
    z-index: 100;
    /* background-color: green; */
}

.blur-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -10; 
    pointer-events: none;
}

.background-blur {
    width: 100%;
    height: 100%;
    background: linear-gradient(
        180deg,   
        #74919E 20%,
        #7c9abd 20%,
        #74919E 55%,
        #3C3C3C 10%
    );
    filter: blur(10.25vw); 
}



.user-data{
    width: 63vw;
    height: 29.2vh;
    background-color: rgba(138, 187, 247, 0.1);
    border-radius: 1.5rem;
    border: 1px #C48AF7 solid;
    display: flex;
}

.outline{
    border-radius: 2.125rem;
    background-color: #343434;
    width: 96.4%;
    height: 90.3%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.top-data{
    width: 100%;
    height: 60%;
    /* background-color: green; */
    display: flex;
    flex-direction: row;
    align-items: start;
}

.main-data, .join-data{
    height: 80%;
    width: 50%;
    /* background-color: orange; */
    display: flex;
    justify-content: start;
    align-items: start;
    padding: 10px;
    gap: 10px;
}

/* .main-data{
    height: 70%;
    background-color: green;
} */

.join-data{
    /* background-color: purple; */
    padding-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.2vw;
    gap: 2vh;
}

.outline-code{
    border: 1px #FFB700 solid;
    border-radius: 10px;
    padding: 3px 6px 3px 6px;
    display: flex;
}

.outline-code p{
    font-size: 1.2vw;
}

.right-cont{
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.code-join, .link-join{
    width: 100%;
    /* background-color: green; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 2.5vh;
    font-size: 1.1vw;
}

.copy{
    height: 100%;
    width: auto;
    object-fit: contain;
}

.link-copy {
    position: relative;
    cursor: pointer;
    display: inline-block;
}

.img-copy{
    transition: 0.3s;
    cursor: pointer;
}

.img-copy:hover{
    opacity: 0.8;
}

.link-copy::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 1px;                
    background-color: #C48AF7;  
    transform: scaleX(0);       
    transform-origin: left;
    transition: transform 0.3s;
}

.link-copy.copied::after {
    transform: scaleX(1);       
}

.link-copy:hover::after {
    transform: scaleX(1);       
}

.text-data{
    display: flex;
    flex-direction: column;
    color: #ffffff;
    font-size: 1.7vw;
    align-items: start;
}

.gmail-text{
    color: #D6E8FE;
    font-size: 1.2vw;
}

.cont-ava {
    height: 70%;
    aspect-ratio: 1 / 1;
    /* background-color: red; */
}

.avatar{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.bottom-data{
    height: 40%;
    width: 100%;
    /* background-color: red; */
    display: flex;
    padding-left: 10px;
    padding-bottom: 5px;
}

.count-people{
    height: 80%;
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: start;
    font-size: 1.2vw;
    gap: 5px;
}

.count{
    color: #FFB700;
    font-weight: 500;
}

.two-blocks{
    height: 80%;
    width: 50%;
    /* background-color: orange; */
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    /* background-color: orange; */
}

.block-data {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 48%;
    font-size: 1.2vw;
    gap: 5px;
    z-index: 10000;
    /* background-color: green; */
}

.outline-block{
    width: 100%;
    height: 55%;
    border: 1px #FFB700 solid;
    background-color: #3C3C3C;
    border-radius: 10px;
    display: flex;
    font-size: 1.2vw;
}

.pet-outline {
    border: 1px #C48AF7 solid;
}

.own-pet{
    height: 80%;
    object-fit: contain;
}



@media (max-height: 800px){
    .copy {
        max-height: 2vw;
    }
}


.block{
    background-color: #00000047;
    width: 17vw;
    height: 10vh;
    border-radius: 12px;
    display: flex;
    align-items: end;
    justify-content: space-between;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-bottom: 1vh;
    gap: 10px;
    position: relative;
}


.ava{
    width: 7vh;
    height: 7vh;
    border-radius: 50%;
    object-fit: cover;

}
.inf{
    display: flex;
    color: #ffffff;
    justify-content: space-between;
    align-items: start;
    padding: 1.5vh 0;
    height: 100%;
    width: 40%;
    font-size: 2vh;
    gap: 5px;
    /* background-color: orange; */
}
.inf p{
    display: flex;
    width: 80%;
    white-space: nowrap;
    font-size: 1vw;
}

.tetx{
    font-size: 1vw;
}
.pet{
    width: auto;
    height: 90%;
    object-fit: contain;
}
.block-pet{
    width: 6vw;
    height: 3vh;
    background-color: #3C3C3C;
    border-radius: 5px;
    border: 1px solid #C48AF7;
    display: flex;
    align-items: center;
    justify-content: center;
}
.block-text{
    display: flex;
    justify-content: end;
    flex-direction: column;
    color: #ffffff;
    font-size: 1.3vh;
    gap: 2px;
}


