{% extends 'base.html' %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('test_pass.static', filename = 'css/change_tests.css') }}">
{% endblock links %}

{% block content %}
    <form action="" method="post">
        <input type="text" class="name" name="name" style="display: none;" class="input_theme" disabled>
        <input type="text" class="name-category" name="name" style="display: none;" class="input_theme" disabled>
    </form>

    <img class="back1" src="{{ url_for('test_pass.static', filename='images/back1.png') }}" alt="">
    <img class="back2" src="{{ url_for('test_pass.static', filename='images/back2.png') }}" alt="">
    <div class="information-test">
        <div class="change-information">
            <div class="text-information">
                <p>Інформація про тест</p>
            </div>
            <div class="first-part">
                <div class="category-test">
                    <p id="info-text">категорія: 
                        <span class="text11" id="text-for-info">{{ test.category }}</span>
                    </p>
                </div>
                <div class="buttons">
                    <div class="type">
                        <div class="type-p timer-p" id="time">
                            <div class="time-select">
                                <span class="text">Оберіть категорію тесту</span>
                                <img sty class="show_more_velocity" src="{{ url_for('test_pass.static', filename='images/show_more.svg') }}" alt="">

                            </div>
                        </div>
                        <ul id="timeList" class="hidden-list">
                            <li data-category="математика">математика</li>
                            <li data-category="англійська">англійська</li>
                            <li data-category="програмування">програмування</li>
                            <li data-category="історія">історія</li>
                            <li data-category="фізика">фізика</li>
                            <li data-category="хімія">хімія</li>
                            <li data-category="інше" class="last-li">інше</li>
                        </ul>
                        
                    </div>
                </div>
            </div>
            <div class="second-part">
                <div class="theme-test">
                    <p id="info-text">тема: 
                        <input type="text" id="text-for-info" data-name="{{ test.title_test }}" value="{{ test.title_test }}" class="input_theme" disabled>
                    </p>
                </div>
                <div class="btn-for-edit">
                    <button type="button" class="edit-btn">Редагувати</button>
                </div>
            </div>
            <div class="creator-test">
                <p id="info-text">творець: 
                    <span id="text-for-info">@{{ user.username }}</span>
                </p>
            </div>
            <div class="count-questions">
                <p id="info-text">кількість питаннь: 
                    <span id="text-for-info">{{ test.questions.count("?%?") + 1 }}</span>
                </p>
            </div>
            <div class="settings-buttons">
                <button class="save-changed">Зберегти зміни</button>
                <button class="delete-test">Видалити тест повністтю</button>
            </div>
        </div>
        <div class="change-image">
            <div class="outline-image">
                <!-- <img src="{{ url_for('edit_avatar.static', filename='images/edit_avatar/' + user.email + '/user_tests/' + test.title_test + '/' + test.image ) }}" alt="fgh"> -->
                {% if img_test != 'default' %}
                    <img src="{{ url_for('edit_avatar.static', filename='images/edit_avatar/' + user.email  + '/user_tests' + '/' + test.title_test + '/' + test.image) }}" class="test-cover">
                {% elif img_test == 'default' %}
                    <img src="{{ url_for('test_pass.static', filename='images/' + img_part) }}" alt="cash_image" class="test-cover">
                {% endif %}
            </div>
            <button class="change-image-btn">
                <img src="{{ url_for('test_pass.static', filename='images/add-photo.svg') }}" alt="Іконка додавання">
                <span>Змінити фото</span>
            </button>
        </div>
    </div>
    <div class="outline">
        <p>Перелік питаннь: </p>
    </div>
    <div class="list-questions">
        <!-- {% for this_question in question_list %}
                <div class="question-card">          
                    <img class="top-image" src="{{ url_for('static', filename='images/background.png') }}" alt="">     
                    <span class="question-conainer">
                        <p class="question">{{ this_question.question }}</p>
                        <button type="button" class="button-delete {{ this_question.question }}" pk="{{ this_question.pk }}" value="{{ this_question.pk }}">delete</button>
                        <div class="delete-question">
                            <img onclick="this.closest('.question-conainer').querySelector('.button-delete').click();" class="small-img" src="{{ url_for('test_pass.static', filename='images/trashcan.svg') }}" alt="">
                        </div>
                        <div class="edit_question">
                            <img class="pen-img" src="{{ url_for('test_pass.static', filename = 'images/white_pen.svg') }}" alt="" >
                            <a class="change-question" href="/test/change_question/{{ this_question.pk }}">Редагувати питання</a>
                        </div>
                        
                    </span>
                    <span class="answers">
                        {% for answer in this_question.answers %}
                        <div class="variant">
                            <div class="circle"></div>
                            <p class="answer">{% if answer != "image?#$?image" %}{{ answer }}{% else %}Зображення{% endif %}</p>
                        </div>
                        {% endfor %}
                    </span>
                </div>
            {% endfor %} -->



            
        <!-- <div class="space-div">
            <div class="head">
                <img  src="{{ url_for('test_pass.static', filename='images/header.svg') }}" alt="">
                <button class="del"><img src="{{ url_for('test_pass.static', filename='images/del.svg') }}" alt=""></button>
                <p> Для чого потрібен Auto Layout?</p>
                <button class="btn">Редагувати</button>
            </div>

        </div>
        <div class="space-div">
            <div class="head">
                <img src="{{ url_for('test_pass.static', filename='images/header.svg') }}" alt="">
                <button class="del"><img src="{{ url_for('test_pass.static', filename='images/del.svg') }}" alt=""></button>
                <p> Для чого потрібен Auto Layout?</p>
                <button class="btn">Редагувати</button>
            </div>
            
        </div>
        <div class="space-div">
            <div class="head">
                <img src="{{ url_for('test_pass.static', filename='images/header.svg') }}" alt="">
                <button class="del"><img src="{{ url_for('test_pass.static', filename='images/del.svg') }}" alt=""></button>
                <p> Для чого потрібен Auto Layout?</p>
                <button class="btn">Редагувати</button>
            </div>
            
        </div>
        <div class="space-div">
            <div class="head">
                <img src="{{ url_for('test_pass.static', filename='images/header.svg') }}" alt="">
                <button class="del"><img src="{{ url_for('test_pass.static', filename='images/del.svg') }}" alt=""></button>
                <p> Для чого потрібен Auto Layout?</p>
                <button class="btn">Редагувати</button>
            </div>
            
        </div> -->

    </div>
    
    <!-- {% if message %}
        <p>{{ message }}</p>
    {% endif %}

    <form action="" method="POST">
        <input type="hidden" name="test_id" value="{{ test.id }}">
        <input type="text" name="new_name" placeholder="Нова назва">
        <button type="submit">Змiнити назву</button>
    </form>
    <form action="" method="post">
        <button value="{{ test.id }}" name="delete-id">Видалити тест</button>
    </form> -->
{% endblock %}

{% block scripts %}
    <!-- <script src="{{ url_for('test_pass.static', filename = 'js/test_cookie.js') }}"></script> -->
    <!-- <script src="{{ url_for('test_pass.static', filename = 'js/test.js') }}"></script> -->
    <!-- <script src="{{ url_for('test_pass.static', filename='js/test_category.js') }}"></script> -->
    <!-- <script src="{{ url_for('test_pass.static', filename='js/createTest.js') }}" defer></script> -->
    <script src="{{ url_for('test_pass.static', filename='js/change_test.js') }}"></script>
{% endblock scripts %}