{% extends 'base.html' %}

{% block title %}
    Question change
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('test_pass.static', filename='css/create_question.css') }}">
    <link rel="stylesheet" href="{{ url_for('test_pass.static', filename='css/changeQuestion.css') }}">
{% endblock %}

{% block content %}
    <form action="" method="post" enctype="multipart/form-data">
        <div class="pseudo-header">
            <a {% if test_pk %}
                href="/test_preview/{{ test_pk }}"
            {% else %}
                href="/test"
            {% endif %} class="test-button">
                <img src="{{ url_for('test_pass.static', filename='images/back.png') }}" alt="">
            </a>

            <div>

                <div class="timer"><p class="timer-p" id="time" value="" data-time="{{ time }}"></p>
                    <ul id="timeList" class="hidden-list">
                        <li value="0" class="list-time" data-time="20">⏱ 20 секунд &#709</li>
                        <li value="1" class="list-time" data-time="30">⏱ 30 секунд &#709</li>
                        <li value="2" class="list-time" data-time="45">⏱ 45 секунд &#709</li>
                        <li value="3" class="list-time" data-time="60">⏱ 1 хвилина &#709</li>
                        <li value="4" class="list-time" data-time="120">⏱ 2 хвилини &#709</li>
                        <li value="5" class="list-time" data-time="180">⏱ 3 хвилини &#709</li>
                        <li value="6" class="list-time" data-time="not">⏱ Без часу &#709</li>
                    </ul>
                </div>
                <button class="add-question" id="save">Зберегти зміни</button>

            </div>
        </div>
        
        <div class="question-name">
            <p style="display: none;" id="pk">{{ pk }}</p>
            <input type="text" class="question" name="question" id="question" placeholder="Питання" value="{{ question }}">
            <div class="image-container question">
                <input type="file" id="imgInput" class="add-image" accept="image/*" onchange="imageLoaded(event);" name="image", value="{{ image }}"> 
                <div class="is-image" style="display: none;" id="deleteImgButton">
                    <p class="img-success">Зображення успішно додано</p>
                    <button type="button" {% if not image_exists %}style="display: none;"{% endif %} class="add-image" id="deleteImgButton" onclick="deleteImage(event);">Видалити зображення</button>
                </div>
            </div>
            <!-- value="{{ image }}"> -->
        </div>
    </form>

    <h3>Оберіть варіант відповіді</h3>

    <div class="answers-container">
        <div class="answer-block"  id="1">
            <div class="detector" id="1">
                <img id="1" class="small-img tick-circle" src="{{ url_for('test_pass.static', filename='images/tick.png') }}" alt="">
            </div>
            <textarea type="text" class="answer {{ correct1 }}" name="answer" id="1" value="{{ answer1 }}" placeholder="Відповідь"></textarea>
            <div class="delete-answer" id="1">
                <img class="small-img" src="{{ url_for('test_pass.static', filename='images/trashcan.png') }}" alt="">
            </div>
        </div>
        <div class="answer-block" id="2">
            <div class="detector" id="2">
                <img style="display: none;" id="2" class="small-img tick-circle" src="{{ url_for('test_pass.static', filename='images/tick.png') }}" alt="">
            </div>
            <textarea type="text" class="answer {{ correct2 }}" name="answer" id="2" value="{{ answer2 }}" placeholder="Відповідь"></textarea>
            <div class="delete-answer" id="2">
                <img class="small-img" src="{{ url_for('test_pass.static', filename='images/trashcan.png') }}" alt="">
            </div>
        </div>

        {% if answer3 != "hidden" %}
            <div class="answer-block" id="3">
                <div class="detector" id="3">
                    <img style="display: none;" id="3" class="small-img tick-circle" src="{{ url_for('test_pass.static', filename='images/tick.png') }}" alt="">
                </div>
                <textarea type="text" class="answer {{ correct3 }}" name="answer" id="3" value="{{ answer3 }}" placeholder="Відповідь"></textarea>
                <div class="delete-answer" id="3">
                    <img class="small-img" src="{{ url_for('test_pass.static', filename='images/trashcan.png') }}" alt="">
                </div>
            </div>
        {% else %}
            <div class="hidden answer-block" id="3">
                <div class="detector" id="3">
                    <img style="display: none;" id="3" class="small-img tick-circle" src="{{ url_for('test_pass.static', filename='images/tick.png') }}" alt="">
                </div>
                <textarea type="text" class="answer" name="answer" id="3" placeholder="Відповідь"></textarea>
                <div class="delete-answer" id="3">
                    <img class="small-img" src="{{ url_for('test_pass.static', filename='images/trashcan.png') }}" alt="">
                </div>
            </div>
        {% endif %}
        
        {% if answer4 != "hidden" %}
            <div class="answer-block" id="4">
                <div class="detector" id="4">
                    <img style="display: none;" id="4" class="small-img tick-circle" src="{{ url_for('test_pass.static', filename='images/tick.png') }}" alt="">
                </div>
                <textarea type="text" class="answer {{ correct4 }}" name="answer" id="4" value="{{ answer4 }}" placeholder="Відповідь"></textarea>
                <div class="delete-answer" id="4">
                    <img class="small-img" src="{{ url_for('test_pass.static', filename='images/trashcan.png') }}" alt="">
                </div>
            </div>
        {% else %}
            <div class="hidden answer-block" id="4">
                <div class="detector" id="4">
                    <img style="display: none;" id="4" class="small-img tick-circle" src="{{ url_for('test_pass.static', filename='images/tick.png') }}" alt="">
                </div>
                <textarea type="text" class="answer" name="answer" id="4" placeholder="Відповідь"></textarea>
                <div class="delete-answer" id="4">
                    <img class="small-img" src="{{ url_for('test_pass.static', filename='images/trashcan.png') }}" alt="">
                </div>
            </div>
        {% endif %}
        <p class="button" id="addQuestion">
            <img src="{{ url_for('test_pass.static', filename='images/plus.png') }}" alt="">
        </p>
</div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('test_pass.static', filename='js/changeQuestionCookies.js') }}" defer></script>
    <script src="{{ url_for('test_pass.static', filename='js/addQuestion.js') }}" defer></script>
    <script src="{{ url_for('test_pass.static', filename='js/timer.js') }}" defer></script>
    <script src="{{ url_for('test_pass.static', filename='js/addQuestionImage.js') }}"></script>
{% endblock %}