{% extends 'base.html' %}

{% block title %}
    Question creation
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('test_pass.static', filename='css/create_question.css') }}">
    <link rel="stylesheet" href="{{ url_for('test_pass.static', filename='css/changeQuestion.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

{% endblock %}

{% block content %}
    <form action="" method="post" enctype="multipart/form-data">
        <input type="hidden" name="check_form" value="confirm-question">
        <div class="pseudo-header">
            <div class="left-part">
                <a href="/test" class="back-button">
                    <img src="{{ url_for('test_pass.static', filename='images/back.png') }}" alt="">
                </a>
                <div class="type-question">
                    <p class="button-open">Тип питання</p>
                    <div class="category-questions">
                        <ul>
                            <li><input type="radio" class="check-type-question" name="question_type" id="">Множинний вибір відповідей</li>
                        </ul>
                        <ul>
                            <li><input type="radio" class="check-type-question" name="question_type" id="">Одиночний вибір</li>
                        </ul>
                        <ul>
                            <li><input type="radio" class="check-type-question" name="question_type" id="">Заповнити пропуск</li>
                        </ul>
                        <ul>
                            <li><input type="radio" class="check-type-question" name="question_type" id="">Писемна відповідь</li>
                        </ul>
                    </div>
                </div>

            </div>
            
            <div>
                <div class="timer">
                    <p class="timer-p" data-img="{{ url_for('test_pass.static', filename='images/show_more.svg') }}" value="" data-time="30">
                        ⏱ <span id="time-text">30 секунд</span>
                        <i class="fas fa-chevron-down timer-arrow"></i>
                    </p>
                    
                    <ul id="timeList" class="hidden-list">
                        <li value="0" class="list-time" data-time="20"> 20 секунд</li>
                        <li value="1" class="list-time" data-time="30"> 30 секунд</li>
                        <li value="2" class="list-time" data-time="45"> 45 секунд</li>
                        <li value="3" class="list-time" data-time="60"> 1 хвилина</li>
                        <li value="4" class="list-time" data-time="120"> 2 хвилини</li>
                        <li value="5" class="list-time" data-time="180"> 3 хвилини</li>
                        <li value="6" class="list-time" data-time="not"> Без часу</li>
                    </ul>
                </div>
                <button type="button" class="add-question" id="save">+ Додати питання</button>
            </div>
        </div>
        
        <div class="question-name">
            <input type="text" class="question" name="question" id="question" placeholder="Введіть питання" required>
                <label class="add-image">Додати зображення<input type="file" id="imgInput" name="image" accept="image/*" onchange="imageLoaded(event);" style="display:none;"></label>
                <div class="is-image" style="display: none;" id="deleteImgButton">
                    <p class="img-success">Зображення успішно додано</p>
                    <label class="add-image">Видалити зображення<input type="button" onclick="deleteImage(event);" style="display:none;"></label>
                </div>
        </div>
    </form>

    <h3>Оберіть варіант відповіді</h3>

    <div class="answers-container">
        <div class="answer-block first-block"  id="1">
            <div class="detector" id="1">
                <img id="1" class="small-img tick-circle" src="{{ url_for('test_pass.static', filename='images/tick.png') }}" alt="">
            </div>
            <textarea maxlength="65" type="text" class="answer correct first_input" name="answer" id="1" placeholder="Відповідь"></textarea>
            <div class="delete-answer" id="1">
                <img class="small-img" src="{{ url_for('test_pass.static', filename='images/trashcan.png') }}" alt="">
            </div>
        </div>
        <div class="answer-block second-block" id="2">
            <div class="detector" id="2">
                <img style="display: none;" id="2" class="small-img tick-circle" src="{{ url_for('test_pass.static', filename='images/tick.png') }}" alt="">
            </div>
            <textarea maxlength="65" type="text" class="answer second-input" name="answer" id="2" placeholder="Відповідь"></textarea>
            <div class="delete-answer" id="2">
                <img class="small-img" src="{{ url_for('test_pass.static', filename='images/trashcan.png') }}" alt="">
            </div>
        </div>
        <div class="hidden answer-block" id="3">
            <div class="detector" id="3">
                <img style="display: none;" id="3" class="small-img tick-circle" src="{{ url_for('test_pass.static', filename='images/tick.png') }}" alt="">
            </div>
            <textarea maxlength="65" type="text" class="answer" name="answer" id="3" placeholder="Відповідь"></textarea>
            <div class="delete-answer" id="3">
                <img class="small-img" src="{{ url_for('test_pass.static', filename='images/trashcan.png') }}" alt="">
            </div>
        </div>  
        <div class="hidden answer-block" id="4">
            <div class="detector" id="4">
                <img style="display: none;" id="4" class="small-img tick-circle" src="{{ url_for('test_pass.static', filename='images/tick.png') }}" alt="">
            </div>
            <textarea maxlength="65" type="text" class="answer" name="answer" id="4" placeholder="Відповідь"></textarea>
            <div class="delete-answer" id="4">
                <img class="small-img" src="{{ url_for('test_pass.static', filename='images/trashcan.png') }}" alt="">
            </div>
        </div>
        <p class="button" id="addQuestion">
            <img src="{{ url_for('test_pass.static', filename='images/plus.png') }}" alt="">
        </p>
    </div>

{% endblock %}

{% block scripts %}
    <script src="{{ url_for('test_pass.static', filename='js/createQuestionCookies.js') }}" defer></script>
    <script src="{{ url_for('test_pass.static', filename='js/addQuestion.js') }}" defer></script>
    <script src="{{ url_for('test_pass.static', filename='js/correctQuestion.js') }}" defer></script>
    <script src="{{ url_for('test_pass.static', filename='js/timer.js') }}" defer></script>
    <script src="{{ url_for('test_pass.static', filename='js/addQuestionImage.js') }}"></script>
    <script src="{{ url_for('test_pass.static', filename='js/question_type.js') }}"></script>
{% endblock %}