{% block links %}
    <link rel="stylesheet" href="{{ url_for('test_pass.static', filename='css/import_test.css') }}">
{% endblock links %}

{% block content %}

    <div class="all-parts">

        <div class="top-part">
            <div class="part1">
                <div class="arrow">
                    <a href="/select_way">
                        <img src="{{ url_for('test_pass.static', filename='images/import_test/arrow.svg') }}" alt="Повернутися">
                    </a>
                </div>
            </div>

            <div class="choose-type">
                <div class="docum">
                    <img src="{{ url_for('test_pass.static', filename='images/import_test/doc.svg') }}" alt="">
                    <p class="text">Документ</p>
                </div>
                <div class="docum">
                    <p class="text">Вставити запитання</p>
                </div>
                <div class="docum">
                    <p class="text">Google- форма</p>
                </div>
                <div class="docum">
                    <p class="text">Електронна таблиця</p>
                </div>
            </div>
        </div>
        
        <div class="bottom-part">
            <img src="{{ url_for('test_pass.static', filename='images/import_test/Frame.svg') }}" alt="">
            <div class="for-margin">
                <div class="cloud">
                    <img src="{{ url_for('test_pass.static', filename='images/import_test/cloud.svg') }}" alt="">
                </div>
                <div class="imp-thing">
                    <div class="docum2">
                        <div class="docum3">
                            <img src="{{ url_for('test_pass.static', filename='images/import_test/comp.svg') }}" alt="">
                        </div>
                        <div>
                            <p class="text">завантажити з пристрою</p>
                        </div>
                    </div>
                    <div class="docum2">
                        <div class="docum3">
                            <img src="{{ url_for('test_pass.static', filename='images/import_test/disk.svg') }}" alt="">
                        </div>
                        <div>
                            <p class="text">імпорт з диска</p>
                        </div>
                    </div>
                </div>
                <div class="formats">
                        <div class="center-text">
                            <p class="text">формати,що підтримуються</p>
                        </div>
                        <div class="form-text">
                            <p class="text1">PNG,DOCX,DOC,JPG і тд.</p>
                        </div>
                    
                </div>
            </div>
        </div>
            
    </div>

{% endblock %}

