{% extends 'base.html' %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('test_pass.static', filename = 'css/passing_test.css') }}">
{% endblock links %}

{% block content %}
    <a href="/finish_test?test_id="></a>
    <!-- <head> -->
    <div class="head-part">
        <div class="bonus-block">
            <div class="full-bonus" data-value="{{ bonus_value }}" id="bonus"></div>
            <p class="text-bonus">бонус</p>
        </div>
        <button class="leave_test">Завершити тест</button>
    </div>

    <div class="modal"></div>

    <div class="coin-anim">
        <img class="first-coin" src="{{ url_for('test_pass.static', filename = 'images/money.svg') }}" alt="">
        <img class="second-coin" src="{{ url_for('test_pass.static', filename = 'images/money.svg') }}" alt="">
        <img class="third-coin" src="{{ url_for('test_pass.static', filename = 'images/money.svg') }}" alt="">
        <img class="fourth-coin" src="{{ url_for('test_pass.static', filename = 'images/money.svg') }}" alt="">
        <img class="fifth-coin" src="{{ url_for('test_pass.static', filename = 'images/money.svg') }}" alt="">
        <img class="sighn-plus" src="{{ url_for('test_pass.static', filename = 'images/plus.svg') }}" alt="">
    </div>


    <img class="sad_robot" src="{{ url_for('test_pass.static', filename='images/sad_robot.svg') }}" alt="">
    <img class="happy_robot" src="{{ url_for('test_pass.static', filename='images/happy_robot.svg') }}" alt="">

    <div class="right-answer">
        <!-- сттворюємо div для блюру цього койнейнеру -->
        <div class="blur"></div>
        <p class="correct-text">ВІРНО!</p>
    </div>

    <div class="uncorrect-answer">
        <!-- сттворюємо div для блюру цього койнейнеру -->
        <div class="red-blur"></div>
        <p class="uncorrect-text">НЕ ВІРНО!</p>
    </div>
        
    <!-- </head> -->
    <div class= 'question'>
        
    </div>


    <div id="image-container"></div>
    <!--  -->
    <div class= "answers">

    </div>

    <div class="answers-image">
        <div class="top-answers">
        </div>
        <div class= 'question-image'>
          
        </div>
        <div class="bottom-answers">
        </div>
    </div>
    <!--  -->
    <div class="footer-test">
        <div class="bonus-data">
            <div class="avatar-circle">
                <img data-size="{{ user.size_avatar }}" class="avatar" src="{{ url_for('profile.static', filename='images/edit_avatar/' + user.email +'/'+ user.name_avatar ) }}" alt="avatar">
            </div>
            <p class="text-kem">{{ user.username }}</p>
            <div class="line"></div>
            <p class="count-money" data-value="{{ user.user_profile.count_money }}"></p>
            <img class="money" src="{{ url_for('test_pass.static', filename='images/money.svg') }}" alt="avatar">
        </div>

        <div class="submit">
            
        </div>
        <!-- <button type="button" class="confirm-button">Підтвержити відповідь</button> -->

        <div class="ai-timer">
            <div class="circle">
                <div class="inside-circle">
                    <p class="timer"></p>
                </div>
            </div>
        </div>

    </div>
    </body>
{% endblock content %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('test_pass.static', filename='js/passing_test.js') }}"></script>
    <script type="module" src="{{ url_for('test_pass.static', filename='js/count_bonus.js') }}"></script>
    <script type="module" src="{{ url_for('test_pass.static', filename='js/count_money.js') }}"></script>
{% endblock scripts %}