{% extends 'base.html' %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('test_pass.static', filename='css/select_way.css') }}">
{% endblock links %}

{% block content %}
    <div class="container2">      
        <div class="title-wrapper">
            <div class="create_new_task">Створити нове завдання</div>
        </div>

        <div class="cards_row">
            <div class="blue_outline">
                <div class="card">
                    <img src="{{ url_for('test_pass.static', filename='images/gradient_docs.png') }}" alt="градiент з iконками" />
                    <a href="" class="card-text">
                        імпортувати робочі листи/питання <br />
                        з документів, форм, таблиць
                    </a>
                </div>
            </div>

            <div class="blue_outline" onclick="document.querySelector('.link').click();">
                <div class="card">
                    <img src="{{ url_for('test_pass.static', filename='images/create_a_test.png') }}" alt="градiент" />
                    <div class="card-text">
                        <a class="link" href="/test">
                            створити тест, з нуля
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
