{% extends 'base.html' %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('test_pass.static', filename = 'css/test_data.css') }}">
{% endblock links %}

{% block content %}
    <div class="bottom-blur"></div>
    <div class="purple-blur"></div>
    <div class="info-test">
        <p class="info-text">Інформація про тест</p>
        <div class="main-info">
            <div class="image-test">
                {% if img_test != 'default' %}
                    <img src="{{ url_for('edit_avatar.static', filename='images/edit_avatar/' + user.email  + '/user_tests' + '/' + test.title_test + '/' + test.image) }}" class="test-cover">
                {% elif img_test == 'default' %}
                    <img src="{{ url_for('test_pass.static', filename='images/' + img_part) }}" alt="cash_image" class="test-cover">
                {% endif %}
            </div>
            <div class="data-text">
                <p class="main-p">Назва:<span class="span-text">{{ test.title_test }}</span></p>
                <p class="main-p">Творець тесту: <span class="span-text">@{{ test.user.username }}</span></p>
                <p class="main-p">Категорія: <span class="span-text">{{ test.category }}</span></p>
                <div class="preview-data">
                    <div class="count-data">
                        {{ test.questions.count("?%?") + 1 }} питань
                    </div>
                    <div class="count-data">
                        {{ test.test_profile.amount_passes }} проходжень
                    </div>
                </div>
            </div>
        </div>

        <div class="description-test">
            {% if test.description != "" %}
                <p>{{test.description}}</p>
            {% endif %}
        </div>

        <div class="actions">
            <button class="start-btn play_test" type="button" value="{{ test.id }}">Пройти тест<img class="play" src="{{ url_for('test_pass.static', filename='images/test_data/button_play.png' ) }}" alt=""></button>
            <form action=""  class="copy-form" id="copy-test">
                <input type="hidden" name="check_form" value="copy-form">
                <input type="hidden" name="test_id" class="test_id" value="{{ test.id }}">
                <button type="button" class="copy-test-button profile-btn" value="{{ test.id }}">Скопіювати до профілю</button>
            </form>
        </div>  
    </div>
    <div class="questions-test">
        <div class="cont-question">
            <div class="header-cont"><p>Перелік питань:</p></div>
            <div>
                
            </div>
        </div>
    </div>
   
    <div class="blur"></div>
{% endblock content %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('test_pass.static', filename = 'js/test_cookie.js') }}"></script>
    <script type="module" src="{{ url_for('test_pass.static', filename = 'js/messages_data.js') }}"></script>
{% endblock scripts %}