{% extends 'base.html' %}

{% block title %}
    Test    
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('test_pass.static', filename='css/test.css') }}">
{% endblock %}

{% block content %}
    <form action="" method="post" id="main-form" enctype="multipart/form-data">

        <div class="top-block">
            <div class="main-info">

                <div class="info-block">
                    <img  src="{{ url_for('test_pass.static', filename='images/cover.png') }}" alt="" class="test-cover">
                
                    <div class="info">
                        <input class="test-title-input" type="text" name="test_title" onchange="saveName();" placeholder="назва тесту" disabled>
                        <div class="under-line"></div>
                        <div class="creator-info">
                            <!-- <img src="{{ url_for('test_pass.static', filename='images/avatar.jpg') }}" alt=""> -->
                            <div class="avatar-circle">
                                <img data-size="{{ user.size_avatar }}" class="avatar" src="{{ url_for('profile.static', filename='images/edit_avatar/' + user.email +'/'+ user.name_avatar ) }}" alt="avatar">
                            </div>
                            <div class="cretor-data">
                                <p class="creator-name">{{ user.username }}</p>
                                <p class="creator-email">{{ user.email }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="gray-block">
                    <img class="mini-robot" src="{{ url_for('test_pass.static', filename='images/mini-robot.png') }}" alt="">
                    <span>
                        <p>Створюй</p>
                        <p class="smaller-text" >Створюй свої тести та проходь з друзями</p>
                    </span>
                </div>
            </div>
            
            <div class="additional-buttons">
                <div>
                    <button class="set-name" type="button" onclick="ChangeName();">
                        <img class="sign" src="{{ url_for('test_pass.static', filename = 'images/pen.png') }}" alt="">
                        редагувати назву теста
                    </button>
                    <!-- <img class="sign" src="{{ url_for('test_pass.static', filename = 'images/pen.png') }}" alt=""> -->
                </div>
                <!-- <div class="type-test"> -->
                <div class="timer"><p class="timer-p type-p" id="time">оберіть категорію тесту </p>
                    <ul id="timeList" class="hidden-list">
                        <li>математика </li>
                        <li>англійська </li>
                        <li>програмування </li>
                        <li>історія</li>
                        <li>фізика</li>
                        <li>хімія</li>
                        <li>інше</li>
                    </ul>
                </div>

                <input id="image" name="image" type="file" accept="image/*">
                <label for="image">load image</label>
                <!-- </div> -->
            </div>
        </div>
        
        <div class="buttons">
            <a class="add" href="/test/create_question">
                + Додати питання
            </a>
            <button class="add">
                + Згенерувати питання
            </button>
        </div>

        <div class="all-cards">
            {% for this_question in question_list %}
                <!-- якщо довжина питання більше чим один символ, то можемо створити питання -->
                {% if this_question.question|length >= 1 %}
                    <div class="question-card">          
                        <img class="top-image" src="{{ url_for('static', filename='images/background.png') }}" alt="">     
                        <span class="question-conainer">
                            <p class="question">{{ this_question.question }}</p>
                            <button data-number_question="{{ question_list.index(this_question) }} + 1" data-answers="{{ this_question.answers }}" class="button-delete {{ this_question.question }}" type="button" onclick="DeleteQuestion();">delete</button>
                        </span>
                        <span class="answers">
                            {% for answer in this_question.answers %}
                            <div class="variant">
                                <div class="circle"></div>
                                <p class="answer">{{ answer }}</p>
                            </div>
                            {% endfor %}
                        </span>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        
        <div class="buttons buttons-bottom">
            <button class="add" type="submit"> + Зберегти вікторину</button>
            <button class="add" type="submit">

                Почати тест
            </button>
        </div>

    </form>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('test_pass.static', filename='js/test.js') }}"></script>
    <script src="{{ url_for('test_pass.static', filename='js/test_category.js') }}"></script>
{% endblock %}