{% extends 'base.html' %}

{% block links %}
    
{% endblock links %}

{% block content %}
    <h1>Назва тесту {{ test.title_test }}</h1>
    <p>СОздатель {{ test.user.username }}</p>

    <form action="" method="post" id="play-form">
        <input type="hidden" name="check_form" value="play-form">
        <button type="button" class="play_test" value="{{ test.id }}">Пройти тест</button>
    </form>

   <form action="" method="post" id="copy-test">
        <input type="hidden" name="check_form" value="copy-form">
        <input type="hidden" name="test_id" value="{{ test.id }}">
        <button type="submit" class="copy-test-button" value="{{ test.id }}">Скопіювати тест</button>
   </form>

   {% if message %}
        <p>{{ message }}</p>
   {% endif %}
{% endblock content %}

{% block scripts %}
    <script src="{{ url_for('test_pass.static', filename = 'js/test_cookie.js') }}"></script>
{% endblock scripts %}
