footer{
    background-color: #343434;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 24vh;
    bottom: 0;
}

.about-us{
    position: relative;
    width: 100vw;
    height: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3vh;
    padding: 3.6vh 1vh 1vh 1vh;
}

.footer-line{
    position: absolute;
    width: 50%;
    height: 0.1vh;
    background-color: #ffffff;
    bottom: 0;
    transform: translateY(1vh);
}

.link-data{
    text-decoration: none;
    font-size: 2vh;
    color: #ffffff;
    font-weight: 400;
}

.follow-us{
    /* background-color: chocolate; */
    width: 100vw;
    height: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    padding: 1vh 1vh;
    gap: 3vh;
    position: relative;
}

.follow-us-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) ;
    font-size: 2vh;
    color: #ffffff;
    font-weight: 400;
}

.follow-us-text1{
    font-size: 2vh;
    color: #ffffff;
    font-weight: 400;
}

.data-donate{
    margin-left: 10vw;
    position: absolute;
    bottom: 0;
    font-size: 1.5vh;
    font-weight: bold;
    color: #ffffff;
    left: 0;
}

.data-donate1{
    font-size: 1.5vh;
    font-weight: bold;
    color: #ffffff;
}

.cherity{
    /* background-color:blueviolet; */
    width: 100vw;
    height: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1vh 1vh;
    gap: 3vh;
    position: relative;
}

.data-card{
    position: absolute;
    left: 0;
    top: 25%;
    margin-left: 5vw;
    color: #FFB700;
    font-size: 2vh;
    font-weight: 600;
}

.data-card1{
    color: #FFB700;
    font-size: 2vh;
    font-weight: 600;
}

.img-link{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2.5vh;
}

.img-soc{
    width: 4vh;
    height: 4vh;
    cursor: pointer;
    transition: 0.2s;
}

.for-media{
    margin-top: 1vh;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 70%;
    gap: 0.5vh;
}

@media(max-width: 1000px){
    footer{
        height: 34vh;
        
    }

    .footer-line{
        width: 44vw;
    }

    .for-media{
        display: flex;
    }

    .cherity{
        display: none;
    }

    .follow-us{
        display: none;
    }
}