.filter-test {
    width: 26vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content:end;
    align-items: center;
    position: relative;
}

.filter-input {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 26vw;
    height: 5.5vh;
    background-color: #C7D7EB;
    color: 636262;
    font-weight: bolder;
    padding: 3%;
    border-radius: 1vw;
    font-size: 1vw;
    border: none;
    color: #636262;
    padding-right: 13%;
    z-index: 0;
}

.filter-input:focus {
    outline: none;
    box-shadow: none; 
}


.submit-filter {
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 20;
    width: 3vw;
    height: 5vh;
    display: flex;
    object-fit: contain;
}


.submit-filter {
    background: transparent;
    border: none;
} 

.submit-filter img {
    width: auto;
    height: 71%;
    object-fit: contain;
}

