.filter-test {
    width: 25vw;
    min-width: 20rem;
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content:end;
    align-items: center;
    position: relative;
    /* background-color: green; */
}

.filter-input {
    position: absolute;
    top: 50%;
    min-width: 20rem;
    transform: translateY(-50%);
    left: 0;
    width: 25vw;
    height: 70%;
    background-color: #C7D7EB;
    color: #636262;
    font-weight: bolder;
    padding: 0.5rem;
    border-radius: 1rem;
    font-size: 2vh;
    border: none;
    color: #636262;
    padding-right: 0.5rem;
    z-index: 0;
}

.filter-input:focus {
    outline: none;
    box-shadow: none; 
}


.submit-filter {
    /* overflow: hidden; */
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 20;
    height: 2.5rem;
    /* background-color: purple; */
    display: flex;
    object-fit: contain;
    background-color: green;
    margin-right: 0.5rem;
}


.submit-filter {
    background: transparent;
    border: none;
    /* background-color: green; */
    height: 60%;
} 


.submit-filter img {
    width: auto;
    height: 70%;
    object-fit: contain;
}

@media (max-width: 650px) and (min-height:400px){
    .filter-test{
        display: none;
    }
}