*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    font-family: 'Inter';
    color: #ffffff;
    line-height: 1.1;
}

body{
    background-color: #3C3C3C;

}

.one-floor{
    height: 70vh;
    margin-top: 10vh;
}

.not-full-main{
    min-height: 90vh;
    margin-top: 10vh;
}

.full-main{
    min-height: 100vh;
}

.nothing-tests{
    min-height: 67.5vh;
    margin-top: 10vh;
}

