*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    font-family: 'Inter';
    color: #ffffff;
}

body{
    background-color: #3C3C3C;

}


header{
    z-index: 1000;
    background-color: #343434;
    display: flex;
    flex-direction: row;
    height: 10vh;
    color: #ffffff;
    align-items: center;
    justify-content: space-between;
    top: 0; 
    width: 100%;
    overflow: hidden;
    /* padding: 0 2vw; */
    padding-left: 1vw;
}

.logo {
    font-weight: 500;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.2vw;
    /* background-color: green; */
}

.img-logo{
    height: 6vh;
}

header p{
    font-size: 2.5vh;
}

nav {
    display: flex;
    align-items: center;
    gap: 1vw;
    margin-right: 1vw;
}
.nav-links{
    display: flex;
    gap: 0.8vw;
}

.nav-links .auth-button, .nav-links .login-button, .nav-links .test-button, .nav-links .enter-code{
    height: 5vh;
    background-color: #C48AF7;
    color: #ffffff;
    border-radius: 0.5vh;
    text-decoration: none;
    /* margin: 1vh; */
    padding: 1.2vh;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    font-size: 2vh;
    white-space: nowrap;
    /* transition: 0.3s ease; */
}

.nav-links .auth-button:hover, .nav-links .login-button:hover, .nav-links .test-button:hover, .nav-links .enter-code:hover{
    background-color: #b06aed;

}


.header_buttons {
    display: flex;
    gap: 1vh;
}

.mentor-buttons {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.mentor-buttons img{
    width: 5vh;
    height: 5vh;
}

.listener{
    height: 10vh;
    display: flex;
}

.open-panel{
    width: 6vh;
    height: 6vh;
    z-index: 0;
    /* transition: 0.1s; */
    cursor: pointer;
}

.open-panel:hover{
    opacity: 0.9;

}

.panel{
    position: fixed;
    z-index: 100;
    top: 12vh;
    right: 0;
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: width 0.6s;
    width: 0;
    height: 85vh;
    border-radius: 1vh;
    padding-top: 2vh;
    background-color: #343434;
    z-index: 200;
    overflow: hidden;
}

.link-container{
    display: flex;
    flex-direction: column;
    gap: 9vw;
    z-index: 100;
}

.links{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vh;
}

.links a{
    font-size: 2.3vh;
    color: #ffffff;
    text-decoration: none;
    transition: 0.2s;
}


.links hr{
    width: 23vw;
}


.sidebar-robot{
    position: absolute;
    right: 5vw;
    bottom: 0;
    width: 13vw;
    height: 19vh;
}

.closed{
    width: 0;
    overflow: hidden;
}

.opened{
    width: 300px;
}



.wrapper {
    position: fixed;
    bottom: 50px;
    right: 20px;
    width: clamp(300px, 90vw, 476px); /* динамічна ширина */
    height: 283px;
    border: 1px solid #B9BDF5;
    background: #353535;
    border-radius: 8px;
    padding: 15px 25px 22px;
    transition: transform 0.3s ease, opacity 0.3s ease;
    transform: translateX(150%);
    opacity: 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    z-index: 999999;
}

html, body {
    /* overflow-x: hidden; */
    width: 100%;
}

.wrapper.show {
    transform: translateX(0%);
    opacity: 1;
}
.wrapper .header-cookie {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1vh;
}

.ab {
    margin-top: -5vh;
}

.about{
    display: flex;
    align-items: center;
    justify-content: center;
}
.buttons .button {
    font-size: 16px;
    width: 151px;
    height: 36px;
    border: none;
    color: #353535;
    border-radius: 10px;
    background: #B9BDF5;
    cursor: pointer;
    transition: all 0.2s ease;
    font-weight: 700;
    margin-right: 15px;
}

.buttons #acceptBtn:hover {
    background-color: #fff;
}
#declineBtn {
    border: 2px solid #B9BDF5;
    background-color: #353535;
    color: #B9BDF5;
}
#declineBtn:hover {
    background-color: #B9BDF5;
    color: #fff;
}

.nav-links a:hover{
    transition: 0.3s;
    background-color: #b67aeb;
    cursor: pointer;

}

@media (max-width: 600px){
    .nav-links .auth-button, .nav-links .login-button, .nav-links .test-button, .nav-links .enter-code{
        margin: 0px;
    }
}

@media (min-width: 1441px) and (max-width: 2000px){
    .nav-links .auth-button{
        background-color: #C48AF7;
        color: #ffffff;
        border-radius: 5px;
        text-decoration: none;
        width: 10vw;
        margin: 15px;
        padding: 10px 13px;
        display: inline-block;
        text-align: center;
        font-weight: bold;
    }

    .nav-links .login-button{
        background-color: #C48AF7;
        color: #ffffff;
        border-radius: 5px;
        text-decoration: none;
        width: 6vw;
        margin: 15px;
        padding: 10px 13px;
        display: inline-block;
        text-align: center;
        font-weight: bold;
    }

    .nav-links .enter-code, .test-button{
        background-color: #C48AF7;
        color: #ffffff;
        border-radius: 5px;
        text-decoration: none;
        width: 10vw;
        margin: 15px;
        padding: 10px 8px;
        display: inline-block;
        text-align: center;
        font-weight: bold;
    }

    .test-button{
        background-color: #C48AF7;
        color: #ffffff;
        border-radius: 5px;
        text-decoration: none;
        width: 13vw;
        margin: 15px;
        padding: 5px;
        display: inline-block;
        text-align: center;
        font-weight: bold;
    }

    .logo {
        font-size: 1.7em;
        font-weight: bold;
        margin-left: 24px;
    }
}

@media (min-width: 2001px){

    .listener img{
        height: 71px;
        width: 71px;
        display: flex;
    }
    
    .nav-links .auth-button{
        background-color: #C48AF7;
        color: #ffffff;
        border-radius: 5px;
        text-decoration: none;
        width: 13vw;
        margin: 15px;
        padding: 15px;
        display: inline-block;
        text-align: center;
        font-weight: bold;
        font-size:31px;
    }

    .nav-links .login-button{
        background-color: #C48AF7;
        color: #ffffff;
        border-radius: 5px;
        text-decoration: none;
        width: 8vw;
        margin: 15px;
        padding: 15px;
        display: inline-block;
        text-align: center;
        font-weight: bold;
        font-size:31px;
    }

    .nav-links .test-button{
        width: 15vw;
        margin: 0px;
        padding: 15px;
        font-size: larger;
    }

    .nav-links .enter-code{
        background-color: #C48AF7;
        color: #ffffff;
        border-radius: 5px;
        text-decoration: none;
        width: 12vw;
        margin: 15px;
        padding: 15px;
        display: inline-block;
        text-align: center;
        font-weight: bold;
        font-size:31px;
    }

    

    .logo {
        font-size: 2.4em;
        font-weight: bold;
        margin-left: 24px;
    }

    header{
        justify-content: center;
        gap: 1200px;
    }
}
@media (max-height: 800px){
    .sidebar-robot{
        display: none;
    }
}
/* @media (max-height: 650px){
    .panel{
        overflow-y: scroll;
        /* z-index: 1000; */
    }
} */

#circle-overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background: #4e77f0;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 1.5s cubic-bezier(0.4, 0, 0.2, 1); /* Збільшили час до 1.5с */
  z-index: 9999;
  pointer-events: none;
}

#circle-overlay.active {
  width: 300vw;
  height: 300vw;
  transform: translate(-50%, -50%) scale(1);
  pointer-events: all;
}