{% extends 'base.html' %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('buy_gifts.static', filename='css/buy_gifts.css') }}">
{% endblock links %}

{% block content %}


    <div class="main-form">
        
        <div class="profile-card">
            <div class="user-info">
                <div class="right">
                    <div>
                        <h2 class="text1">{{ user.username }}</h2>
                        <a class="text" href="#">{{ user.email }}</a>
                    </div>
                    
                    <div class="score-block">
                        <span class="text">ваші бали</span>
                        <div id="score" class=".userMoney">
                            <span class="text">{{ user.user_profile.count_money }}</span>
                            <img src="{{ url_for('profile.static', filename='images/robo-money.png') }}" alt="">
                        </div>
                    </div>
                </div>

                <div class="avatar-circle">
                    <img data-size="{{ user.size_avatar }}" class="avatar" src="{{ url_for('profile.static', filename='images/edit_avatar/' + user.email +'/'+ user.name_avatar ) }}" alt="avatar">
                </div>

                <div class="favorite">
                    <span class="text">улюбленець</span>

                    <!-- <div class="pet1">
                        <img id="own-pet" src="{{ url_for('profile.static', filename='images/pigeon.png') }}" alt="">
                    </div> -->
                    {% if user.user_profile.pet_id %}
                        <div class="pet1">
                            <img id="own-pet" src="{{ url_for('profile.static', filename='images/pets_id/' ~ user.user_profile.pet_id ~ '.png') }}" alt="pet">
                        </div>
                    {% else %}
                        <div class="pet1">
                            <p>У вас ще немає улюбленця.</p>
                        </div>
                    {% endif %}

                    <p class="text" id="text-c">пройдені тести: 
                        <span class="tests">{{ user.user_profile.count_tests }}</span>
                    </p>
                </div>
            </div>
        </div>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flashes">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        <div class="pet-list">
            <!-- Приклад для автоматичного приеєднання краточки з улюбленцем -->
            {% for pet in pets %}
            <div class="pet-card">
                <img src="{{ pet.image_url }}" alt="pet">
                <div class="cost">{{ pet.cost }} балів</div>
            </div>
            {% endfor %}

            <div class="pet-card" value="1">
                <div class="pet">
                    <img src="{{ url_for('profile.static', filename='images/pets_id/1.png') }}" alt="1">
                </div>
                <form action="" method="post">
                    <button name="buy_gift" type="hidden" class="butButton" value="1/20">
                        <span>20 балів</span>
                    </button>
                </form>
                
            </div>

            <div class="pet-card" value="2">
                <div class="pet">
                    <img src="{{ url_for('profile.static', filename='images/pets_id/2.png') }}" alt="1">
                </div>
                <form action="" method="post">
                    <button name="buy_gift" type="hidden" class="butButton" value="2/20">20 балів</button>
                </form>
            </div>

            <div class="pet-card" value="3">
                <div class="pet">
                    <img src="{{ url_for('profile.static', filename='images/pets_id/3.png') }}" alt="">
                </div>
                <form action="" method="post">
                    <button name="buy_gift" type="hidden" class="butButton" value="3/20">20 балів</button>
                </form>
            </div>

            <div class="pet-card" value="4">
                <div class="pet">
                    <img src="{{ url_for('profile.static', filename='images/pets_id/4.png') }}" alt="">
                </div>
                <form action="" method="post">
                    <button name="buy_gift" type="hidden" class="butButton" value="4/20">20 балів</button>
                </form>
            </div>

            <div class="pet-card" value="5">
                <div class="pet">
                    <img src="{{ url_for('profile.static', filename='images/pets_id/5.png') }}" alt="">
                </div>
                <form action="" method="post">
                    <button name="buy_gift" type="hidden" class="butButton" value="5/20">20 балів</button>
                </form>
            </div>

            <div class="pet-card" value="1">
                <div class="pet">
                    <img src="{{ url_for('profile.static', filename='images/pets_id/1.png') }}" alt="">
                </div>
                <form action="" method="post">
                    <button name="buy_gift" type="hidden" class="butButton" value="1/20">20 балів</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script src="{{ url_for('buy_gifts.static', filename='js/shop.js') }}"></script>
{% endblock scripts %}