{% extends 'base.html' %}

{% block title %}
    Редагувати аватар
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('edit_avatar.static', filename='css/edit_avatar.css') }}">
{% endblock links %}

{% block content %}
    <div class="back-blur"></div>
    <div class="main-block">
        <div class="image" onclick="loadIMage()">
            <img src="{{ url_for('edit_avatar.static', filename='images/edit_avatar/add_new.png') }}" alt="image">
        </div>
        <div class="text">
            <p class="welcoming-text">Оберіть новий аватар</p>
        </div>
        <div class="default-avatars">
            <div id = "1" class="img ">
                <img class="options-avatar" src="{{ url_for('edit_avatar.static', filename='images/edit_avatar/default_avatar1.svg') }}" alt="avatar">
                <span id = "1" class="agree 1"><img class="agree-img" src="{{ url_for('edit_avatar.static', filename='images/edit_avatar/agree_avatar.svg') }}" alt="img"></span>
            </div>
            <div id = "2" class="img ">
                <img class="options-avatar" src="{{ url_for('edit_avatar.static', filename='images/edit_avatar/default_avatar2.svg') }}" alt="avatar">
                <span id = "2" class="agree 2"><img class="agree-img" src="{{ url_for('edit_avatar.static', filename='images/edit_avatar/agree_avatar.svg') }}" alt="img"></span>
            </div>
            <div id = "3" class="img ">
                <img class="options-avatar" src="{{ url_for('edit_avatar.static', filename='images/edit_avatar/default_avatar3.svg') }}" alt="avatar">
                <span id = "3" class="agree 3"><img class="agree-img" src="{{ url_for('edit_avatar.static', filename='images/edit_avatar/agree_avatar.svg') }}" alt="img"></span>
            </div>
            <div id = "4" class="img ">
                <img class="options-avatar" src="{{ url_for('edit_avatar.static', filename='images/edit_avatar/default_avatar4.svg') }}" alt="avatar">
                <span id = "4" class="agree 4"><img class="agree-img" src="{{ url_for('edit_avatar.static', filename='images/edit_avatar/agree_avatar.svg') }}" alt="img"></span>
            </div>
            <div id = "5" class="img ">
                <img class="options-avatar" src="{{ url_for('edit_avatar.static', filename='images/edit_avatar/default_avatar5.svg') }}" alt="avatar">
                <span id = "5" class="agree 5"><img class="agree-img" src="{{ url_for('edit_avatar.static', filename='images/edit_avatar/agree_avatar.svg') }}" alt="img"></span>
            </div>
        </div>

        <div class="edit-buttons">
            <div class="button" onclick="loadIMage()">
                <p class="button-text">Обрати з  галереї</p>
                <!-- форма завантаження файлу -->
                <form action="" method="post" id="send-picture" enctype='multipart/form-data'>
                    <label for="file"><img class="button-image" src="{{ url_for('edit_avatar.static', filename='images/edit_avatar/photo.png') }}" alt=""></label>
                    <input type="text" name="check_form" class = "check_name" value = "load_image">
                    <input id="file-upload" name="file" type="file" class="get_photo" onchange="submitForm()" accept="image/*">
                </form>
            </div>
            
            <div class="button">
                <p class="button-text">Зробити фото</p>
                <img class="button-image" src="{{ url_for('edit_avatar.static', filename='images/edit_avatar/photo.png') }}" alt="">
            </div>

            <div class="button" onclick="DeletePhoto();">
                <p class="button-text">Видалити поточне фото</p>
                <img class="button-image" src="{{ url_for('edit_avatar.static', filename='images/edit_avatar/can.png') }}" alt="">
            </div>
        </div>

        <div class="bottom-data">
            <div class="data-user">
                <div class="main-data">
                    <div class="avatar-circle">
                        <img class="avatar" data-size="{{ user.size_avatar }}" src="{{ url_for('profile.static', filename='images/edit_avatar/' + user.email +'/'+ user.name_avatar ) }}" alt="avatar">
                    </div>
                    <a class="nick" href="/profile">{{ user.username }}</a>
                    
                    <img id="own-pet" src="{{ url_for('profile.static', filename='images/pets_id/1.png') }}" alt="pet">

                    {% if user.user_profile.pet_id %}
                        <img id="own-pet" src="{{ url_for('profile.static', filename='images/pets_id/' ~ user.user_profile.pet_id ~ '.png') }}" alt="pet">
                    {% endif %}
                </div>
                <div class="antoher-data">
                    <p class="gmail">{{ user.email }}</p>
                    <div class="tests-data">
                        <p class="text-tests">пройдені тести: <p class="number-tests">0</p></p>
                    </div>
                </div>
            </div>
            <div class="welcoming-robot">
                <p class="bottom-text">Дивись як зараз<br>виглядає твій профіль!</p>
                <div class="flash-robot"></div>
                <img class="image-robot" src="{{ url_for('static', filename='images/panel-robot.png') }}" alt="">
            </div>
        </div>
    </div>

    <form action="" id= "default_avatar" method="post">
        <input type="text" class="data_avatar" name="data_avatar" value="default_user">
        <input type="text" name="check_form" value = "defaul_avatar">
    </form>


    <div class="confirm-changing {% if show == 'show' %}show{% else %}net{% endif %}" onchange="ShowPage()">
        <div class="change-text">
            <p>Редагувати фото профілю</p>
            <p class="discription">Ваш новий аватар будуть бачити інші користувачи при натисканні на ваш профіль<br>та під час прохоження спільних тестів</p>
        </div>
        <div class="look-picture">
            <div class="image-user">
                <input type="range" name="input_range" class="size" min="90" max="200" value="100" onchange="ChangeSize()">

                <div class = "blur-image">
                    <img class="bg-image" src="{{ url_for('profile.static', filename = 'images/edit_avatar/' + user.email + '/cash/' +  cash_image) }}" alt="img">
                </div>
                <div class="circle">
                    <img class="bg-image inside" src="{{ url_for('profile.static', filename = 'images/edit_avatar/' + user.email + '/cash/' +  cash_image) }}" alt="img">
                </div>
                <!-- <img class="example-image" src="{{ url_for('profile.static', filename = 'images/edit_avatar/' + user.email + '/'+ user.name_avatar ) }}" alt="img"> -->
            </div>
        </div>
        <div class="change-buttons" >
            <div class="firs_part">
                <form action="" method="post" id = "delete_form">
                    <input type="text" name="check_form" class = "check_name" value = "del_image">
                    <button class="del_current" type="submit">видалити поточне фото</button>
                </form>
                <form action="" method="post">
                    <input type="text" name="check_form" class = "check_name" value = "change_image">
                    <form action="" method="post">
                        <input type="text" name="check_form" class = "check_name" value = "load_image">
                        <label class="change-photo" onclick="loadIMage()" for="file">змінити зозображення</label>
                        <input id="file-upload" name="file" type="file" class="get_photo" onchange="submitForm()">
                    </form>
                </form>
            </div>
            <div class="second_part">
                <form action="" method="post" class="back-image">
                    <input type="text" name="check_form" class = "check_name" value = "back">
                    <button type="submit" class="back">назад</button>
                </form>
                <form action="" method="post" id="apply_image_form">
                    <!-- тут скрытый инпут, чтобы при пост запросе на бек мы могли получить значени что ввел пользователь -->
                    <input type="range" name="hide-size" class="hide-size" min="90" max="200" value="100">
                    <input type="text" name="check_form" class = "check_name" value = "apply_image">
                    <button class="apply " type="submit">застосувати зображення</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('profile.static', filename='js/editInfo.js') }}"></script>
{% endblock scripts %}