{% extends 'base.html' %}

{% block title %}
    Редагувати аватар
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('edit_avatar.static', filename='css/edit_avatar.css') }}">
{% endblock links %}

{% block content %}
    <div class="back-blur"></div>
    <div class="main-block">
        <div class="ava">
            <div class="image" onclick="loadIMage()">
                <img src="{{ url_for('edit_avatar.static', filename='images/edit_avatar/add_new.png') }}" alt="image">
            </div>
            <div class="text">
                <p class="welcoming-text">Оберіть новий аватар</p>
            </div>
        </div>
        <div class="col2">
            <div class="default-avatars">
                <div id = "1" class="img ">
                    <img class="options-avatar" src="{{ url_for('edit_avatar.static', filename='images/edit_avatar/default_avatar1.svg') }}" alt="avatar">
                    <span id = "1" class="agree 1"><img class="agree-img" src="{{ url_for('edit_avatar.static', filename='images/edit_avatar/agree_avatar.svg') }}" alt="img"></span>
                </div>
                <div id = "2" class="img ">
                    <img class="options-avatar" src="{{ url_for('edit_avatar.static', filename='images/edit_avatar/default_avatar2.svg') }}" alt="avatar">
                    <span id = "2" class="agree 2"><img class="agree-img" src="{{ url_for('edit_avatar.static', filename='images/edit_avatar/agree_avatar.svg') }}" alt="img"></span>
                </div>
                <div id = "3" class="img ">
                    <img class="options-avatar" src="{{ url_for('edit_avatar.static', filename='images/edit_avatar/default_avatar3.svg') }}" alt="avatar">
                    <span id = "3" class="agree 3"><img class="agree-img" src="{{ url_for('edit_avatar.static', filename='images/edit_avatar/agree_avatar.svg') }}" alt="img"></span>
                </div>
                <div id = "4" class="img ">
                    <img class="options-avatar" src="{{ url_for('edit_avatar.static', filename='images/edit_avatar/default_avatar4.svg') }}" alt="avatar">
                    <span id = "4" class="agree 4"><img class="agree-img" src="{{ url_for('edit_avatar.static', filename='images/edit_avatar/agree_avatar.svg') }}" alt="img"></span>
                </div>
                <div id = "5" class="img ">
                    <img class="options-avatar" src="{{ url_for('edit_avatar.static', filename='images/edit_avatar/default_avatar5.svg') }}" alt="avatar">
                    <span id = "5" class="agree 5"><img class="agree-img" src="{{ url_for('edit_avatar.static', filename='images/edit_avatar/agree_avatar.svg') }}" alt="img"></span>
                </div>
            </div>
    
            <div class="edit-buttons">
                <div class="button" onclick="loadIMage()">
                    <p class="button-text">Обрати з  галереї</p>
                    <!-- форма завантаження файлу -->
                    <form action="" method="post" id="send-picture" enctype='multipart/form-data'>
                        <label for="file"><img class="button-image" src="{{ url_for('edit_avatar.static', filename='images/edit_avatar/photo.png') }}" alt=""></label>
                        <input type="text" name="check_form" class = "check_name" value = "load_image">
                        <input id="file-upload" name="file" type="file" class="get_photo" onchange="submitForm()" accept="image/*">
                    </form>
                </div>
                
                <div class="button">
                    <p class="button-text">Зробити фото</p>
                    <img class="button-image" src="{{ url_for('edit_avatar.static', filename='images/edit_avatar/photo.png') }}" alt="">
                </div>
    
                <div class="button" onclick="DeletePhoto();">
                    <p class="button-text">Видалити поточне фото</p>
                    <img class="button-image" src="{{ url_for('edit_avatar.static', filename='images/edit_avatar/can.png') }}" alt="">
                </div>
            </div>
        </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('profile.static', filename='js/editInfo.js') }}"></script>
{% endblock scripts %}