{% extends 'base.html' %}

{% block title %}
    Профіль
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('profile.static', filename='css/profile.css') }}">
{% endblock %}

{% block content %}
    <div class="backgroung-glowing"></div>

    <div class="info-container">

        <div class="profile-headerline">
            <div class="main-info">
                <img class="avatar" src="{{ url_for('profile.static', filename='images/edit_avatar/' + user.email +'/'+ user.name_avatar ) }}" alt="avatar">
                <p class="nickname">{{ user.username }}</p>
            </div>
            <a class="avatar-changing" href="/edit_avatar">Змінити фото</a>
        </div>
        <div class="background">
            <img src="{{ url_for('profile.static', filename='images/profile/background.png') }}" alt="" class="background-img">
            <span class="info-block">
                <div class="info-item">
                    <span class="info">
                        <p class="label">Ім’я користувача</p>
                        <p>{{ user.username }}</p>
                    </span>
                    <button class="change" value="name">Змінити</button>
                    <div class="change_name">
                        <form action="" method="post">
                            <!-- чепупеля по которой понимаем какую форму отправили -->
                            <input type="hidden" name="form_name" value="change_name">
                            <input type="text" name="new_name" id="new_name" required>
                            <button type="submit">Змінити</button>
                        </form>
                    </div>
                </div>
                <div class="info-item">
                    <span class="info">
                        <p class="label">Електроннна пошта</p>
                        <p>{{ email }}</p>
                    </span>
                    <button class="change" value = "email">Змінити</button>
                    <div class="change_email">
                        <form action="" method="post">
                            <!-- чепупеля по которой понимаем какую форму отправили -->
                            <input type="hidden" name="form_name" value="email">
                            <input type="num" placeholder="code" name = "code_new_email">
                            <button type="submit">Змінити</button>
                        </form>
                        <form action="" method="post">
                            <input type="hidden" name="form_name" value="send_code">
                            <input type="email" placeholder="email" name="new_email">
                            <button type="submit" value>send code verification</button>
                        </form>
                    </div>
                </div>
                <div class="info-item">
                    <span class="info">
                        <p class="label">Номер телефону</p>
                        <p>{{ phone_user }}</p>
                    </span>
                    <button class="change" value="phone_number">Змінити</button>
                    <div class="change_phone">
                        <form action="" method="post">
                            <!-- чепупеля по которой понимаем какую форму отправили -->
                            <input type="hidden" name="form_name" value="change_phone">
                            <input inputmode="numeric" id = "input_phone" pattern="[\d\+]*$" class="text-input phone {% if phone_shake %}phone_shake{% endif %}" type="tel" maxlength="13" minlength="13" name= "phone_number" placeholder="Введіть номер телефону (починайте з +380)" value="+380" required>
                            <button type="submit">Змінити</button>
                        </form>
                    </div>
                </div>
            </span>
        </div>

    </div>

    <h3 class="text-in-between">Обліковий запис та конфеденційність</h3>
    
    <div class="account-control">

        <div class="control-option">
            <p>Оновити пароль</p>
            <button class="account-button change" value = "password_button">Змінити</button>
            <div class="change_password">
                <form action="" method="post">
                    <!-- чепупеля по которой понимаем какую форму отправили -->
                    <input type="hidden" name="form_name" value="password">
                    <input type="num" placeholder="Текущий" name="old_password">
                    <input type="num" placeholder="Новый" name = "new_password">
                    <button type="submit">Змінити</button>
                </form>
            </div>
        </div>
        <div class="control-option">
            <p>Видалити акаунт</p>
            <button class="account-button">Видалити</button>
        </div>
        <div class="control-option">
            <p>Вийти з акаунта</p>
            <form action="" method="post">
                <input type="hidden" name="form_name" value="logout">
                <button class="account-button" type="submit">Вийти</button>
            </form>
        </div>

    </div>

    <!-- <button onclick="Blur()">Haha</button> -->
    <script src="{{ url_for('profile.static', filename='js/profile.js') }}"></script>
{% endblock %}