{% extends 'base.html' %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('student.static', filename='css/student.css') }}">
{% endblock links %}

{% block content %}
    
    <div class="data-users">
        <div class="waiting-data">

        </div>
        <div class="icons-users">

        </div>
        <div class="bottom-data">

        </div>
    </div>
    <div class="user-data">
        <!-- обвдка для койнтейнера -->
        <div class="line-coint">
            <div class="main-coint">
                <div class="user-info">

                </div>
                <div class="theme-test">

                </div>
                <div class="data-test">

                </div>
                <div class="achievement">

                </div>
            </div>
        </div>
    </div>
{% endblock content %} 

{% block scripts %}
    {{ super() }}
    <!-- <script src="{{ url_for('student.static', filename='js/student.js') }}"></script> -->
{% endblock scripts %}