{% extends 'base.html' %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('profile.static', filename = 'css/user_tests.css') }}">
{% endblock links %}

{% block content %}
    {% if message %}
        <h1 class="title">{{ message }}</h1>
    {% else %}
        <h1 class="title">Твої тести</h1>
    {% endif %}


    <div class="tests">
        {% for test in tests %}
            <div class="test">
                <p>Автор тесту: {{ user.username }}</p>
                <p>Назва тесту: {{ test.title_test }}</p>
                <p>Кількість питаннь: {{ test.questions.count("?%?") + 1 }}</p>
                <a href="/test_preview/{{ test.id }}" style="color: white;">Детальніше про тест</a>
                
                <a class="link" href="{{ url_for('change_tests.render_change_tests') }}?test_id={{ test.id }}">Редагувати тест</a>
                <!-- <a class="link" href="{{ url_for('mentor.render_mentor') }}?test_id={{ test.id }}">Почати тест</a> -->
                <button type="button" onclick="loadRoom();" class="loadroom" value="{{ test.id }}" data-test="{{ code }}">Почати тест</button>

            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('mentor.static', filename='js/mentor.js') }}"></script>
{% endblock scripts %}