main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-form {
    width: 100vw;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

input {
    color: rgba(0, 0, 0, 0.4);
    padding-left: 10px;
    padding-right: 10px;
}

input:focus {
    outline: none;
    box-shadow: none;
}

.create_class {
    width: 80vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.text-title {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.create-button {
    padding: 0.8vw 2vw;
    border-radius: 9px;
    background-color: #A675D0;
    cursor: pointer;
    transition: 0.2s;
}

.create-button:hover{
    background-color: #724a96;
}

.create-button p {
    font-size: 2vh;
}

.input-data {
    width: 60vw;
    height: 55vh;
    border-radius: 15px;
    background-color: rgba(185, 189, 245, 0.38);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.first-text {
    height: 10%;
    width: 90%;
    display: flex;
    justify-content: start;
    align-items: end;
}

.first-text.p {
    font-size: 2.5vh;
}

.second-data {
    width: 90%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.input-name {
    height: 50%;
    width: 40%;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px #000000 solid;
    border-radius: 9px;
    font-size: 2vh;
}

.grade-class {
    height: 80%;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    font-size: 2vh;
}

.bottom-data {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}

.choice {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 9px;
    border: 1px #000000 solid;
    height: 85%;
    width: 36%;
    display: flex;
    font-size: 2.5vh;
    position: relative;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    cursor: pointer;
    font-size: 2vh;
    color: rgba(0, 0, 0, 0.4);
}

.selected-value{
    color: rgba(0, 0, 0, 0.4);
}

.choice p{
    color: rgba(0, 0, 0, 0.4);
}

.arrow-img {
    height: 1.5vh;
    object-fit: contain;
}

.line-img {
    width: 10%;
    height: 100%;
}

.third-data {
    width: 90%;
    height: 40%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.description-class {
    height: 90%;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px #000000 solid;
    border-radius: 9px;
    font-size: 2vh;
    resize: none;
    padding: 10px;
    outline: none;
    color: rgba(0, 0, 0, 0.4);
}

.last-floor {
    width: 90%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.choice-class,
.type-class {
    height: 50%;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px #000000 solid;
    border-radius: 9px;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
}

.type-class {
    height: 60%;
    width: auto;
    padding-left: 2vw;
    padding-right: 2vw;
    background-color: #A675D0;
    display: flex;
    cursor: pointer;
    font-weight: 500;
    transition: 0.2s;
}

.type-class:hover {
    background-color: #9560c4;
}

.type-class p {
    font-size: 2vh;
}

.choice-class p {
    font-size: 2vh;
    color: rgba(0, 0, 0, 0.4);
}

.placeholder-text {
    font-size: 2vh;
}

.main-title {
    font-size: 3vh;
}

.generate-data {
    width: 60vw;
    height: 20vh;
    border: 3px #C99208 solid;
    border-radius: 33px;
    display: flex;
}

.generate {
    padding: 1vw 4vw;
    border-radius: 15px;
    background-color: #B9BDF5;
    transition: 0.2s;
    cursor: pointer;
}

.generate:hover {
    background-color: #8b8fc1;
}

.generate p {
    font-size: 2.5vh;
    color: #000000;
}

.result {
    height: 50%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.result p {
    font-size: 2.5vh;
}

.ready-code {
    width: 80%;
    height: 2px;
    background-color: #ffffff;
}

.dropdown-list {
    position: absolute;
    top: 110%;
    left: 0;
    width: 100%;
    background-color: rgba(220, 220, 220, 0.95);
    border: 1px solid #000;
    border-radius: 8px;
    z-index: 100;
    display: none;
    max-height: 20vh;
    overflow-y: auto;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.dropdown-list.open {
    display: block;
}

.dropdown-item {
    padding: 8px 10px;
    cursor: pointer;
    font-size: 2vh;
    color: #000;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    transition: 0.2s;
    text-align: center;
}

.dropdown-item:last-child {
    border-bottom: none;
}

.dropdown-item:hover {
    background-color: #A675D0;
}

.dropdown-list::-webkit-scrollbar {
    width: 5px;
}

.dropdown-list::-webkit-scrollbar-track {
    background: transparent;
    margin: 5px 0;
}

.dropdown-list::-webkit-scrollbar-thumb {
    background-color: #B0B0B0;
    border-radius: 10px;
    border: 1px solid transparent;
    background-clip: content-box;
}

.dropdown-list::-webkit-scrollbar-thumb:hover {
    background-color: #888;
}

.subject-list .dropdown-item {
    text-align: left;
}

.type-menu {
    background-color: #9d7ad2;
    border: none;
    padding: 10px 0;
    width: 120%;
    left: -10%;
}

.dropdown-item-type {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 1.8vh;
    transition: 0.2s;
}

.dropdown-item-type:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.dropdown-item-type input[type="radio"] {
    margin-right: 10px;
    accent-color: #4b0082;
    transform: scale(1.2);
}

.dropdown-item-type span {
    white-space: nowrap;
}