.background-blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 55.5vh;
    background: linear-gradient(69deg, #3C3C3C 10%, #7c9abd 20%, #74919E 72%, #3C3C3C 5%);
    filter: blur(10vh);
    z-index: -1;
    pointer-events: none;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.window-question{
    position: fixed;
    width: 86vw;
    background-color: #343434;
    border-radius: 3vh;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.answ2{
    display: flex;
    align-items: center;
    justify-content:flex-start;
    padding-left: 2.7vw;
    gap: 0.5vw;
    font-size: 3.4vh;
    padding-bottom: 0.5vh;
    word-break: break-word;
    word-break: break-all;
    flex-direction: row;
    color: #FFFFFF;
}

.answ2 .right-answers-gaps{
    font-size: 1vw;
    margin-bottom: 1.2vh;
}

.space-div{
    width: 100%;
    height: 100%;
    /* background-color: #7291B8; */
    border-bottom-left-radius: 3vh;
    border-bottom-right-radius: 3vh;
}

.question-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: #4DCE36; */
    width: 100%;
    height: 13.4vh;
    color: #FFFFFF;
    font-size: 3.6vh;
    font-weight: 500;
    padding: 0 4vw 0 4vw;
}

.question-text img{
    height: 10vh;
    width: auto;
    object-fit: contain;
}

.back-wind {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #02020297;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
.head2{
    width: 100%;
    height: 4.1vh;
    border-top-left-radius: 3vh;
    border-top-right-radius: 3vh;
    background-color: #abe8f2;
}
.question2{
    width: 10vh;
    height: 10vh;
    background-color: #4DCE36;
}
.div-circle{
    /* background-color: #84ffd8; */
    width: 7.7vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vh;
    flex-direction: column;
    padding-bottom: 3.4vh;
    padding-top: 5.1vh;
}



.avatar{
    width: 10vh;
    height: 10vh;
}

.result{
    width: 55vw;
    height: 12vh;
    border-radius: 3vh;
    border: 0.1vw solid #94C4FF;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #343434;
    color: #FFFFFF;
    font-size: 1.6vw;
    gap: 2vh;
    padding-bottom: 1.2vh;
}

.line{
    position: relative;
    display: flex;
    width: 52vw;
    height: 3vh;
    background-color: #D7FFF2;
    align-items: center;
    overflow: visible;
    border-radius: 3vh;
}

.fill{
    background: #84ffd8;
    height: 100%;
    width: 0%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    border-radius: 3vh;
    transition: width 1s ease-in-out;
    overflow: hidden;
}

.text-perc{
    color: #FFFFFF;
}

.quard{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    width: 5vw;    
    min-width: 50px;
    height: 6vh; 
    background-color: #C48AF7;
    border-radius: 2vh; 
    align-items: center;
    justify-content: center;
    z-index: 0;
    position: absolute;
    left: -1%;
    transition: left 1s ease-in-out
}


.btn{
    width: 37.5vw;
    height: 6.5vh;
    border-radius: 1.5vh;
    background-color: #C48AF7;
    color: #FFFFFF;
    border-style: none;
    font-size: 2.4vh;
    cursor: pointer;
}
.justify-btn{
    display: flex;
    gap: 5.1vh;
    margin: auto;
    margin-top: 9.5vh;
}
.inf{
    width: 85vw;
    height: 29.6vh;
    border: 0.1vh, solid, #C48AF7;
    background-color: #8abbf71a;
    border-radius: 2.4vh;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 8.1vh;
}
.prt1{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    justify-content: center;
    gap: 5.5vh;
}
.prt3{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0;
}
.img{
    padding-top: -1vh;
    width: 7vh;
    height: 7vh;
}
.block-1{
    display: flex;
    width: 20vw;
    height: 7.8vh;
    border: 0.2vh, solid, #FF5A5E;
    background-color: #343434;
    border-radius: 1vh;
    position: relative;
    flex-direction: column;
    color: #FFFFFF;
    align-items: center;
    justify-content: center;
    font-size: 1.6vh;
    gap: 5vh;
}
.img-achiv{
    display: flex;
    position: absolute;
    top: -1.5vh;
    left: -1.5vh;
    width: 4vw; 
    height: 4vw;
    border-radius: 50%;
    object-fit: contain;
}


.block-2{
    display: flex;
    width: 20vw;
    height: 7.8vh;
    border: 0.2vh, solid, #4DCE36;
    background-color: #343434;
    border-radius: 1vh;
    position: relative;
    flex-direction: column;
    color: #FFFFFF;
    align-items: center;
    justify-content: center;
    font-size: 1.6vh;
    gap: 0.5vh;
}
.block-3{
    display: flex;
    width: 20vw;
    height: 7.8vh;
    border: 0.2vh, solid, #FABE19;
    background-color: #343434;
    border-radius: 1vh;
    position: relative;
    flex-direction: column;
    color: #FFFFFF;
    align-items: center;
    justify-content: center;
    font-size: 1.6vh;
    gap: 0.5vh;
}
.block-4{
    display: flex;
    width: 20vw;
    height: 7.8vh;
    border: 0,2vh, solid, #F2F5B9;
    background-color: #343434;
    border-radius: 1vh;
    position: relative;
    flex-direction: column;
    color: #FFFFFF;
    align-items: center;
    justify-content: center;
    font-size: 1.6vh;
    gap: 0.5vh;
    margin-bottom: -2vh;
}

.robots{
    display: flex;
    justify-content: space-around;
    gap: 67.3vh;
}
.header{
    color: #FFFFFF;
    background-color: #343434;
    border-top-left-radius: 3.4vh;
    border-top-right-radius: 3.4vh;
    height: 13.9vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 2.2vh;
    gap: 1vh;
}
.space{
    width: 110.2vh;
    margin: auto;
    border-radius: 3.4vh;
    margin-top: 8.05vh;
    position: relative;
}
.img-backgr {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    border-radius: 3.4vh;
    z-index: -1;
    pointer-events: none;
}
.question{
    border: 1px solid #94C4FF;
    border-radius: 3vh;
    width: 86.6vh;
    background-color: #343434;
    margin: auto;
    color: #FFFFFF;
}

.question img{
    height: 25vh;
    width: auto;
    object-fit: contain;
}

.correct-head{
    width: 100%;
    height: 4.1vh;
    border-top-left-radius: 3vh;
    border-top-right-radius: 3vh;
    background-color: #D7FFF2;
}

.uncorrect-head{
    width: 100%;
    height: 4.1vh;
    border-top-left-radius: 3vh;
    border-top-right-radius: 3vh;
    background-color: #FF767C;
}

.skip-head{
    width: 100%;
    height: 4.1vh;
    border-top-left-radius: 3vh;
    border-top-right-radius: 3vh;
    background-color: #bdbdbd;
    color: #343434;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 2.2vh;
}

.yellow-head{
    width: 100%;
    height: 4.1vh;
    border-top-left-radius: 3vh;
    border-top-right-radius: 3vh;
    background-color: #f1e272;
}

.quest-text{
    font-size: 3.6vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 4.8vh;
    padding-bottom: 4vh;
    margin: 0 4vw 0 4vw;
}

.correct-circle{
    background-repeat: no-repeat;
    background-position-x: center;
    width: 4.5vh;
    height: 4.5vh;
    background-color: #BBE3B3;
    border-radius: 50%;
    flex-shrink: 0; 
}

.correct-quard{
    background-repeat: no-repeat;
    background-position-x: center;
    width: 4.5vh;
    height: 4.5vh;
    background-color: #BBE3B3;
    border-radius: 0.7vh;
    flex-shrink: 0; 
}

.answ2 .correct-circle, .answ2 .right-circle, .answ2 .orange-quard, .answ2 .correct-quard, .answ2 .corrected-quard{
    background-image: url("../images/galka.svg");
    background-repeat: no-repeat;
    background-position: center; 
    background-size: contain; 
    background-size: 70%; 
}

.answ2 .right-answs{
    margin-left: -2.6vw;
    position: absolute;
    width: 100%;
    height: 5.7vh;
    background-color: #D9D9D9;
    opacity: 0.1;
}

.orange-circle{
    width: 4.5vh;
    height: 4.5vh;
    background-color: #f1e272;
    border-radius: 50%;
    flex-shrink: 0; 
}
.orange-quard{
    background-repeat: no-repeat;
    background-position-x: center;
    width: 4.5vh;
    height: 4.5vh;
    background-color: #f1e272;
    border-radius: 0.7vh;
    flex-shrink: 0; 
}
.simple-circle, .right-circle{
    width: 4.5vh;
    height: 4.5vh;
    background-color: #D9D9D9;
    border-radius: 50%;
    flex-shrink: 0; 
}
.simple-quard, .corrected-quard{
    width: 4.5vh;
    height: 4.5vh;
    background-color: #D9D9D9;
    border-radius: 0.7vh;
    flex-shrink: 0;
}
.uncorrect-circle{
    width: 4.5vh;
    height: 4.5vh;
    border-radius: 50%;
    flex-shrink: 0; 
    background-color: #FF767C;
}
.uncorrect-quard{
    width: 4.5vh;
    height: 4.5vh;
    border-radius: 0.7vh;
    flex-shrink: 0; 
    background-color: #FF767C;
}
.answ{
    display: flex;
    align-items: center;
    justify-content:flex-start;
    padding-left: 2.5vw;
    gap: 0.5vw;
    font-size: 3.2vh;
    padding-bottom: 3.5vh;
    word-break: break-word;
    word-break: break-all;
    position: relative;
}

.answ img{
    height: 10vh;
    width: auto;
    object-fit: contain;
    padding-left: 5vw;
}


.answ .right-answers-gaps{
    display: none;
}

.answer-img{
    height: 10vh;
    max-width: 18vw;
    object-fit: contain;
    margin-left: 5vw;
}

.robots2{
    display: flex;
    gap: 75.3%;
    position: absolute;
}


.blocks-div{
    display: flex;
    gap: 0.5vw;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.input-block{
    height: 9vh;
    border: 0.2vh solid transparent;
    background-color: #bdbdbd;
    border-radius: 0.5vh;
    width: 5vw;
    color: #ffffff;
    font-size: 3.4vh;
    letter-spacing: 0.05vh;
    transition: border 0.2s ease, background-color 0.5s ease, color 0.2s ease;
    outline: none;
    text-align: center;      
    min-width: 30px;     
    min-height: 40px;
    cursor: pointer;
    display: flex;
}

.gap-block{
    width: 0.5vw;
    background-color: none;
}
.input-block:hover{
    border: 0.2vh solid #979595;
    background-color: #abaaaa;
    color: #ffffff;
}

.correct-block{
    background-color: #BBE3B3;
}

.correct-block:hover{
    border: 0.2vh solid #95db87;
    background-color: #b2e7a7;
    color: #ffffff;
}

.uncorrect-block{
    background-color: rgba(246, 101, 103, 0.71);
}

.uncorrect-block:hover{
    border: 0.2vh solid rgba(239, 86, 88, 0.71);
    background-color: rgba(233, 91, 94, 0.71);
    color: #ffffff;
}

.questions{
    padding-bottom: 4vw;
    padding-top: 4vw;
    gap: 3vw;
    display: flex;
    flex-direction: column;
}

.center-blocks{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 0;
    padding-bottom: 0;
}

.answ2 .blocks-div{
    margin-bottom: 4vh;
}

@media (max-width: 800px){

    .big-div{
        width: 100%;
    }
    .space{
        width: 90%;
    }
    .question{
        width: 90%;
    }
    .head{
        width: 100%;
    }
    .result{
        width: 100%;
    }
    .line{
        width: 90%;
    }
    .inf{
        width: 100%;
    }

    .robots{
        gap: 190px;
    }
    .avatar{
        width: 50px;
        height: 50px;
    }
    .prt1{
        /* flex-wrap: wrap; */
        flex-direction: column;
        gap: 35px;
    }
    .inf{
        width: 400px;
        height: 500px;
    }
    .quest-text{
        font-size: 30px;
    }
    .answ{
        font-size: 25px;
    }
    .circle{
        width: 25px;
        height: 25px;
    }
    .btn{
        width: 250px;
        height: 50px;
    }
}
@media (min-width: 801px) and (max-width: 1020px){
    .space{
        width: 90%;
    }
    .question{
        width: 90%;
    }
    .head{
        width: 100%;
    }
    .result{
        width: 80%;
    }
    .line{
        width: 90%;
    }
    .inf{
        width: 100%;
    }
}
@media (min-width: 1021px) and (max-width: 1500px){
    .space{
        width: 70%;
    }
    .question{
        width: 90%;
    }
    .head{
        width: 100%;
    }
    .result{
        width: 70%;
    }
    .line{
        width: 90%;
    }
    .inf{
        width: 70%;
    }

}

.midle-time{
    display: flex;
    flex-direction: row;
}
/* главный контейнер */

.big-div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65%;
    height: 44vh;
    border-radius: 24px;
    border: 1px solid #8AF7D4;
    background-color: #8abbf72f;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 81px;
    padding: 15px;
    position: relative;
    min-height: 200px;
    min-width: 500px;
}

.small-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 95%;
    height: 100%;
    border-radius: 24px;
    background-color: #343434;
    align-items: center;
}

.name-div{
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: start;
}

.info{
    height: 60%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.name{
    color: #ffffff;
    font-size: 2.1vw;
}



.email-user {
    font-size: 1vw;
    color: #9ec2ed;
    font-weight: 600;
    transition: all 0.3s ease;
    cursor: pointer;
}

.email-user:hover {
    color: #ffffff;
    transform: scale(1.01);
    text-decoration: underline;
}
.note{
    display: flex;
    flex-direction: column;
    width: 80%;
}

.note p{
    color: #ffffff;
    font-weight: 350;
    font-size: 1vw;
}

.note-div{
    width: 100%;
    display: flex;
    padding: 3px;
    background-color: #3C3C3C;
    border: 1px #FFB700 solid;
    border-radius: 10px;
}

.note-div p{
    color: #ffffff;
    font-weight: 500;
}

.note-div img{
    height: 95%;
    width: auto;
    object-fit: contain;
}

.midle-info{
    height: 90%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.correct-avatar{
    position: absolute;
    left: 0;
    top: 0;
    transform: translateX(-14px) translateY(-14px);
    width: 26%;
    aspect-ratio: 1 / 1;  /* всегда равная ширина и высота */
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.correct-avatar img{
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.avatar-circle {
    width: 71%;
    aspect-ratio: 1 / 1;  /* всегда равная ширина и высота */
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar-circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;   
}

.prt-2{
    width: 40%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.r{
    display: flex;
    flex-direction: column;
    height: 40%;
    width: 100%;
    justify-content: space-between;
}

.anim{
    height: 40%;
    width: 60%;
    display: flex;
    flex-direction: column;
}

.anim p{
    color: #ffffff;
    font-weight: 350;
    font-size: 1vw;
}

.animal{
    width: 100%;
    padding: 0.3vw;
    height: 71%;
    background-color: #3C3C3C;
    border: 1px solid #C48AF7;
    display: flex;
    position: relative;
    border-radius: 10px;
}

#own-pet{
    height: 100%;
    width: auto;
    object-fit: contain;
}

.tests{
    display: flex;
    flex-direction: row;
    gap: 0.3vw;
}
.passed-tests{
    color: #D6E8FE;
    font-size: 1.2vw;
}

.num{
    color: #FFE177;
    font-size: 1.2vw;
}

.buttons{
    width: 100%;
    height: 12%;
    display: flex;
    justify-content: space-between;
}


.btn-1, .btn-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid;
    cursor: pointer;
    padding: 0;
    text-align: center;
    white-space: nowrap; /* текст в одну строку */
    font-weight: 450;

    font-size: 0.8vw; 
}

.btn-1 {
    width: 60%;
    height: 100%;
    background-color: #7291B8;
    border-color: black;
    color: #ffffff;
    font-size: 0.9vw; 
}

.btn-2 {
    width: 38%;
    height: 100%;
    background-color: #D6E8FE;
    border-color: #94C4FF;
    color: #000000;
}


/*====================
  Кнопки
  ====================*/

.buttons button {
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.btn-1 {
    background-color: #7291B8;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

.btn-1:hover {
    background-color: #637da0; 
}

.btn-2 {
    background-color: #D6E8FE;
    color: #343434;
    border: 2px solid #94C4FF;
    cursor: pointer;
}

.btn-2:hover {
    background-color: #c0d8f3;
    border-color: #7a9fd6; 
}

.btn {
    background-color: #C48AF7;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #a47af4; 
}

.window-question {
    position: fixed;
    width: 866px;
    background-color: #343434;
    border-radius: 30px;
    top: 50%;
    left: 50%;
    
    /* Начальное состояние для анимации */
    transform: translate(-50%, 150%); /* Сдвигаем окно вниз на 150% его высоты */
    
    /* Добавляем transition для плавного перехода */
    transition: transform 0.5s ease-in-out;
}