{% extends 'base.html' %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('finish_test.static', filename = 'css/finish.css') }}">
{% endblock links %}

{% block content %}
    <div class="background-blur"></div>
    <div class="big-div">
        <div class="small-div">
            <div class="info">
                <div>
                    <p class="name">{{ user.username }}</p>
                    <p>{{ email }}</p>
                </div>
                <div class="note">
                    <p>Ваші бали</p>
                    <div class="note-div">
                        <p class="user_pimpa"></p>
                        <img class="money" src="{{ url_for('finish_test.static', filename='images/money.png'  ) }}" alt="avatar">
                    </div>
                </div>
            </div>
            
            <div class="avatar-circle">
                <img class="avatar" src="{{ url_for('profile.static', filename='images/edit_avatar/' + user.name_avatar ) }}" alt="avatar">
            </div>

            <div class="prt-2">
                <div class="r">
                    <div class="anim">
                        <p>Улюбленець</p>
                    <div class="animal"></div>
                    </div>
                    
                    <div class="tests">
                        <p class="text">Пройдені тести:</p>
                        <p class="num">20</p>
                    </div>
                </div>
                
                <div class="buttons">
                    <button class="btn-1">поділитися результатом </button>
                    <button class="btn-2">додати у вибране</button>
                </div>
            </div>
        </div>
    </div>
    
    
    <div class="result">
        <p>Точність</p>
        <div class="line">
            <div class="fill" data-accuracy="{{ accuracy }}"></div>
            <div class="quard">
                <div class="text-perc">
                    <p>0%</p>
                </div>
            </div>
        </div>  
    </div>


    
    <div class="justify-btn">
        <button class="btn play_again" value="">пройти знов</button>
        <button class="btn" onclick="window.location.replace('/')">знайти інший тест</button>
    </div>
    
    <div class="inf">
        <div class="prt1">
            <div class="block-1">
                <img class="img-achiv" src="{{ url_for('finish_test.static', filename='images/del.png'  ) }}" alt="img">
                <p class="uncorrect-answers"></p>
                <p>Невірних відповідей</p>
            </div>
            <div class="block-2">
                <img class="img-achiv" src="{{ url_for('finish_test.static', filename='images/done.png'  ) }}" alt="img">
                <p class="correct-answers"></p>
                <p>Вірних відповідей</p>
            </div>
            <div class="block-3">
                <img class="img-achiv" src="{{ url_for('finish_test.static', filename='images/time.png'  ) }}" alt="img">
                <div class="seckond">
                    <p class="midle-time"></p>
                    <p>s</p>
                </div>
                <p>Час/питання</p>
            </div>
        </div>
        <div class="prt3">
            <img class="img" src="{{ url_for('finish_test.static', filename='images/salut1.png'  ) }}" alt="img">
            <div class="block-4">
                <img class="img-achiv" src="{{ url_for('profile.static', filename='images/edit_avatar/default_avatar.png'  ) }}" alt="avatar">
                <p class="mark"></p>
                <p>Балів</p>
            </div>
            <img class="img" src="{{ url_for('finish_test.static', filename='images/salut2.png'  ) }}" alt="img">
        </div>
        <div class="robots">
            <img class="img" src="{{ url_for('finish_test.static', filename='images/robo1.png'  ) }}" alt="img">
            <img class="img" src="{{ url_for('finish_test.static', filename='images/robo2.png'  ) }}" alt="img">
        </div>
    </div>

    <div class="space">
        <img class="img-backgr" src="{{ url_for('finish_test.static', filename='images/fon.png'  ) }}" alt="img"> 
        <div class="header">
            <p>Оглядові питання</p>
            <p>натисніть на запитання, щоб поачити відповіді</p>
        </div>
        <div class="questions">

        </div>
        
    </div>

    <!-- <h1>Ви набрали <p class="user_pimpa"></p> із <p class="user-pampa"></p>{{amount_questions}} питання</h1> -->
    <!-- <p class="accuracy">accuracy = </p> -->
{% endblock content %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('finish_test.static', filename='js/finish_test.js') }}" defer></script>
{% endblock scripts %}