*{
    font-size: 2vh;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: #3C3C3C;
    color: white;
}

.background-blur {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(170deg, #3C3C3C 10%, #7c9abd 20%, #74919E 42%, #3C3C3C 5%);
    filter: blur(10vh);
    z-index: -1;
    pointer-events: none;
}

form{
    z-index: 1;
}

.join-game {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 1vh;
    width: 100vw;
    height: 35vh;
    padding-top: 2vh;
}


.join-game h1 {
    font-size: 4vh;
}

.join-game p {
    font-size: 3vh;
}

.input-code {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    padding: 0.6vh;
    gap: 1vw;
    width: 30vw;
}

.input-code input {
    padding: 1vh;
    border: none;
    width: 24vw;
}

.input-code button {
    padding: 1vh 1vw;
    background-color: #8AF7D4;
    color: black;
    border: none;
    cursor: pointer;
}
.input-code, .input-code input, .input-code button{
    border: solid 0.3vh black;
    border-radius: 1vh;
}

.cointeiner {
    width: 100vw;
    height: 100vh;
    display: flex;
    position: fixed;
    top: 0;
    justify-content: center;
    flex-direction: row;
    align-items: end;
    overflow: hidden;   
    /* padding-bottom: 40px;  */
}

.card {
    cursor: pointer;
    flex-grow: 0;
    flex-shrink: 0;
    height: 45vh;
    width: 16vw;
    border: 0.05vh solid black;
    z-index: 1;
    transition: 1s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 4vh;
    overflow: hidden;
}

p{
    cursor: pointer;
}

.card-img{
    background-color: green;
    width: 100%;
    height: 50%;
    border-radius: 4vh 4vh 0 0;
}

.card-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.card-discription{
    width: 100%;
    height: 50%;
    background-color: #343434;
    border-radius: 0 0 4vh 4vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name-test{
    padding-bottom: 10%;
    font-size: 2.5vh;
}

.interisting-text{
    color: #a19e9e;
    font-size: 1.6vh;

}

.link-test{
    padding-top: 10%;
    font-size: 2vh;
}

img{
    position: relative;
    width: 100%;
    height: 100%;
}

.transition2 {
    transform: translateY(15vh) translateX(5vw) rotate(-15deg);
    background-color: blue;
}

.transition2:hover {
    transform: translateY(0px) translateX(5vw);
    z-index: 11;
}

.transition3 {
    transform: translateY(5vh) translateX(2vw) rotate(-11deg);
    background-color: blueviolet;
}

.transition3:hover {
    transform: translateY(0px) translateX(2vw);
    z-index: 11;
}

.transition4 {
    transform: translateY(0px);
    background-color: cadetblue;
    z-index: 5;
}

.transition4:hover {
    transform: translateY(-2vh);
    z-index: 11;
}

.transition5 {
    transform: translateY(5vh) translateX(-2vw) rotate(11deg);
    background-color: chartreuse;
    z-index: 4;
}

.transition5:hover {
    transform: translateY(0px) translateX(-2vw);
    z-index: 11;
}


.transition6 {
    transform: translateY(15vh) translateX(-5vw) rotate(15deg);
    background-color: black;
    z-index: 3;
}

.transition6:hover {
    transform: translateY(0px) translateX(-5vw);
    z-index: 11;
}