body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: #3C3C3C;
    color: white;
}

.background-blur {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(170deg, #3C3C3C 10%, #7c9abd 20%, #74919E 42%, #3C3C3C 5%);
    filter: blur(100px);
    z-index: -1;
    pointer-events: none;
}

form{
    z-index: 1;
}

.join-game {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 10px;
    /* border: 2px green solid; */
    width: 100vw;
    height: 35vh;
    padding-top: 2vh;
}


.join-game h1 {
    font-size: 2.8vw;
}

.join-game p {
    font-size: 1.7vw;;
}

.input-code {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    padding: 0.6vh;
    gap: 1vw;
    width: 34vw; 
    border: solid 0.15vh black;
    border-radius: 1vh;
}

.input-code input {
    padding: 1vh;
    border: none;
    width: 77%;
    font-size: 1rem; 
    border: solid 0.15vh black;
    border-radius: 0.8vh;
}

.input-code button {
    padding: 1vh 1.2vw;
    background-color: #8AF7D4;
    color: black;
    border: none;
    cursor: pointer;
    width: 23%;
    font-size: 1rem;
    border: solid 0.15vh black;
    border-radius: 0.8vh;
}


.cointeiner {
    width: 100vw;
    height: 100vh;
    display: flex;
    position: fixed;
    top: 0;
    justify-content: center;
    flex-direction: row;
    align-items: end;
    overflow: hidden;   
    padding-bottom: 40px; 
}

.card {
    cursor: pointer;
    flex-grow: 0;
    flex-shrink: 0;
    width: 19vw;        
    height: 48vh;      
    border: 0.15vh solid black;
    z-index: 1;
    transition: 1s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 3vh;
    overflow: hidden;
    position: relative;
}

p{
    cursor: pointer;
}

.card-img {
    width: 100%;
    height: 50%;
    border-radius: 3vh 3vh 0 0;
}

.card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3vh 3vh 0 0;
}

.card-discription {
    width: 100%;
    height: 50%;
    background-color: #343434;
    border-radius: 0 0 3vh 3vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 0;
}



.name-test {
    padding-bottom: 6%;
    font-size: 1.5vw;
}

.interisting-text {
    color: #a19e9e;
    font-size: 1.1vw;
    text-align: center;
}

.link-test {
    padding-top: 6%;
    font-size: 1.1vw;
}


img{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 34px 34px 0px 0px;
}



.transition2 {
    transform: translateY(25vh) translateX(10vw) rotate(-14deg);
    z-index: 3;
    transition: transform 0.6s ease, box-shadow 0.6s ease, background-color 0.6s ease;
}

.transition3 {
    transform: translateY(15vh) translateX(4vw) rotate(-10deg);
    z-index: 4;
    transition: transform 0.6s ease, box-shadow 0.6s ease, background-color 0.6s ease;
}

.transition4 {
    transform: translateY(9vh) translateX(0vw) rotate(0deg);
    z-index: 5;
    transition: transform 0.6s ease, box-shadow 0.6s ease, background-color 0.6s ease;
}

.transition5 {
    transform: translateY(15vh) translateX(-4vw) rotate(10deg);
    z-index: 4;
    transition: transform 0.6s ease, box-shadow 0.6s ease, background-color 0.6s ease;
}

.transition6 {
    transform: translateY(25vh) translateX(-10vw) rotate(14deg);
    z-index: 3;
    transition: transform 0.6s ease, box-shadow 0.6s ease, background-color 0.6s ease;
}



.transition2, .transition3, .transition4, .transition5, .transition6 {
  transition: transform 0.6s ease, box-shadow 0.6s ease, background-color 0.6s ease;
  cursor: pointer;
}

.card:hover{
  transform: translateY(0) scale(1.08);
  box-shadow: 0 15px 25px rgba(0,0,0,0.35);
  filter: brightness(1.1);
  z-index: 11;
}

.card:hover {
  transform: translateY(0) scale(1.08);
  box-shadow: 0 20px 35px rgba(169, 172, 172, 0.4); 
  filter: brightness(1.05);
  z-index: 11;
}

.transition2:hover {
  transform: translateY(0px) translateX(100px) rotate(-11deg) scale(1.08);
}

.transition3:hover {
  transform: translateY(0px) translateX(50px) rotate(-11deg) scale(1.08);
}

.transition4:hover {
  transform: translateY(-20px) translateX(0) rotate(0deg) scale(1.08);
}

.transition5:hover {
  transform: translateY(0px) translateX(-50px) rotate(11deg) scale(1.08);
}

.transition6:hover {
  transform: translateY(0px) translateX(-100px) rotate(11deg) scale(1.08);
}


/* Псевдоелемент для glow */


.blur-background {
    position: absolute;
    bottom: 5vh;
    width: 70vw;
    height: 35vh;
    background: radial-gradient(
        ellipse at center,
        rgba(27, 177, 237, 0.6),
        rgba(0, 0, 0, 0)
    );
    filter: blur(60px);
    z-index: 0;
    pointer-events: none;
}
