*{
    margin: 0;
    padding: 0;
    font-size: 2.5vh;
}

.background-blur {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(69deg, #3C3C3C 10%, #7c9abd 20%, #74919E 72%, #3C3C3C 5%);
    filter: blur(10vw);
    z-index: -1;
    pointer-events: none;
}


body{
    display: flex;
    flex-direction: column;
}


header {
    margin-bottom: 2.5vw;
}

.top-part {
    position: relative;
    top: -5vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    cursor: pointer;
    /* background-color: gold; */
    gap: 3vw;
    height: fit-content;
    margin: 10vh 1vw;
}

.enter-code {
    display: flex;
    flex-direction: column;
    background-color: #D6E8FE;
    border-radius: 2vh;
    padding: 2vh;
    border: 1px black solid;
    width: 60%;
    height: 25vh;
    overflow: hidden;
}

.data-user {
    display: flex;
    flex-direction: column;
    background-color: none;
    border: 1px black solid;
    width: 22%;
    height: 25vh;
    border-radius: 2vh;
    overflow: hidden;
}

.main-data {
    display: flex;
    flex-direction: row;
    background-color: #343434;
    gap: 1vw;
    padding: 1.5vh;
    overflow: hidden;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 40%;
}

.avatar{
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.avatar-circle {
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7vh;
    height: 7vh;
    border: 0.1vh black solid;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
}

.username{
    font-size: 3vh;
    color: #ffffff;
}

#own-pet{
    width: 5vh;
    height: 5vh;
}

.antoher-data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 1vh 1vw;
    gap: 30%;
    width: 100%;
    height: 60%;
}

.antoher-data .text-tests, .antoher-data .gmail, .nick {
    opacity: 0.8;
    color: #D6E8FE;
    font-weight: 500;
    font-size: 2vh;
    text-decoration: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.tests-data {
    display: flex;
    flex-direction: row;
}

.tests-data img{
    width: 7vw;
}

.number-tests {
    color: #FFE177;
    font-weight: bold;
}

.text-tests {
    margin-right: 0.5vw;
}

.main-input {
    display: flex;
    flex-direction: row;
    gap: 2%;
    gap: 2%;
    background-color: #ffffff;
    border: 0.3vh black solid;
    padding: 0.5vh;
    border-radius: 2vh;
    width: 60%;
    height: 8vh;
}

.main-input input{
    border: 0.3vh black solid;
    border-radius: 1vh;
    width: 90%;
    height: 100%;
    color: #636262;
    font-weight: bold;
    font-size: 2vh;
    padding-left: 2vw;
}

.main-input button {
    background-color: #8AF7D4;
    color: #000000;
    border: 0.3vh black solid;
    font-weight: bold;
    border-radius: 1vh;
    padding: 1vh;
    font-size: 2vh;
    width: 20%;
    height: 100%;
    text-align: center;
    overflow: hidden;
}

.main-input button:hover {
    background-color: #77d8b9;
    transform: scale(1.01);
}

.cards-floor {
    width: 100vw;
    height: 45vh;
    margin-bottom: 1vh;
}

.show-more {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 2vw;
}

.show-more .show-more-link {
    background-color: #C48AF7;
    color: #ffffff;
    border-radius: 0.5vh;
    text-decoration: none;
    margin: 1vh;
    padding: 1vh;
    text-align: center;
    font-size: 2vh;
    font-weight: bold;
    font-weight: 1.2vw;
}

.tests-topic {
    background-color: #7291B8;
    color: #ffffff;
    border-radius: 0.5vh;
    text-decoration: none;
    margin: 1vh;
    padding: 1vh;
    text-align: center;
    font-size: 2vh;
    font-weight: bold;
    font-size: 1.2vw;
}

.cards {
    width: 100%;
    height: 85%;
    padding: 1vh;
    gap: 2vw;
    display: flex;
    flex-direction: row;
}

.card {
    position: relative;
    width: 21%;
    height: 85%;
    overflow: hidden;
    flex-direction: column;
    background-color: #D6E8FE;
    border-radius: 3vh;
    justify-content: end;
    border: 0.0625vw black solid;
    cursor: pointer;
}

.card_image {
    width: 100%;
    height: 65%;
    z-index: 1;
}

.topic-test {
    color: #343434;
    font-size: 3vh;
    font-weight: 600;
}

a {
    text-decoration: none;
}

.card_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    border-radius: 0 0 5vw 5vw;
}

.discription {
    width: 100%;
    background-color: #D6E8FE;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: start;
    font-weight: 600;
}

.test-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 20%;
    padding: 2vh 2vw;
    color:#343434;
    font-size: larger;
}

.discription-test {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 80%;
    padding-left: 1vw;
    gap: 1vw;
}

.image-robot {
    bottom: 0;
    right: 0;
    margin-right: 1vw;
    position: absolute;
    width: 5vh;         
    height: auto;
    z-index: 10;         
}
.static-theme{
    color:#C48AF7;
}

.theme-test {
    color: #343434;
    font-weight: 1.2vw;
}

.filter-test {
    width: 100vw;
    height: 14vh;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1vh;
}

.filter-input {
    width: 35vw;
    height: 9vh;
    background-color: #C7D7EB;
    color: 636262;
    font-weight: bolder;
    padding: 3%;
    border-radius: 2vh;
    border: 1vh solid #343434; /* чёрная внешняя обводка внутри интпуута */
    box-shadow: 0 0 0 1px #8AF7D4; 
    font-size: 3vh;
}

.submit-filter {
    overflow: hidden;
    position: absolute;
    z-index: 10;
    bottom: 0;
    right: 0;
    height: 0;
    width: 12%;
    height: 90%;
    margin-right: 2%;
    border-radius: 2vh;

}

.submit-filter {
    background: transparent;
    border: none;
}

.submit-filter img {
    width: 60%;
    height: 60%;
    background-color: transparent;
}

.filter-test form {
    position: relative;
    width: fit-content;
}