#eye {
    cursor: pointer;
}

.main {
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.content-login{
    display: flex;
    width: 50vw;
    height: 90vh;
}


.login{
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #343434;
    border: 2px solid #B9BDF5;
    border-radius: 30px;
    height: 50vh;
    width: 40vw;
    align-items: center;
    padding: 30px 0px
}

.login form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    gap: 10px;
}

.text-input {
    border: solid 2px black;
    border-radius: 10px;
    width: 80%;
    height: 16%;
    max-height: 70px;
    color: #414141;
    background-color: #B9BDF5;
    text-align: center;
    font-size: 20px;
}

.password-container{
    position: relative;
    display: flex;
    width: 80%;
    height: 17%;
}

.password-container .text-input{
    width: 100%;
    height: 100%;
}

.password-container img{
    position: absolute;
    right: 5%;
    z-index: 3;
    width: 25px;
    height: 25px;
}

.hidden{
    display: none;
}

.send-data{
    border: solid 1px black;
    border-radius: 10px;
    width: 40%;
    height: 50px;
    background-color: #C48AF7;
    color: white;
    text-align: center;
    font-size: 20px;
}

.user-status{
    display: flex;
    gap: 30px;
    width: 80%;
}

.user-status label{
    width: 50%;
    color: white;
    font-size: 20px;
}

.status-input{
    width: 50px;
    transform: scale(2); 
}

.background{
    display: flex;
    align-items: center;
    justify-content: center;
}
.glowing-area{
    position: absolute;
    left: 15%;
    width: 70%;
    height: 30%;
    background-color: #B9BDF5;
    filter: blur(100px);
}

.avatar{
    width: 100px;
    height: 100px;
    border: 3px solid #000000;
    border-radius: 50%;
}
.if-not{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5vw;
}

.robot{
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 2vw;
    margin-bottom: 1.5vw;
    width: 130px;
    height: 190px;
}

.info-text p{
    color: white;
    font-size: 24px;
}


.email_input, .password{
    animation: shake 0.4s;
    /* animation-iteration-count: infinite; */
}

.problem {
    color: #ffffff;
}

/* создаем как бы обьект для анимации */
/* transfron:translate передвигает обьект по осям, а rotate поворачивает тем самым создается эффект траски */
/* Проценты это как бы фреймы анимации можно делать больше таких фреймов(кадров), а можно меньше */
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@media (max-width: 900px){
    .content-login{
        padding: 50px 10px;
        height: auto;
    }
}

@media(max-width: 1370px){
    .robot{
        display: none;
    }
    .robot-glowing-area{
        display: none;
    }
}

