.main {
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* font-size: 2vh; */
}

input:focus {
    outline: none;
}


.text-input, .send-data, .problem, .if-not p, .if-not a, .user-status label, input{
    font-size: 2vh;
}

.content-login{
    display: flex;
    width: 100vw;
    height: 90vh;
}


.login{
    position: relative;
    /* max-width: 600px;
    max-height: 500px; */
    z-index: 3;
    display: flex;
    flex-direction: column;
    background-color: #343434;
    border: 2px solid #B9BDF5;
    border-radius: 30px;
    height: 50vh;
    width: 40vw;
    align-items: center;
    padding: 2vw 0; 
    border-radius: 30px;
    min-width: 300px;
    /* max-height: 40vh;
    width: 90%;
    max-width: 500px; */
}

.login form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.text-input {
    border: solid 2px black;
    border-radius: 10px;
    width: 80%;
    height: 16%;
    color: #414141;
    background-color: #B9BDF5;
    text-align: center;
}


.password-container{
    position: relative;
    display: flex;
    width: 80%;
    height: 16%;
}

.password-container .text-input{
    width: 100%;
    height: 100%;
}

.password-container img{
    position: absolute;
    cursor: pointer;
    right: 5%;
    z-index: 3;
    height: 50%;
}

.hidden{
    display: none;
}

.send-data{
    border: solid 1px black;
    border-radius: 10px;
    width: 40%;
    height: 14%; 
    background-color: #C48AF7;
    color: white;
    text-align: center;
    /* font-size: 2vh; */
    transition: 0.2s;
    cursor: pointer;
}

.send-data:hover{
    background-color: #bc79f6;;
}

.user-status{
    display: flex;
    gap: 30px;
    width: 80%;
}

.user-status label{
    width: 50%;
    color: white;
    /* font-size: 2vh; */
}

.status-input{
    width: 50px;
    transform: scale(2); 
}

.background{
    display: flex;
    align-items: center;
    justify-content: center;
}
.glowing-area{
    position: absolute;
    left: 15%;
    width: 70%;
    height: 30%;
    background-color: #B9BDF5;
    filter: blur(100px);
}
.img-avatar{
    height: 25%;
    position: relative;
}

.avatar{
    height: 100%;
}
.if-not{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5vw;
}

/* .if-not p, .if-not a{
    font-size: 2vh;
} */


.robot{
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 2vw;
    margin-bottom: 1.5vw;
    width: 10vw;
    height: 15vw;
}

.info-text p{
    color: white;
    /* font-size: 2vh; */
}


.email_input, .password{
    animation: shake 0.4s;
}

.problem {
    color: #ffffff;
    /* font-size: 2vh; */
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@media (max-height: 500px) {
    .login{
        width: 25vw;
        height: 85vh;
    }

    .text-input {
        height: 20%;
    }


    .password-container{
        height: 20%;
    }

    .text-input, .send-data, .problem, .if-not p, .if-not a, .user-status label, input{
        font-size: 3vh;
    }

}

@media (max-width: 678px){
    .login{
        width: 95vw;
    }

    .text-input, .password-container{
        width: 90%;
    }
}

/* @media (max-width: 768px){
    .login{
        width: 70vw;
        height: 35vh;
    }
}

@media(max-width: 900px) and(min-width: 769px){
    .login{
        width: 50vw;
    }
}
@media (max-height: 400px){
    .text-input, .send-data, .problem, .if-not p, .if-not a, .user-status label, input{
        font-size: 3vh;
    }
    
    .login{
        width: 30vw;
        height: 80vh;
    }

    .text-input {
        border: solid 2px black;
        border-radius: 10px;
        width: 80%;
        height: 20%;
        color: #414141;
        background-color: #B9BDF5;
        text-align: center;
    }


    .password-container{
        position: relative;
        display: flex;
        width: 80%;
        height: 20%;
    }

    .login{
        padding: 0;
    }

    .login form{
        height: 95%;
    }
} */

/* @media (max-width: 900px){
    .content-login{
        padding: 5vw 1vw;
        height: auto;
    }
}

@media(max-width: 1370px){
    .robot{
        display: none;
    }
    .robot-glowing-area{
        display: none;
    }
}

@media (min-width: 1500px){

    .login{
        height: 50vh;
        width: 36vw;
    }

    .password-container, .text-input{
        height: 21%;
    }
} */