* {
    margin: 0;
    padding: 0;
}

.password {
    cursor: pointer;
}

header{
    background-color: #343434;
    display: flex;
    height: 10vh;
    color: #ffffff;
    align-items: center;
    justify-content: space-between;
}