.password {
    cursor: pointer;
} 

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    color: black;
}

input {
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}