.block-registration{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 70vh;
    background-color: aquamarine;
}

.registration {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    color: black;
}

input {
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

button {
    background-color: #8AF7D4;
    color: black;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.password {
    cursor: pointer;
}
