#eye1, #eye2{
    position: absolute;
    right: 5%;
    z-index: 103;
    height: 50%;
    width: auto;
}

input:focus {
    outline: none;
}


#eye2{
    z-index: 99;
}

#clear-form{
    display: none;
}

.content-registration{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
    background-color: #3C3C3C;
    height: 90vh;
    align-items: center;
    gap: 7vw; 
}

.registration{
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    gap: 1.5vw; 
    background-color: #343434;
    border: 2px solid #B9BDF5;
    border-radius: 30px;
    height: 90%;
    width: 40vw;
    align-items: center;
    padding: 2vw 0px; 
}

.registration form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    gap: 1%;
}

.text-input {
    border: solid 2px black;
    border-radius: 10px;
    width: 80%;
    height: 10%;
    color: #414141;
    background-color: #B9BDF5;
    text-align: center;
    font-size: 2vh;
}

.text-input::placeholder{
    color: #414141;
    font-size: 2vh;
    font-weight: 600;
}



.password-checklist, .username-checklist{
    position: absolute;
    top: calc(80%);
    width: 90%;
    padding: 1.5vw 2vw; 
    background: #414141;
    border-radius: 15px;
    opacity: 0;
    pointer-events: none;
    transform: translateY(1.5vw); 
    transition: .5s ease;
    z-index: 100;
    border: 2px #ffffff solid;
    display: flex;
    flex-direction: column;
    gap: 0.5vw; 
    justify-content: center;
    align-items: start;
}

.username_input{
    z-index: 120;
}

.username-checklist{
    z-index: 119;
}

.top-part {
    width: 100%;
    margin-top: 0;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;  
    gap: 0.7vw;   
}

.top-part h3{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-checklist{
    margin: 0;
    padding: 0;
    width: auto; 
    height: 3.5vh;
    object-fit: contain;
}

.password-input{
    z-index: 101;
}

.password-input:focus ~ .password-checklist{
    opacity: 1;
    pointer-events: all;
    transform: translateY(0);
}

.username_input:focus ~ .username-checklist{
    opacity: 1;
    pointer-events: all;
    transform: translateY(0);
}

.checklist-title{
    color: #ffffff;
    font-size: 2vh; 
    font-weight: 500;
}

.checklist{
    margin-top: 0.7vw; 
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.7vw; 
    height: auto;
    justify-content: center;
    align-items: start;
    /* background-color: green; */
    line-height: 1.1;
    /* background-color: gray; */
}

/* .list-item, .username-item{
    transform: translatey(-0.15vw); 
} */

.first-rule{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 0px;
    /* background-color: orange; */
    position: relative;
}

.icon-item{
    width: auto; 
    height: 3vh;
    /* height: 1vh; */
    margin: 0;
    padding: 0;
    transition: "";
} 

.like1, .like2, .like3, .username-like1 , .username-like2{
    display: none;
}

.list-item, .username-item{
    padding-left: 0.7vw; 
    color: #ffffff;
    font-weight: 300;
    font-size: 2vh;
}

.checklist-line {
    margin-left: 2.5vw; 
    opacity: 0;
    width: 0;
    height: 1px;
    background-color: #C48AF7;
    transform: translateY(-0.5vw); 
    transition: width 1s ease, opacity 0.3s ease;
}

.password-container, .sua{
    position: relative;
    display: flex;
    width: 80%;
    height: 10%;
}

.password-container .text-input, .sua .text-input{
    width: 100%;
    height: 100%;
}


.hidden1, .hidden2{
    display: none;
}

.send-data{
    border: solid 1px black;
    border-radius: 10px;
    width: 40%;
    background-color: #C48AF7;
    padding: 1.2vh 1vh;
    color: white;
    text-align: center;
    font-size: 2vh;
    transition: 0.2s;
    cursor: pointer;
}

.send-data:hover{
    background-color: #bc79f6;;
}


.user-status{
    display: flex;
    align-items: end;
    justify-content: start;
    gap: 2vw; 
    width: 80%;
    height: 6%;
    /* background-color: green; */
}

.user-status label{
    height: 100%;
    color: white;
    font-size: 2vh;
    /* background-color: orange; */
    display: flex;
    position: relative;
}


input[type='radio'],
label {
  cursor: pointer;
}

input[type='radio'] {
  position: relative;
  height: 100%;     
  aspect-ratio: 1/1; 
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  display: flex;      
  align-items: center;
  justify-content: center;
}

/* Зеленый круг (фон) */
input[type='radio']::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Центрируем точно по середине инпута */
  height: 90%;       /* Теперь можно 100%, так как инпут — квадрат */
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-color: #8AF7D4;
  border: 2px solid #000;
  box-sizing: border-box;
}

/* Фиолетовый круг (точка) */
input[type='radio']:checked::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Центрируем точно по середине инпута */
  height: 60%;        /* Делаем точку чуть меньше фона */
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-color: #B9BDF5;
  border: 2px solid #000;
  box-sizing: border-box;
}

.background{
    display: flex;
    align-items: center;
    justify-content: center;
}
.glowing-area{
    position: absolute;
    top: 40%;
    left: 15%;
    width: 70%;
    height: 30%;
    background-color: #B9BDF5;
    filter: blur(100px);
}

.img-avatar{
    height: 15%;
    position: relative;
}

.avatar{
    height: 100%;
}

.if-not{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3vw; 
    font-size: 2vh;
    height: 6%;
    position: relative;
}

.email-auth{
    height: 100%;
    display: flex;
    gap: 2px;
}



.email-auth:hover{
    cursor: pointer;
    .reg-text{
        text-decoration: underline;
    }
}

.change-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 0.5vw; 
    position: relative;
    height: 100%;
}
.change-page p{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.7vw; 
    font-size: 2vh;
}

.robot{
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 2vw;
    margin-bottom: 1.5vw;
    width: 10vw; 
    height: 15vw;
}

.email_input, .conf_password, .phone_shake{
    animation: shake 0.4s;
}

.problem {
    color: #ffffff;
    font-size: 2vh;
}

/* .if-yes{
    background-color: green;
} */

.if-yes p{
    font-size: 2vh;
}

.change-page a{
    font-size: 2vh;
    height: 50%;
    position: relative;
    text-decoration: none;
}

.change-page a:hover{
    text-decoration: underline;
}

.google-image{
    height: 100%;
    position: relative;
    /* background-color: green; */
}

.icon-google{
    height: 100%;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@media (max-width: 1200px) {
    .registration {
        width: 50vw;
    }
}

@media (max-width: 1000px) {
    .registration {
        width: 55vw;
    }
    .if-yes p, .change-page a {
        font-size: 1.8vh;
    }
}

@media (max-width: 900px) {
    .registration {
        width: 70vw; 
    }
}

@media (max-width: 800px) {
    .registration {
        width: 85vw; 
        height: 65%;
    }
}

@media (max-width: 800px) and (max-height: 400px) {
    .registration {
        width: 55vw; 
        height: 85%;
    }
}


@media (max-height: 450px) and (min-width: 801px){
    .registration {
        width: 20vw; 
        height: 95%;
    }
}

@media (max-width: 678px){
    .registration{
        width: 95vw;
    }

    .if-not{
        flex-direction: column;
        height: 6%;
        gap: 0.5vw;
    }

    .img-checklist{
        margin: 0;
        padding: 0;
        width: auto; 
        height: 3vh;
        object-fit: contain;
        margin-top: 2px;
    }
}

/* @media (max-width: 900px){
    .content-registration{
        padding: 5vw 1vw;
        height: auto;
    }
    .registration{
        width: 80%;
        font-size: 16px; 
    }
    .text-input {
        width: 80%;
        height: 40px;
        font-size: 16px; 
    }
    .text-input::placeholder{
        font-size: 16px;
    }
    .password-container .text-input, .sua .text-input{
        width: 100%;
        height: 40px;   
    }
}

@media(max-width: 1370px){
    .robot{
        display: flex;
        width: 6vw; 
        height: 8vw;
        right: 1vw;
    }
    .robot-glowing-area{
        display: none;
    }
}

@media(max-width: 600px){
    .password-container .text-input, .sua .text-input{
        width: 100%;
        height: 40px;   
    }
    .text-input {
        width: 80%;
        height: 40px;

    }
    .robot{
        display: flex;
        width: 6vw; 
        height: 8vw;
        right: 1vw;
    }
    .checklist-title, .list-item, .username-item, .change-page p {
        font-size: 14px;
    }
} */

#passwordLabel{
    margin: 0 5vw;
}