.body-ferify{
    display: flex;
    width: 100vw;
    height: 90vh;
    flex-direction: column;
    /* gap: 34px; */
    background-color: #414141;
    align-items: center;
    justify-content: center;
}

.text-ferify {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    gap: 10px;
    /* margin-bottom: 10px; */
    color: #ffffff;
    text-align: center;
    width: 100vw;
    height: 30vh;
}
.time{
    font-size: 15px;
}
.again{
    width: 157px;
    height: 5px;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: #ffffff;
    border: none;
    cursor: pointer;
}
.again:hover{
    color: rgb(100, 103, 218);
}

.butt-again{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: -25px;
    
}

.butt-again p{
    color: rgb(172, 179, 179);
    font-weight: 600;
    font-size: 14px;
}

.butt-again a{
    text-decoration: none;
    color: #ffffff;
    color: rgb(172, 179, 179);
    font-weight: 600;
    font-size: 14px;
}

.butt-again a:hover{
    transition: 0.1s;
    color: rgb(100, 103, 218);
}

button{
    cursor: pointer;
    transition: 0.2s;
}

/* button:hover {
background-color: #D6E8FE;
box-shadow: 0 2px #000000;
transform: translateY(4px);
color: #000000;
} */

p {  
    font-size: 24px;
    color: #ffffff;
    /* font-weight: lighter; */
}

.input-code {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px 10px 18px 10px;
    justify-content: center;
    align-items: center;
    height: 14vh;
    width: 40vw;
}

input {
    border-radius: 10px;
    position: relative;
    min-width: 30px;
    width: 12%;
    height: 100%;
    min-height: 40px;
    border: none;
    color: #414141;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: larger;
}


.buttons-verify {
    display: flex;
    flex-direction: row;
    padding: 10px 10px 28px 10px;
    gap: 15px;
    width: 71vw;
    height: 10vh;
    justify-content: center;
    align-items: center;
}

.home-button, button{
    text-decoration: none;
    background-color: #B9BDF5;
    border: solid 1px black;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    color: #414141;
    gap: 10px;
    padding: 10px 17px 10px 17px;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input:focus{
    background-color: #B9BDF5;
}

.div-button{
    background-color: aliceblue;
}


.buttom-part{
    width: 100vw;
    height: 40vh;
    background-color: green;
}

form{
    display: flex;
    /* background-color: yellow; */
    padding-top: 40px;
    flex-direction: column;
    gap: 20px;
    width: 100vw;
    height: 60vh;
    justify-content: start;
    align-items: center;
    /* margin-bottom: 50px; */
}


@media (min-width: 1441px) and (max-width: 2000px){
    input {
    border-radius: 10px;
    position: relative;
    min-width: 30px;
    width: 10%;
    height: 100%;
    min-height: 40px;
    border: none;
    color: #414141;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: larger;
    }
}

@media(min-width: 2001px){
    input{
        height: 120px;
        width: 71px;
    }

    p{
        font-size: 40px;
    }

    .home-button, .submit{
        width: 200px;
        height: 71px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

#clear_code {
    display: none;
}