{% extends 'base.html' %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('mentor.static', filename ='css/finish_student.css') }}">
{% endblock links %}

{% block content %}
    <div class="info-card">
        <div class="results">
            <img src="{{ url_for('student.static', filename='images/student/result.svg' ) }}" alt="">
            <p>Результати тесту: </p>
        </div>
    </div>
    <div class="stud-info-card">

    </div>
    
    
{% endblock content %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('student.static', filename='js/recconect.js') }}" defer></script>
    <script src="{{ url_for('student.static', filename='js/student_result.js') }}"></script>
{% endblock %}
