{% extends 'base.html' %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('mentor.static', filename='css/finish_mentor.css') }}">
    <link rel="stylesheet" href="{{ url_for('mentor.static', filename='css/personal_user.css') }}">
    <link rel="stylesheet" href="{{ url_for('mentor.static', filename='css/questions_diagrams.css') }}">
{% endblock %}

{% block content %}
    <div class="blur"></div>
    <div class="pseudo-header">
        <p class="text-result">Результати тесту:</p>

        <div class="buttons">
            <div class="button-question button-header">
                <p>перелік питань</p>
            </div>

            <div class="load-excel button-header">
                <!-- <img src="{{ url_for('mentor.static', filename='images/finish_mentor/download_icon.svg') }}" alt=""> -->
                <p>Завантажити Excel</p>
            </div>
        </div>
    </div>

    <div class="main-data">
        <div class="left-part">

            <div class="head-buttons">
                <div class="left-buttons">
                    <div class="all-users">
                        <p>Усі учасники (<span class="count-users"></span>)</p>
                    </div>
                    <div class="solo-wrapper">
                        <div class="solo-data">
                            <p class="text-button">Окремо</p>
                            <img src="{{ url_for('mentor.static', filename='images/finish_mentor/show_more.svg') }}" alt="show_more">
                        </div>

                        <div class="dropdown-users">
                        </div>
                    </div>

                </div>

                <div class="save-result">
                    <p>Зберегти результат</p>
                </div>
            </div>

            <!-- <div class="personal-data">

                <div class="points-user">
                    <p class="points-text">200/200</p>
                    <div class="block-accuracy">
                        <p>Бали</p>
                        <p>Точність</p>
                    </div>
                </div>

                <div class="personal-accuracy">
                    <p>100%</p>
                    <p>Точність</p>
                </div>

                <div class="avarage-time">
                    Середній час:
                    <div class="time-text">
                        <p>12хв</p>
                    </div>
                </div>
            </div> 

             <div class="user-questions">
                <p class="info-text">Детальний аналіз відповідей</p>
                <div class="all-questions">
                    <div class="question-header">
                        <div class="nums">
                            #
                        </div>
                        <div class="question-part">
                            Питання
                        </div>
                        <div class="answer-part">
                            Ваша відповідь
                        </div>
                        <div class="part-result">
                            Результат
                        </div>
                    </div>
                    <div class="questions-cont">
                        <div class="question-example">
                            <div class="nums">
                                <p>1</p>
                            </div>
                            <div class="question-block">
                                <p>Для чого я существую взагалі?</p>
                            </div>
                            <div class="answer-block">
                                <p>Я сам хз бро</p>
                            </div>
                            <div class="result-block">
                                <p>правильно</p>
                            </div>
                        </div>
                        <div class="question-example dark-example">
                            <div class="nums">
                                <p>1</p>
                            </div>
                            <div class="question-block">
                                <p>Для чого я существую взагалі?</p>
                            </div>
                            <div class="answer-block">
                                <p>Я сам хз бро</p>
                            </div>
                            <div class="result-block">
                                <p>правильно</p>
                            </div>
                        </div>
            
                    </div>
                </div>
            </div>  -->


            <div class="users">
                <div class="head-titles">
                    <div class="left-category">
                        <p class="place">місце</p>

                        <p class="name">ім'я учня</p>
                    </div>
                    <div class="right-category">
                        <p class="points">бали</p>

                        <p>точність</p>
                    </div>
                </div>

                <div class="list-users">

                </div>
            </div>

            <div class="check-page">
                <p>Переглянути сторінку:</p>
                <div class="page">
                    <p>1</p>
                </div>
            </div>

        </div>

        <div class="right-part">
            <div class="first-diagram">
                <p>Загальна точність: <span class="accuracy-result">0%</span></p>
                <select id="choice-diagram" name="diagram" value="general">
                        <option value="general">Загальна діаграма</option>
                        <option value="column-diagram">Стовпчикова діаграма</option>
                        <option value="dots-diagram">Точкова діаграма</option>
                    </select>
                <div class="diagram-pie">
                    <canvas id="myChart" class="myChart"></canvas>
                </div>
            </div>

            <div class="line"></div>
                
            <div class="data-accuracy">
                <!-- <div class="user-tips">
                    <div class="correct-answers div-answer">
                        <div class="left-block">
                            <div class="sighn-correct"></div>
                            <p>Правильні відповіді</p>
                        </div>
                        <div class="text-num">
                            <p>6</p>
                        </div>
                    </div>
                    <div class="uncorrect-answers div-answer">
                        <div class="left-block">
                            <div class="sighn-uncorrect"></div>
                            <p>Не правильні відповіді</p>
                        </div>
                        <div class="text-num">
                            <p>6</p>
                        </div>
                    </div>
                    <div class="unanswered-answers div-answer">
                        <div class="left-block">
                            <div class=" "></div>
                            <p>Пропущені відповіді</p>
                        </div>
                        <div class="text-num">
                            <p>6</p>
                        </div>
                    </div>
                </div> -->
                <div class="bar-chart-container">
                    <canvas id="accuracyChart"></canvas>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    {{ super() }}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{{ url_for('mentor.static', filename='js/finish_mentor.js') }}" defer></script>
    <script src="{{ url_for('mentor.static', filename='js/choice-diagram.js') }}" defer></script>
    <script src="{{ url_for('mentor.static', filename='js/recconect.js') }}" defer></script>
    <script src="{{ url_for('mentor.static', filename='js/diagram_questions.js') }}" defer></script>
    <script src="https://cdn.sheetjs.com/xlsx-0.20.1/package/dist/xlsx.full.min.js"></script>
{% endblock %}