{% extends 'base.html' %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('mentor.static', filename ='css/finish_student.css') }}">
{% endblock links %}

{% block content %}
    <div class="background-blur"></div>

    <div class="switch-buttons">
        <button>Результати тесту</button>
        <a href="/questions" class="button">Огляд питань</a>
    </div>

    <div class="bottom-info">
        <div class="left-part">

            <div class="big-div">
                <div class="small-div">

                    <div class="info">
                        <div class="name-div">
                            {% if user.user_profile %}
                                <p class="name">{{ user.username }}</p>
                                <p class="email-user"><a href="/profile" class="email-user" style="text-decoration: none;">{{ user.email }}</a></p>
                            {% else %}
                                <p>Guest</p>
                                <p>guest@gmail.com</p>
                            {% endif %}
                        </div>
                        <div class="note">
                            <p>ваші бали</p>
                            <div class="note-div">
                                {% if user.user_profile %}
                                    <p>{{ user.user_profile.count_money }}</p>
                                {% else %}
                                    <p>0</p>
                                {% endif %}
                                <img class="money" src="{{ url_for('finish_test.static', filename='images/coin.svg'  ) }}" alt="avatar">
                            </div>
                        </div>
                    </div>
                    
                    <div class="midle-info">
                        <div class="avatar-circle da">
                            {% if current_user.is_authenticated %}
                                <img data-size="{{ user.size_avatar }}" class="avatar" src="{{ url_for('profile.static', filename='images/edit_avatar/' + user.name_avatar ) }} alt="avatar">
                            {% else %}
                                <img data-size="{{ user.size_avatar }}" class="avatar" src="{{ url_for('profile.static', filename='images/edit_avatar/' + user.name_avatar ) }} alt="avatar">
                            {% endif %}
                        </div>
                    </div>
                    

                    <div class="prt-2">
                        <div class="r">
                            <div class="anim">
                                <p>Улюбленець</p>
                                <div class="animal">
                                    {% if user.user_profile %}
                                        <!-- <div class="pet1"> -->
                                        <img id="own-pet" src="{{ url_for('profile.static', filename='images/pets_id/' ~ user.user_profile.pet_id ~ '.png') }}" alt="pet">
                                        <!-- </div> -->
                                    {% else %}
                                        <div class="pet1">
                                            <p class="text">немає</p>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            
                            
                            <div class="tests">
                                <p class="passed-tests">пройдені тести:</p>
                                {% if user.user_profile %}
                                    <p class="num">{{ user.user_profile.count_tests }}</p>
                                {% else %}
                                    <p class="num">не зареєстрован</p>
                                {% endif %}
                            </div>
                        </div>
                        
                        <div class="buttons">
                            <button type="button" class="btn-1 copy-result">поділитися результатом </button>
                            <button class="btn-2 add-favorite">додати у вибране</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="bottom-data">
                <div class="result">
                    <p>Точність</p>
                    <div class="line">
                        <div class="fill"></div>
                        <div class="quard">
                            <div class="text-perc">
                                <p>0%</p>
                            </div>
                        </div>
                    </div>  
                </div>

                <div class="justify-btn">
                    <button class="btn play_again" value="">пройти знов</button>
                    <button class="btn" onclick="window.location.replace('/')">знайти інший тест</button>
                </div>
            </div>

    
        </div>
        <div class="right-part">
            <div class="prt1">
                <img class="big-confeti" src="{{ url_for('finish_test.static', filename='images/confeti.svg') }}">
                <img class="small-confeti" src="{{ url_for('finish_test.static', filename='images/confeti.svg') }}">
                <img class="second-robot" src="{{ url_for('finish_test.static', filename='images/robot.svg') }}">
                <div class="block-4 block">

                    <div class="correct-avatar">
                        {% if user.user_profile %}
                            <img data-size="{{ user.size_avatar }}" class="avatar" src="{{ url_for('profile.static', filename='images/edit_avatar/' + user.email +'/'+ user.name_avatar ) }}" alt="avatar">
                        {% else %}
                            <img class="avatar" src="{{ url_for('profile.static', filename='images/edit_avatar/default_avatar.svg') }}" alt="avatar">
                        {% endif %}
                    </div>
                    <p class="mark"></p>
                    <p class="text-mark"></p>
                </div>

                <div class="block-1 block">
                    <img class="img-achiv" src="{{ url_for('finish_test.static', filename='images/del.svg'  ) }}" alt="img">
                    <p class="uncorrect-answers"></p>
                    <p>Невірних відповідей</p>
                </div>
                <div class="block-2 block">
                    <img class="img-achiv" src="{{ url_for('finish_test.static', filename='images/done.svg'  ) }}" alt="img">
                    <p class="correct-answers"></p>
                    <p>Вірних відповідей</p>
                </div>
                <div class="block-3 block">
                    <img class="img-achiv" src="{{ url_for('finish_test.static', filename='images/time.svg'  ) }}" alt="img">
                    <div class="seckond">
                        <p class="midle-time"></p>
                    </div>
                    <p>Час/питання</p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('student.static', filename='js/student_result.js') }}"></script>
    <script src="{{ url_for('student.static', filename='js/recconect.js') }}" defer></script>
{% endblock %}