{% extends 'base.html' %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('mentor.static', filename = 'css/settings_mentor.css') }}">
{% endblock links %}

{% block content %}
    <div class="overlay" id="overlay"></div>

    <div class="question-cont">
        <div class="open-menu" id="openMenuBtn">
            <img src="{{ url_for('student.static', filename = 'images/click.svg') }}" alt="">
        </div>

        <div class="question-test">
            <div class="num-question">
                <p class="num-que"></p>
            </div>

            <div class= "question-bg">
                <p class="question-text">
                </p>
            </div>

        </div>


        <div class="answers-test">

        </div>
    </div>

    <div class="side-menu">
        <button class="close-menu" id="closeMenuBtn">&times;</button>

        <div class="timer-section margin-timer">
            <div class="timer-box">
                <span id="timer-display">00:00</span>
            </div>
        </div>

        <div class="divider"></div>

        <div class="participants-section">
            <div class="section-header">
                <span class="title">УЧАСНИКИ</span>
                <span class="count text-people">0/0</span>
            </div>
            
            <div class="users-list-container outline-users">

            </div>
        </div>

        <div class="controls-section">
            <div class="playback-controls">
                <button class="ctrl-btn pause stop-button">
                    <svg viewBox="0 0 24 24" fill="currentColor"><rect x="6" y="4" width="4" height="16"></rect><rect x="14" y="4" width="4" height="16"></rect></svg>
                </button>
                <button class="ctrl-btn add-time">+15</button>

               <button class="ctrl-btn next end_question">
                    <svg viewBox="0 0 24 24" fill="currentColor">
                        <path d="M4 18l8.5-6L4 6v12zm9-12v12l8.5-6L13 6z"></path>
                    </svg>
                </button>

                <button class="ctrl-btn stop open-modal-btn">
                    <svg viewBox="0 0 24 24" fill="currentColor"><rect x="6" y="6" width="12" height="12"></rect></svg>
                </button>
            </div>

            <button class="view-answers-btn check-answers">
                Переглянути відповіді
            </button>
        </div>
    </div>

    <div class="window-end">
        <h1>Закінчення тесту</h1>
        <p>Ви впевнені, що хочете примусово закінчити тест?</p>
        <div>
            <p class="decline-ending">Скасувати</p>
            <p class="end_test">Завершити</p>
        </div>
    </div>
{% endblock content %}


{% block scripts %}
    {{ super() }}
    
    <script src="{{ url_for('mentor.static', filename='js/settings_mentor.js') }}"></script>
    <script src="{{ url_for('mentor.static', filename='js/control_time.js') }}"></script>
    <script src="{{ url_for('mentor.static', filename='js/end_test.js') }}"></script> 
    <script src="{{ url_for('mentor.static', filename='js/side_menu.js') }}"></script>
{% endblock scripts %}
