{% extends 'base.html' %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('mentor.static', filename = 'css/settings_mentor.css') }}">
{% endblock links %}

{% block content %}
    <span data-cross="{{ url_for('mentor.static', filename='images/cross_student.svg') }}" class="hide-ava"></span>
    <div class="test-part">
        <div class="question-test">
            <div class="num-question">
                <p class="num-que">10/10</p>
            </div>
            <div class= "question-bg">
                <p class="question-text"></p>
            </div>
        </div>
        <div class="answers-test">
            
        </div>

        <div class="test-settings">
            <div class="count-persons">
                <img src="{{ url_for('mentor.static', filename = 'images/people.svg') }}" alt="">
                <span class="num-people">12</span>
            </div>

            <p class="time-text">УПРАВЛІННЯ<br>ЧАСОМ</p>
            <div class="part-timer">
                <img class="robo-img" src="{{ url_for('mentor.static', filename = 'images/robot-time.svg') }}" alt="kjn">
                <div class="main-taimer">
                    <div class="left-part">
                        <p>00</p>
                    </div>
                    <div class="right-part">
                        <p>00</p>
                    </div>
                </div>
                <div class="time">

                </div>
            </div>

            <div class="line"></div>

            <div class="first-buttons-group">
                <button class="first-button">Додати<br>час</button>
                <button class="first-button stop-button">Зупинити<br>час</button>
                <button class="first-button end_question">Завершити<br>питання</button>
                <button class="first-button add-time">+15 Секунд</button>
            </div>

            <div class="second-buttons-group">
                <button class="button-second end-test">закінчення тесту</button>
                <button class="button-second check-answers">подивитися відповіді</button>
            </div>
        </div>
    </div>

    <div class="users">
        <div class="count-answered">
            <p class="count-answered-people"></p>
            <span class="count-people"></span>
        </div>
        
        <div class="outline-users">

        </div>
    </div>
{% endblock content %}


{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('mentor.static', filename='js/mentor_passing.js') }}"></script>
    <script src="{{ url_for('mentor.static', filename='js/control_time.js') }}"></script>
{% endblock scripts %}
